<div id="print-section">
    <div class="row">
        <div class="col-12">
            <p>Client: &nbsp;&nbsp; {{selectedData?.Details?.ClientName}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Vehicle: &nbsp;{{selectedData?.Details?.VehicleModel}}</div>
        <div class="col-4 text-center">{{selectedData?.Details?.VehicleMake}}</div>
        <div class="col-4 text-right">{{selectedData?.Details?.VehicleColor}}</div>
    </div>
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6 text-right">
            <div class="row">
                <div class="col-12">
                    <P class="text-center"><strong>Detail Packages</strong></P>
                    <div *ngFor="let addService of detailService">
                        <p class="text-center">{{addService}}</p>
                           
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    <P class="text-center"><strong>Vehicle Upcharge</strong></P>
                    <p class="text-center">{{upchargeService}}</p>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-12">
                    <P class="text-center"><strong>Air Fresheners</strong></P>
                    <p class="text-center">{{airfreshService}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>In: &nbsp; {{selectedData?.Details?.TimeIn | date : 'MM/dd/yyyy, hh:mm a'}}</div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12">
            <div>Out: &nbsp; {{selectedData?.Details?.EstimatedTimeOut | date: 'MM/dd/yyyy, hh:mm a'}}</div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12">
            <div>Est: &nbsp; {{minutes}} &nbsp;Min</div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12 text-center">
            <strong>New Customer Info</strong>
        </div>
    </div>
    <br/>
    
    <br/>
    <div class="row">
      
        <div class="col-12">
            <div> Name: &nbsp;  {{selectedData?.Details?.ClientName}}</div>
        
        </div>
      
    </div>
    <br/>
    <div class="row">
       
        <div class="col-12">
            <div> Phone: &nbsp; {{selectedData?.Details?.PhoneNumber}}</div>
        </div>
       
    </div>
    <br/>
    <div class="row">
      
        <div class="col-12">
            <div> Email: &nbsp; {{selectedData?.Details?.Email}}</div>
       
        </div>
    
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-12">
            <div>Note: {{selectedData?.Details?.Notes}}</div>
        </div>
    </div>
</div>
