<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
        <div class="card m-b-10">
            <div class="card-body">
                <div class="tab-content">
                    <div class="title-border p-b-20 m-b-15">
                        <h5 class="d-inline-block">Bonus List</h5>&nbsp;
                        <button type="button" class="btn btn-md theme-primary-button-color float-right"
                        (click)="addBonus()">Add New Bonus  </button>
                    </div>
                   
                    <div class="setup-wrapper">
                        <div class="setup-content" id="open-collapse">
                            <div class="search-container ">
                                <div class="form-row">
                                    <div class="form-group col-lg-3  col-lg-offset-1 m-l-30">
                                        <label>Location:</label>
                                        <app-location-dropdown (emitLocation)="onLocationChange($event)">
                                        </app-location-dropdown>
                                    </div>
                                    <div class="form-group col-lg-offset-1 col-lg-2 m-l-60">
                                        <label>Month:</label>
                                        <app-month-picker (emitMonth)='onMonthChange($event)'></app-month-picker>
                                    </div>
                                    <div class="form-group col-lg-2 m-l-60">
                                        <label>Year:</label>
                                        <app-year-picker (emitYear)="onYearChange($event)"></app-year-picker>
                                    </div>                     
                                    <div class="form-group col-lg-2 m-l-55">
                                        <label>Status:</label>
                                        <div class="m-t-8"><strong>Pending</strong></div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table  table-striped m-t-10" aria-labelledby="bonus-setup" *ngIf="!isLoading">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Min</th>
                                            <th scope="col" class="text-center">Max</th>
                                            <th scope="col" class="text-center">No. of washes</th>
                                            <th scope="col" class="text-center">Bonus Amount</th>
                                            <th scope="col" class="text-center">Total</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bonus of monthBonusList; let i = index">
                                            <td>
                                                <input type="text" numbersOnly [(ngModel)]="bonus.Min" (change)="validateMinValue(bonus, i)"
                                                    [ngClass]="{ 'is-invalid': submitted && bonus.Min === '' || isValueMax && bonus.Min === '' || isMinValueObj?.isMinValue && isMinValueObj?.index === i && bonus.Min !== ''}"
                                                    class="form-control rounded-0 input-table text-right">
                                                <div *ngIf="submitted && bonus.Min === ''" class="invalid-feedback">
                                                    Enter Min value
                                                </div>
                                                <div *ngIf="isValueMax && bonus.Min === ''" class="invalid-feedback">
                                                    Enter Min value
                                                </div>
                                                <div *ngIf="isMinValueObj?.isMinValue && isMinValueObj?.index === i && bonus.Min !== ''" class="invalid-feedback">
                                                     Range combination already added
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" numbersOnly [(ngModel)]="bonus.Max"
                                                    (change)="validateMaxValue(bonus, i)"
                                                    [ngClass]="{ 'is-invalid': submitted && bonus.Max === '' || isValueMax && bonus.Max === '' || isValueObj?.isValueMax && isValueObj?.index === i }"
                                                    class="form-control rounded-0 input-table text-right">
                                                <div *ngIf="submitted && bonus.Max === ''" class="invalid-feedback">
                                                    Enter Max value
                                                </div>
                                                <div *ngIf="isValueMax && bonus.Max === ''" class="invalid-feedback">
                                                    Enter Max value
                                                </div>
                                                <div *ngIf="isValueObj?.isValueMax && isValueObj?.index === i && bonus.Max !== ''" class="invalid-feedback">
                                                    Max value should be greater than Min value
                                                </div>
                                            
                                            </td>
                                            <td>
                                                <input type="text" numbersOnly [(ngModel)]="bonus.noOfWashes" [disabled]='true'
                                                    class="form-control rounded-0 input-table text-right">
                                            </td>
                                            <td>
                                                <input type="text" numbersOnly [(ngModel)]="bonus.BonusAmount"
                                                    [ngClass]="{ 'is-invalid': submitted && bonus.BonusAmount === ''|| isValueMax && bonus.BonusAmount === '' }"
                                                    class="form-control rounded-0 input-table text-right">
                                                <div *ngIf="submitted && bonus.BonusAmount === ''"
                                                    class="invalid-feedback">
                                                    Enter Bonus amount value
                                                </div>
                                                <div *ngIf="isValueMax && bonus.BonusAmount === ''"
                                                    class="invalid-feedback">
                                                    Enter Bonus amount value
                                                </div>
                                            </td>
                                            <td>
                                                <input type="number" (input) = "total()" change numbersOnly [(ngModel)]="bonus.Total"
                                                    class="form-control rounded-0 input-table text-right" [disabled]='true'>
                                            </td>
                                            <td>
                                                <em class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1" pTooltip="Delete" tooltipPosition="bottom"
                                                    (click)="deleteBonusRange(bonus, i)"></em>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="loadingDiv" *ngIf="isLoading">
                                    <em class="fa fa-spin fa-spinner" style="font-size:50px;"></em><br />
                                </div>
                                <table class="table timeclcok-tb" aria-labelledby="summary">
                                    <!-- <thead>
                                        <th scope="col"></th>
                                    </thead> -->
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="p-t-10">
                                                <div class="row">
                                                    <div class="col-5 font-weight-600">
                                                        No. of Bad Reviews:
                                                    </div>
                                                    <div class="col-4">
                                                        <input type="number" numbersOnly [(ngModel)]="noOfBadReviews" (input)="totalBadReviewAmount()"
                                                            class="form-control rounded-0 input-table text-right">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="p-t-10">
                                                <div class="row">
                                                    <div class="col-6 font-weight-600">
                                                        Deductions Amount:
                                                    </div>
                                                    <div class="col-4">
                                                        <input type="number" numbersOnly [(ngModel)]="badReviewDeductionAmount"
                                                            (input)="totalBadReviewAmount()"
                                                            class="form-control rounded-0 input-table text-right">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="p-t-10" style="width: 26%">
                                                <span class="font-weight-600 mr-2">Bad review
                                                    Deductions:&nbsp;&nbsp;&nbsp;{{negativebadReviewDeduction}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="p-t-10">
                                                <div class="row">
                                                    <div class="col-5 font-weight-600">
                                                        No. of Collisions:
                                                    </div>
                                                    <div class="col-4">
                                                        <input type="number" numbersOnly [(ngModel)]="noOfCollisions" (input)="totalCollisionAmount()"
                                                            class="form-control rounded-0 input-table text-right">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="p-t-10">
                                                <div class="row">
                                                    <div class="col-6 font-weight-600">
                                                        Deductions Amount:
                                                    </div>
                                                    <div class="col-4">
                                                        <input type="number" numbersOnly [(ngModel)]="collisionDeductionAmount"
                                                            (input)="totalCollisionAmount()"
                                                            class="form-control rounded-0 input-table text-right">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="p-r-20 p-t-10" style="width: 26%">
                                                <span class="font-weight-600 mr-2">Collisions
                                                    Deductions:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{negativecollisionDeduction}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="table-foot">
                                        <tr>
                                            <td colspan="4"></td>
                                            <td 
                                                class="font-weight-700 text-left p-10 font-size-1-2 p-r-20">
                                                Total Bonus Amount:<span class="m-l-10">{{totalBonusAmount}}</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="m-t-12 pull-right mw-100">
                                <button type="button" class="btn theme-optional-button-color m-r-5" (click)="cancel()">Cancel</button>
                                <button type="button" class="btn theme-primary-button-color"
                                    (click)="saveBonus()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>