<div id="page-content">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-6 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size-1">
                    <li class="breadcrumb-item"><a (click)=landing()>Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
            <!--bread crumb-->
            <div class="col-6" style="cursor: pointer;" (click)="filterDashboard()">
                <span class="float-right">Filter Dashboard</span>
                <i class="fa fa-filter m-r-5  m-t-3 float-right" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 p-l-0 p-r-0">
                <ul class="nav  Schedules-tab  mb-2">
                    <li>
                        <a href="#all" data-toggle="tab" aria-expanded="false" class="nav-tab-link " [ngClass]="{ 'active': locationId === 0 }"
                            (click)="getDashboardStatistics(0)"> <i class="mdi mdi-store Schedules-tab-icon"></i> <span
                                class="text-center p-r-15 p-l-5">All</span> </a>
                    </li>
                    <li *ngFor="let loc of location">
                        <a href="#all" data-toggle="tab" title="{{loc.LocationName}}" aria-expanded="false"
                        class="nav-tab-link " [ngClass]="{ 'active': locationId === loc.LocationId }"
                            (click)="getDashboardStatistics(loc.LocationId)">
                            <i class="mdi mdi-store Schedules-tab-icon"></i>
                            <span class="text-center p-r-15 p-l-5">{{loc.LocationName.slice(0, 20)}}{{
                                loc.LocationName.length > 20 ? '...' : ''}}</span> &nbsp;&nbsp;
                                <div class="badge Schedules-badge">{{loc.WashtimeMinutes}}&nbsp; mins</div>
                            </a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="row no-gutter mob-goal">
                        <div class="col-lg-12">
                            <div class="list-group  m-b-10">
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-car-multiple font-size-1-5 theme-optional-icon-color align-mid"></i>
                                                Current No. of Washes
                                        </h6> <span class="font-size-1 font-weight-bold">{{washesCount}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-car-wash font-size-1-5 theme-light-yellow-color align-mid"></i>
                                                Current No.of Details
                                        </h6> <span class="font-size-1 font-weight-bold">{{detailCount}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-account-outline font-size-1-5 theme-primary-color align-mid"></i>
                                            Wash Employees
                                        </h6> <span class="font-size-1 font-weight-bold">{{employeeCount}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-weather-rainy font-size-1-5 theme-light-blue-color align-mid"></i>
                                            Score
                                        </h6> <span class="font-size-1 font-weight-bold">{{score}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-car-back font-size-1-5 theme-secondary-color align-mid"></i>
                                            Current /Forecasted Cars
                                        </h6> <span
                                            class="font-size-1 font-weight-bold">{{currents}}/{{forecastedCar}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i class="mdi mdi-car-back font-size-1-5 theme-voilet-color align-mid"></i>
                                            Average Car Wash Time
                                        </h6> <span class="font-size-1 font-weight-bold">{{washTime ? washTime :
                                            '30min'}}</span>
                                    </div>
                                </a>
                            </div>
                            <!--card--->
                            <div class="list-group  m-b-10">
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-currency-usd font-size-1-5 theme-optional-icon-color align-mid"></i>
                                            Wash Sales
                                        </h6> <span class="font-size-1 font-weight-bold">{{washSales |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-currency-usd font-size-1-5 theme-light-yellow-color align-mid"></i>
                                            Detail Sales
                                        </h6> <span class="font-size-1 font-weight-bold">{{detailSales |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-currency-usd font-size-1-5 theme-primary-color align-mid"></i>
                                            Extra Services Sales
                                        </h6> <span class="font-size-1 font-weight-bold">{{extraServiceSales |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i class="mdi mdi-cart font-size-1-5 theme-light-blue-color align-mid"></i>
                                            Merchandise Sales
                                        </h6> <span class="font-size-1 font-weight-bold">{{merchandizeSales |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-currency-usd font-size-1-5 theme-secondary-color align-mid"></i>
                                            Total Sales
                                        </h6> <span class="font-size-1 font-weight-bold">{{totalSales |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-account-cash font-size-1-5 theme-voilet-color align-mid"></i>
                                            Membership Client Sales
                                        </h6> <span class="font-size-1 font-weight-bold">{{monthlyClientSales |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                            </div>
                            <!--card--->
                            <div class="list-group  m-b-10">
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-chart-line font-size-1-5 theme-optional-icon-color align-mid"></i>
                                            Ave Wash $ per car
                                        </h6> <span class="font-size-1 font-weight-bold">{{averageWashPerCar |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-chart-line font-size-1-5 theme-light-yellow-color align-mid"></i>
                                            Ave Detail $ per car
                                        </h6> <span class="font-size-1 font-weight-bold">{{averageDetailPerCar |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-chart-line font-size-1-5 theme-primary-color align-mid"></i>
                                            Ave Extra Service $ per car
                                        </h6> <span class="font-size-1 font-weight-bold">{{averageExtraServicePerCar |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i class="mdi mdi-car font-size-1-5 theme-light-blue-color align-mid"></i>
                                            Ave Total per car
                                        </h6> <span class="font-size-1 font-weight-bold">{{averageTotalPerCar |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i
                                                class="mdi mdi-account-cash font-size-1-5 theme-secondary-color align-mid"></i>
                                            Labor cost per car
                                        </h6> <span class="font-size-1 font-weight-bold">{{labourCostPerCarMinusDetail |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i class="mdi mdi-car-wash  font-size-1-5 theme-voilet-color align-mid"></i>
                                            Detail cost per car
                                        </h6> <span class="font-size-1 font-weight-bold">{{detailCostPerCar |
                                            number:'.2'}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutter web-goal">
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-title">Current No. of Washes </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-card"
                                        [style.display]="firstSectionTogggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-car-multiple font-size-1-7 theme-optional-icon-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold d-inline-block">{{washesCount}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-title">Current No.of Details </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-card"
                                        [style.display]="firstSectionTogggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-car-wash font-size-1-7 theme-light-yellow-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{detailCount}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-title">Wash Employees </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-card"
                                        [style.display]="firstSectionTogggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-account-outline font-size-1-7 theme-primary-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{employeeCount}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-title">Score </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-card"
                                        [style.display]="firstSectionTogggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-weather-rainy font-size-1-7 theme-light-blue-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{score}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-title">Current /Forecasted Cars </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-card"
                                        [style.display]="firstSectionTogggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-car-back font-size-1-7 theme-secondary-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{currents}}/{{forecastedCar}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0">Average Car Wash Time </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-card"
                                        [style.display]="firstSectionTogggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-car-back font-size-1-7 theme-voilet-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold d-inline-block">
                                                {{washTime ? washTime : '30min'}}</h2>
                                        </div>
                                    </div>
                                    <a id="mainstreet" class="pull-right  m-r--13 pointer"
                                        [ngClass]="{'click-up-icon':!firstSectionTogggle, 'click-down-icon': firstSectionTogggle  }"
                                        (click)="mainStreet()"> <i class="theme-secondary-icon-color font-size-1-5 mdi"
                                            [ngClass]="{'mdi-chevron-up-circle':!firstSectionTogggle, 'mdi-chevron-down-circle': firstSectionTogggle  }"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--dashbd card-->
                    <div class="row no-gutter web-goal">
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-titles">Wash Sales </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards"
                                        [style.display]="secondSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-currency-usd font-size-1-7 theme-optional-icon-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold d-inline-block">{{washSales | number:'.2'}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-titles">Detail Sales </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards"
                                        [style.display]="secondSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-currency-usd font-size-1-7 theme-light-yellow-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{detailSales | number:'.2'}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-titles">Extra Services Sales </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards"
                                        [style.display]="secondSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-currency-usd font-size-1-7 theme-primary-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{extraServiceSales | number:'.2'}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-titles">Merchandise Sales </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards"
                                        [style.display]="secondSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-cart font-size-1-7 theme-light-blue-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{merchandizeSales | currency}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-titles">Total Sales </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards"
                                        [style.display]="secondSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-currency-usd font-size-1-7 theme-secondary-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{totalSales | number:'.2'}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0">Membership Client Sales </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards"
                                        [style.display]="secondSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-account-cash font-size-1-7 theme-voilet-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold d-inline-block">{{monthlyClientSales |
                                                currency}}</h2>
                                        </div>
                                    </div>
                                    <a id="mainstreets" class="pull-right m-r--13 pointer"
                                        [ngClass]="{'click-up-icon':!secondSectionToggle, 'click-down-icon': secondSectionToggle  }"
                                        (click)="mainStreets()"> <i
                                            class="theme-secondary-icon-color font-size-1-5 mdi "
                                            [ngClass]="{'mdi-chevron-up-circle':!secondSectionToggle, 'mdi-chevron-down-circle': secondSectionToggle  }"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--dashbd card-->
                    <div class="row no-gutter web-goal">
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-titles-avg">Ave Wash $ per car </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards-avg"
                                        [style.display]="thirdSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-chart-line font-size-1-7 theme-optional-icon-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold d-inline-block">{{averageWashPerCar |
                                                number:'.2'}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-titles-avg">Ave Detail $ per car </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards-avg"
                                        [style.display]="thirdSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-chart-line font-size-1-7 theme-light-yellow-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{averageDetailPerCar | number:'.2'}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-titles-avg">Ave Extra Service $ per car
                                    </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards-avg"
                                        [style.display]="thirdSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-chart-line font-size-1-7 theme-primary-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{averageExtraServicePerCar | number:'.2'}}
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-titles-avg">Ave Total per car All</h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards-avg"
                                        [style.display]="thirdSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-car font-size-1-7 theme-light-blue-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{averageTotalPerCar | currency}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0 dashbd-titles-avg">Labor cost per car </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards-avg"
                                        [style.display]="thirdSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-account-cash font-size-1-7 theme-secondary-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold">{{labourCostPerCarMinusDetail | currency}}
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="card weather rounded-0">
                                <div class="card-body p-0">
                                    <h6 class="weather-title border-0">Detail cost per car </h6>
                                    <div class="p-l-r-10 m-t-5 dashboard-cards-avg"
                                        [style.display]="thirdSectionToggle ? 'none' : 'block'"> <i
                                            class="mdi mdi-car-wash font-size-1-7 theme-voilet-color"></i>
                                        <div class="float-right">
                                            <h2 class="font-weight-bold d-inline-block">{{detailCostPerCar |
                                                currency}}</h2>
                                        </div>
                                    </div>
                                    <a id="mainstreet-avg" class="pull-right  m-r--13 pointer"
                                        [ngClass]="{'click-up-icon':!thirdSectionToggle, 'click-down-icon': thirdSectionToggle  }">
                                        <i (click)="mainStreetAvg()"
                                            [ngClass]="{'mdi-chevron-up-circle':!thirdSectionToggle, 'mdi-chevron-down-circle': thirdSectionToggle  }"
                                            class="theme-secondary-icon-color font-size-1-5 mdi "></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-today-schedule-dashboard *ngIf="dashboardStatistics.length > 0" [locationId]="locationId">
                    </app-today-schedule-dashboard>
                    <!--no of washes graph-->
                    <app-graph-dashboard *ngIf="dashboardStatistics.length > 0" [location]="location"
                        [dashboardStatistics]="dashboardStatistics"></app-graph-dashboard>
                </div>
            </div>
        </div>
    </div>
    <!--page Content-->
    <!-- Color Theme Modal -->
    <div class="modal fade" id="colormodal" tabindex="-1" role="dialog" aria-labelledby="colormodal" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span class="font-weight-700">Color Theme</span>-Default</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <!--modal body-->
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-3 m-t-17">
                                <label>Default</label>
                            </div>
                            <div class="form-group col-md-9">
                                <div class="flex-container pointer">
                                    <div class="card-width-color theme-primary-background-color"></div>
                                    <div class="card-width-color theme-pink-color"></div>
                                    <div class="card-width-color theme-cyan"></div>
                                    <div class="card-width-color theme-light-blue"></div>
                                    <div class="card-width-color theme-shaded-green"></div>
                                    <div class="card-width-color theme-shaded-green"></div>
                                    <div class="card-width-color theme-shaded-green"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3 m-t-17">
                                <label>SunShine</label>
                            </div>
                            <div class="form-group col-md-9">
                                <div class="flex-container pointer">
                                    <div class="card-width-color theme-light-ello"></div>
                                    <div class="card-width-color theme-ello"></div>
                                    <div class="card-width-color theme-dark-ello"></div>
                                    <div class="card-width-color theme-orange"></div>
                                    <div class="card-width-color theme-dark-orange"></div>
                                    <div class="card-width-color theme-dark-orange"></div>
                                    <div class="card-width-color theme-dark-orange"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3 m-t-17">
                                <label>NightSky</label>
                            </div>
                            <div class="form-group col-md-9">
                                <div class="flex-container pointer">
                                    <div class="card-width-color theme-solid"></div>
                                    <div class="card-width-color theme-dark-purple"></div>
                                    <div class="card-width-color theme-purple"></div>
                                    <div class="card-width-color theme-light-purple"></div>
                                    <div class="card-width-color theme-solid-pink"></div>
                                    <div class="card-width-color theme-solid-pink"></div>
                                    <div class="card-width-color theme-solid-pink"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--modal body-->
                <div class="modal-footer">
                    <button type="button" class="btn theme-optional-button-color" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn theme-primary-button-color">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>