<section id="login" style="background: skyblue !important;">

    <div class="container" style="text-align:center;">

        <div style="padding-top: 3rem;">
            <h2 style="color: white;font-family: system-ui;font-size: 2.5rem;">Session Expired</h2>
            &nbsp;&nbsp;
            <p style="font-family: system-ui;font-size: x-large;color: white;">
                Your login session has expired, Please
                click here to &nbsp;<a class="links" href="/#/login">Login</a></p>
        </div>

        <div class=row>
            <div class="col-12 align-self-center">
                <i class="fa fa-clock-o" style="font-size: 20rem;"></i>
            </div>
        </div>

    </div>

</section>