<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" >Edit Checklist </h5>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-lg-4">
                <input type="text" maxlength="100" class="form-control" name="CheckList" [(ngModel)]="checkListName"
                    placeholder="Enter Check List">
            </div>
            <div class="form-group col-lg-4">
                <select name="Roles" class="form-control" [(ngModel)]="roleId" placeholder="Select Role">
                    <option value='' selected hidden>Select Role</option>
                    <option *ngFor="let role of rollList" value="{{role.RoleMasterId}}">
                        {{role.RoleName}}</option>
                </select>
            </div>
            <div class="form-group col-4">
                <div class="d-inline-block" style="padding-left: 15px; padding-right: 15px;">
                    <ngx-timepicker-field [format]="24" [(ngModel)]="notificationTime">
                    </ngx-timepicker-field>
                </div>
                <button type="button" style="margin-left: 5%;"
                    [disabled]="isNotificationTimeLimit || notificationTime === ''"
                    class="btn theme-primary-button-color btn-sm"><i class="fa fa-plus" aria-hidden="true" (click)="editTime()"></i></button>
                <span *ngFor="let time of NotificationList"
                    style="font-size:1em; display:table; cursor: pointer;margin-bottom: 4px;"
                    class="badge badge-secondary m-t-5 m-l-25"
                    [disabled]="isNotificationTimeLimit"><span>{{time.NotificationTime}}</span><em
                        class="fa fa-times-circle" (click)="removeTime(time)"></em></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn theme-optional-button-color" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn theme-primary-button-color" (click)="updateChecklist()">Save</button>
    </div>
</div>