<div id="page-content" *ngIf="!showDialog">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item"><a (click)="landing()">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Washes</li>
                </ol>
            </nav>
            <div class="col-lg-12 p-l-0 p-r-0">
                <app-dashboard-statics [jobTypeId]="jobTypeId" [jobType]="'Wash'"></app-dashboard-statics>
                <div class="row no-gutter">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="p-b-10">
                                    <div class="search-container">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-row ">
                                                    <h4 class="d-inline-block m-l-12 m-b-5 m-t-3">Washes&nbsp;</h4>
                                                    <div class="input-icon-right date-pick m-r-320">
                                                        <i class="mdi mdi-calendar-range"></i>

                                                        <input type="text" placeholder="Daterangepicker" name="dateRange" class="form-control" [(ngModel)]="daterangepickerModel" bsDaterangepicker (bsValueChange)="onValueChange($event)" [bsConfig]="{ maxDateRange: 7 , showWeekNumbers: false , displayMonths : 1 , selectFromOtherMonth : false}">
                                                    </div>

                                                </div>
                                                <div class="col-4"></div>
                                                <div class="form-group d-flex">
                                                    <input type="search" class="form-control" size="25" [(ngModel)]="search" name="search" id="inputSearchbyName" placeholder="Search" (ngModelChange)="this.searchUpdate.next($event)"> </div>
                                                <div class="form-group col-sm m-l-5">
                                                    <button type="button" class="btn theme-primary-button-color  btn-sm" (click)="getAllWashDetails()">Search</button>
                                                </div>
                                                <div class=" card-widgets"><button type="button" class="btn theme-primary-button-color btn-sm" (click)="add('add',[])">Add New Wash</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="setup-content">

                                </div>
                                <div class="setup-content">
                                    <div class="table-responsive">
                                        <table class="table table-striped headerfix">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="pointer" (click)="changeSorting('TicketNumber')">Ticket No&nbsp;
                                                        <i class="fa" [ngClass]="selectedCls('TicketNumber')" aria-hidden="true"></i> </th>
                                                    <th scope="col" class="pointer" (click)="changeSorting('FirstName')">Client Name&nbsp;
                                                        <i class="fa" [ngClass]="selectedCls('FirstName')" aria-hidden="true"></i> </th>
                                                    <th scope="col">
                                                        Make/Model/ Color </th>
                                                    <th scope="col" class="pointer" (click)="changeSorting('TimeIn')">Time In&nbsp;
                                                        <i class="fa" [ngClass]="selectedCls('TimeIn')" aria-hidden="true"></i> </th>
                                                    <th scope="col" class="pointer" (click)="changeSorting('EstimatedTimeOut')">Est. Time Out&nbsp;<i class="fa" [ngClass]="selectedCls('EstimatedTimeOut')" aria-hidden="true"></i> </th>
                                                    <th scope="col" class="pointer" (click)="changeSorting('ServiceName')">
                                                        Services&nbsp;<i class="fa" [ngClass]="selectedCls('ServiceName')" aria-hidden="true"></i> </th>
                                                    <th scope="col">Pay</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>

                                            <tr colspan="11" class="text-center" *ngIf="isTableEmpty === true">
                                                <td colspan="9" class="text-center">
                                                    No Records Found
                                                </td>
                                            </tr>
                                            <tbody class="bodyfix" *ngIf="isTableEmpty === false">
                                                <tr *ngFor="let wash of washDetails">
                                                    <th scope="row">{{wash.TicketNumber}}</th>
                                                    <td pTooltip="{{wash.PhoneNumber}}" tooltipPosition="top">
                                                        <em *ngIf="wash.MembershipName !== ''"
                                                            class="mdi mdi-bookmark font-size-1-5 "
                                                            style="color: #FFA500;"></em>
                                                        {{wash.ClientName}}</td>
                                                    <td>{{wash.MakeModelColorLabel}}</td>
                                                    <td class="font-weight-600">{{wash.TimeIn | date : 'hh:mm:ss aa' }}
                                                    </td>
                                                    <td class="font-weight-600">
                                                        {{wash.EstimatedTimeOut | date : 'hh:mm:ss aa'}}</td>
                                                    <td>{{wash.ServiceName}}</td>
                                                    <td>
                                                        <span >
                                                        <button type="button"   [ngClass]="wash.paidLabel === 'Paid' ? 'btn btn-success disabled btn-sm pt-0 pb-0 p-l-12 p-r-12' : 'btn theme-primary-button-color btn-sm pt-0 pb-0 p-l-12 p-r-12'" (click)="pay(wash)">
                                                       {{wash.paidLabel}}</button></span>
 </td>
                                                                                                         <!--   class="btn theme-primary-button-color 
                                                    btn-sm pt-0 pb-0 p-l-12 p-r-12" -->
                                                    <td><i class="mdi mdi-eye-circle pointer theme-secondary-icon-color  m-r-2 font-size-1-1" (click)="add('view',wash)" pTooltip="View" tooltipPosition="bottom"></i>
                                                        <i class="mdi mdi-pencil-circle pointer theme-secondary-icon-color  m-r-2 font-size-1-1" (click)="add('edit',wash)" pTooltip="Edit" tooltipPosition="bottom"></i>
                                                        <i class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1" (click)="delete(wash)" pTooltip="Delete" tooltipPosition="bottom"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row pull-right" *ngIf="isTableEmpty === false">
                                            <div class="col-6">
                                                <ngb-pagination [collectionSize]="collectionSize" (pageChange)="paginate($event)" [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="d-flex justify-content-end">
                                                </ngb-pagination>
                                            </div>
                                            <select class="form-control col-4" name="paginate" [(ngModel)]="pageSize" (change)="paginatedropdown($event)">
                                                 <option *ngFor = "let size of pageSizeList" [selected]="size === 100" value = "{{size}}">{{size}}</option>
         
                                             </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showDialog">
    <app-create-edit-washes *ngIf="showDialog" [selectedData]="selectedData" [isEdit]="isEdit" [isView]="isView" (closeDialog)="closePopupEmit($event)">
    </app-create-edit-washes>
</div>