<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Server=tcp:mpos-prod.database.windows.net,1433;Database=MPOS;User ID=MPOSAdmin@mpos-prod;Password=Mp0sL3tM3!n;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="MPOSLibrary.Properties.Settings.MPOS" connectionString="Data Source=mpos-prod.database.windows.net;Initial Catalog=MPOS;Persist Security Info=True;User ID=MPOSUser;Password=!Mp0s7u8i9o"
       providerName="System.Data.SqlClient" /> </connectionStrings>
  <appSettings>
    <add key="LocationID" value="3" />
    <add key="PrinterName" value="Star TSP100 Cutter (TSP143)" />
  </appSettings>

</configuration>