<div class="modal-body">
    <form [formGroup]="membershipForm">
        <div class="form-row">
            <div class="form-group col-lg-3">
                <label for="inputMembershipName"> Name<span class="required">*</span></label>
                <input type="text" placeholder="Membership Name" maxlength="25"  appAlphaNumeric class="form-control" formControlName="membershipName"
                    [ngClass]="{ 'is-invalid': submitted && f.membershipName.errors }">
                <div *ngIf="submitted && f.membershipName.errors" class="invalid-feedback">
                    <div *ngIf="f.membershipName.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <label for="inputStatus">Washes<span class="required">*</span></label>
                <select class="form-control" formControlName="washes" (change)="calculate($event.target.value,'washes')"
                    [ngClass]="{ 'is-invalid': submitted && f.washes.errors }">
                    <option value='' selected hidden>Select Washes</option>

                    <option *ngFor="let status of washes" value="{{status.ServiceId}}">{{status.ServiceName}}</option>
                </select>
                <div *ngIf="submitted && f.washes.errors" class="invalid-feedback">
                    <div *ngIf="f.washes.errors.required">Washes is required</div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <label for="inputService">Services</label>
                <ng-multiselect-dropdown [placeholder]="'Select Service'" [settings]="dropdownSettings"
                    [data]="additional" formControlName="service" [(ngModel)]="memberService"
                    (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
                </ng-multiselect-dropdown>
            </div>

            <div class="form-group col-lg-3">
                <label for="inputStatus">Upcharge Type<span class="required">*</span></label>
                <select class="form-control" formControlName="upcharge" (change)="bindUpcharge($event.target.value)"
                    [ngClass]="{ 'is-invalid': submitted && f.upcharge.errors }">
                    <option value='' selected hidden>Select Type</option>

                    <option *ngFor="let status of upchargeType" value="{{status.ServiceId}}">{{status.ServiceName}}
                    </option>
                </select>
                <div *ngIf="submitted && f.upcharge.errors" class="invalid-feedback">
                    <div *ngIf="f.upcharge.errors.required">Type is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-3">
                <label for="inputStatus">Upcharge<span class="required">*</span></label>
                <select class="form-control" formControlName="upcharge" (change)="bindUpcharge($event.target.value)"
                    [ngClass]="{ 'is-invalid': submitted && f.upcharge.errors }">
                    <option value='' selected hidden>Select Upcharge</option>

                    <option *ngFor="let status of upchargeType" value="{{status.ServiceId}}">{{status?.Upcharges}}
                    </option>
                </select>
                <div *ngIf="submitted && f.upcharge.errors" class="invalid-feedback">
                    <div *ngIf="f.upcharge.errors.required">Upcharge is required</div>
                </div>
            </div>
         
            <div class="form-group col-lg-3">
                <label for="inputPrice">Price<span class="required">*</span></label>
                <input type="text" appTwoDecimalNumber class="form-control" formControlName="price" placeholder="$0.00"
                    [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required">Price is required</div>
                </div>
                <div *ngIf="submitted  && costErrMsg" style="font-size: small;color: #dc3545;">Price should not be 0
                </div>
            </div>
            <div class="form-group col-lg-3">
                <label for="inputCost">DiscountedPrice</label>
                <input type="text" appTwoDecimalNumber class="form-control" formControlName="discountedPrice" placeholder="$0.00">

            </div>
            <div class="form-group col-lg-3">
                <label for="inputNotes">Notes</label>
                <textarea rows="2" class="form-control  notes-textarea" formControlName="notes"
                    placeholder="Notes"></textarea>
            </div>
            <div class="form-group col-lg-3">
                <label for="inputStatus">Status</label>
                <select class="form-control" formControlName="status">
                    <option *ngFor="let status of status" value="{{status.CodeId}}">{{status.CodeValue}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn theme-optional-button-color" (click)="cancel()">Cancel</button>
    <button type="button" class="btn theme-primary-button-color" (click)="submit()">Save</button>
</div>