################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sourcecode/API/Strive.API/bin/Debug/netcoreapp3.1
/Sourcecode/API/Strive.API/obj
/Sourcecode/API/Strive.API/Properties
/.vs
/Sourcecode/API/.vs/Strive/v16/Server/sqlite3
/Sourcecode/API/.vs/Strive/v16/.suo
/Sourcecode/API/Strive.BusinessEntities/bin/Debug/netcoreapp3.1
/Sourcecode/API/Strive.BusinessEntities/obj/Debug/netcoreapp3.1
/Sourcecode/API/Strive.BusinessEntities/obj
/Sourcecode/API/Strive.BusinessLogic/bin/Debug/netcoreapp3.1
/Sourcecode/API/Strive.BusinessLogic/obj
/Sourcecode/API/Strive.Common/bin/Debug/netcoreapp3.1
/Sourcecode/API/Strive.Common/obj
/Sourcecode/API/Strive.ResourceAccess/bin/Debug/netcoreapp3.1
/Sourcecode/API/Strive.ResourceAccess/obj
/Sourcecode/API/Strive.API/bin/Debug/netcoreapp2.2
/Sourcecode/API/.vs/Strive/config
/Sourcecode/API/Strive.API/Strive.API.csproj.user
/Sourcecode/API/Strive.BusinessEntities/bin/Debug/netcoreapp2.2
/Sourcecode/API/Strive.BusinessLogic/bin/Debug/netcoreapp2.2
/Sourcecode/API/Strive.Common/bin/Debug/netcoreapp2.2
/Sourcecode/API/Strive.Repository/bin/Debug
/Sourcecode/API/Strive.Repository/obj
/Sourcecode/API/Strive.ResourceAccess/bin/Debug/netcoreapp2.2
/Documents/Telliant Presentation - Template.pptx
/Sourcecode/API/.vs/Strive/DesignTimeBuild/.dtbcache
/Sourcecode/UI/StriveUI/.vs/StriveUI/v16
/Sourcecode/UI/StriveUI/.vs/VSWorkspaceState.json
/Sourcecode/UI/StriveUI/.vs
/Sourcecode/API/.vs/Strive/v15/Server/sqlite3/storage.ide-wal
/Sourcecode/API/.vs/Strive/v15/Server/sqlite3/storage.ide-shm
/Sourcecode/API/.vs/Strive/v15
/Documents
/Sourcecode/API/.vs/config/applicationhost.config
/Sourcecode/Database/StriveTenantDb/.vs/StriveTenantDb/v16/.suo
/Sourcecode/Database/StriveTenantDb/StriveTenantDb/obj/Debug
/Sourcecode/Database/StriveTenantDb/StriveTenantDb/StriveTenantDb.sqlproj.user
/Sourcecode/Database/StriveAuthDb/.vs/StriveAuthDb/v16/.suo
/Sourcecode/Database/StriveTenantDb/StriveTenantDb/StriveTenantDb.dbmdl
/Sourcecode/Database/StriveAuthDb/StriveAuthDb/StriveAuthDb.sqlproj.user
/Sourcecode/API/Admin.API/bin/Debug/netcoreapp2.2
/Sourcecode/API/Admin.API/obj
/Sourcecode/API/Messenger.API/bin/Debug/netcoreapp2.2
/Sourcecode/API/Messenger.API/obj
/Sourcecode/API/Strive.API.Gateway/bin/Debug/netcoreapp2.2
/Sourcecode/API/Strive.API.Gateway/Logs
/Sourcecode/API/Strive.API.Gateway/obj
/Sourcecode/Database/StriveAuthDb/StriveAuthDb/StriveAuthDb.dbmdl
