################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sourcecode/API/Strive.API/bin/Debug/netcoreapp3.1
/Sourcecode/API/Strive.API/obj
/Sourcecode/API/Strive.API/Properties
/.vs
/Sourcecode/API/.vs/Strive/v16/Server/sqlite3
/Sourcecode/API/.vs/Strive/v16/.suo
