<!-- <input [(ngModel)]="city"
       [typeahead]="states"
       placeholder="City"
       [typeaheadScrollable]="true"
       [typeaheadOptionsInScrollableView]="5"
       class="form-control"> -->
<div class="ui-fluid">
    <div class="p-grid forms-grid">
        <div class="p-col-3 p-md-6">
            <p-autoComplete [(ngModel)]="country" [suggestions]="filteredCountriesSingle" [ngClass]="{'is-invalid': country === '' && submitted}"
                (completeMethod)="filterCountrySingle($event)" field="name" [size]="10" appendTo="body"
                placeholder="City"></p-autoComplete>
                <div *ngIf="submitted && country === ''" class="invalid-feedback">
                    city is Required
                </div>
        </div>
    </div>
</div>