<div class="modal" id="vehicleModal" tabindex="1" role="dialog" *ngIf="showVehicleDialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{headerData}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <app-vehicle-create-edit *ngIf="showVehicleDialog" [selectedData]="[]" [isEdit]="false" [isView]="false" [clientId]="clientId" [isAdd]="true" [vehicleNumber]="vehicleNumber" (closeDialog)="closePopupEmitVehicle($event)">
                </app-vehicle-create-edit>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="clientModal" tabindex="1" role="dialog" *ngIf="showClientDialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{headerData}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <app-client-form *ngIf="showClientDialog" [selectedData]="[]" [isEdit]="false" [isView]="false"></app-client-form>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn theme-optional-button-color" (click)="closePopupEmitClient()">Cancel</button>&nbsp;
                <button type="button" class="btn theme-primary-button-color" data-dismiss="modal" (click)="saveClient()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="deleteModel" tabindex="-1" role="dialog" *ngIf="deleteDetailList">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <p>{{body}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn theme-optional-button-color" data-dismiss="modal">No</button>
                <button type="button" class="btn theme-primary-button-color" data-dismiss="modal" (click)="confirmDelete()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 p-l-0 p-r-0">
    <div>
        <div>
            <form [formGroup]="detailForm">
                <div class="form-row border-bottom m-b-8">
                    <div class="form-group col-xl-12">
                        <div class="row">
                            <div class="form-group col-sm-3 p-t-5">
                                <h5 class="d-inline-block font-weight-600">Ticket No. <span style="color: #1dc5b3;">{{ticketNumber}}</span>
                                </h5> <span class="font-size-1 font-weight-600"></span>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control" formControlName="bay">
                                    <option *ngFor="let b of baylist" value="{{b.id}}">
                                        {{b.bayName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-1 text-right p-t-5" style="padding-right: 0px !important; padding-left: 0px !important;">
                                <label>In Time:</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="inTime" id="inTime" formControlName="inTime" />
                            </div>
                            <div class="col-sm-1 text-right p-t-5" style="padding-right: 0px !important; padding-left: 0px !important;">
                                <label>Due Time:</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="dueTime" id="dueTime" formControlName="dueTime" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row border-bottom m-b-8">
                    <div class="form-group col-lg-2 col-md-2 col-xl-3">
                        <label for="inputBarcode">Barcode</label>
                        <input type="text" maxlength="50" class="form-control" formControlName="barcode" placeholder="Barcode"
                        (keyup)="$event.keyCode == 13 ? getByBarcode($event.target.value) : null">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputClient">Client<span class="required">*</span></label>
                        <div class="ui-fluid">
                            <div class="p-grid forms-grid">
                                <div class="p-col-3 p-md-6">
                                    <p-autoComplete field="name" [suggestions]="clientList" [ngClass]="{ 'is-invalid': submitted && f.client.errors }" (completeMethod)="filterClient($event)" [size]="10" formControlName="client" placeholder="Client Name" (onSelect)="selectedClient($event)"
                                        (onKeyUp)="onKeyUp($event)">
                                    </p-autoComplete>
                                    <div *ngIf="submitted && f.client.errors">
                                        <div *ngIf="f.client.errors.required" style="color: #dc3545;font-size: 80%;margin-top: .25rem;">Client Name is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputVehicle">Vehicle<span class="required">*</span></label>
                        <select class="form-control" formControlName="vehicle" [ngClass]="{ 'is-invalid': submitted && f.vehicle.errors }" (change)="vehicleChange($event.target.value)">
                            <option hidden selected value="">Choose</option>
                            <option *ngFor="let v of vehicle" value="{{v.VehicleId}}">
                                {{v.VehicleMfr}}, {{v.VehicleModel}}, {{v.VehicleColor}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.vehicle.errors" class="invalid-feedback">
                            <div *ngIf="f.vehicle.errors.required">Vehicle is required</div>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-xl-3 m-t-31 p-l-0 p-r-0">
                        <div class="pull-right">
                            <button type="button" class="btn theme-primary-button-color btn-responsive" (click)="getByBarcode(detailForm.value.barcode)" [disabled]="isView">Select</button>&nbsp;

                            <button type="button" class="btn theme-primary-button-color btn-responsive" (click)="addClient()" data-toggle="modal" data-target="#clientModal" [disabled]="isView">Add Client</button>&nbsp;
                            <button type="button" class="btn theme-primary-button-color btn-responsive" (click)="addVehicle()" data-toggle="modal" data-target="#vehicleModal" [disabled]="isView || clientId === undefined">Add
                                Vehicle</button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputType">Make</label>

                        <div class="ui-fluid">
                            <div class="p-grid forms-grid">
                                <div class="p-col-3 p-md-6">
                                    <p-autoComplete field="name" (onSelect)="selectedModel($event)" [suggestions]="filteredMake" (onBlur)="checkValue('make')" (completeMethod)="filterMake($event)" [size]="10" formControlName="type" placeholder="Make">
                                    </p-autoComplete>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputModel">Model</label>

                        <div class="ui-fluid">
                            <div class="p-grid forms-grid">
                                <div class="p-col-3 p-md-6">
                                    <p-autoComplete field="name" [suggestions]="filteredModel" (onBlur)="checkValue('model')"  (completeMethod)="filterModel($event)" [size]="10" formControlName="model" placeholder="Model" (onSelect)="getUpcharge()">
                                    </p-autoComplete>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputColor">Color</label>

                        <div class="ui-fluid">
                            <div class="p-grid forms-grid">
                                <div class="p-col-3 p-md-6">
                                    <p-autoComplete field="name" [suggestions]="filteredcolor" (onBlur)="checkValue('color')" (completeMethod)="filterColor($event)" [size]="10" formControlName="color" placeholder="Color">
                                    </p-autoComplete>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputWashes">Details<span class="required">*</span></label>
                        <select class="form-control" formControlName="washes" [ngClass]="{ 'is-invalid': submitted && f.washes.errors }" (change)="washService($event.target.value)">
                            <option hidden selected value="">Choose</option>
                            <option *ngFor="let score of details" value="{{score.ServiceId}}">
                                {{score.ServiceName}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.washes.errors" class="invalid-feedback">
                            <div *ngIf="f.washes.errors.required">Detail is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputUpchargeType">Upcharge Type</label>
                        <select class="form-control" formControlName="upchargeType" (change)="upchargeService($event.target.value);">
                            <option selected value="">None</option>
                            <option *ngFor="let score of  UpchargeType" value="{{score.ServiceId}}">
                                {{score.ServiceName}}
                            </option>
                           
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputUpcharges">Upcharges</label>
                        <select class="form-control" formControlName="upcharges" (change)="upchargeService($event.target.value)">
                             <option selected value="">None</option>
                            <option *ngFor="let score of upcharges" value="{{score.ServiceId}}">
                                {{score.Upcharges}}
                            </option>
                          
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputAirFreshners">Air Freshners</label>
                        <select class="form-control" formControlName="airFreshners" (change)="airService($event.target.value)">
                            <option hidden selected value="">Choose</option>
                            <option *ngFor="let score of airFreshner" value="{{score.ServiceId}}">
                                {{score.ServiceName}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Outside Service</label>
                        <select class="form-control" formControlName="outsideServie" (change)="outSideService($event.target.value)">
                            <option hidden selected value="">Choose</option>
                            <option *ngFor="let score of outsideServices" value="{{score.ServiceId}}">
                                {{score.ServiceName}}
                            </option>
                        </select>
                    </div>
                </div>

            </form>
            <div class="form-row">
                <div class="col-sm-8 border " style="height: 225px">
                    <div class="title-border p-b-5 m-b-5">
                        <h5 class="d-inline-block font-weight-600">Additional Service</h5>
                    </div>
                    <div style="height: 90%; overflow-y: scroll;">
                        <div class="row">
                            <div class="col-md-3" *ngFor="let addService of additional">
                                <div class="custom-control custom-checkbox m-t-10">
                                    <input type="checkbox" class="custom-control-input" id="{{addService.ServiceId}}" (change)="change(addService)" [checked]="addService.IsChecked" [disabled]="isView" />
                                    <label class="custom-control-label text-capital" for="{{addService.ServiceId}}">{{addService.ServiceName}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="border">
                        <div class="title-border p-b-5 m-b-5">
                            <h5 class="d-inline-block font-weight-600">Notes</h5>
                        </div>
                        <div>
                            <textarea class="form-control m-t-5 m-b-5 notes-textarea" [disabled]="isView" name="note" [(ngModel)]="note" rows="8"></textarea>
                        </div>
                    </div>

                    <div class="row m-t-5">
                        <span class="col-2"></span>
                        <span class="col-10">

                            <button type="button" class="btn theme-primary-button-color col-3"
                                [disabled]="isStart || isView || isCompleted" (click)="start()">Start</button>&nbsp;
                            <button type="button" class="btn theme-primary-button-color col-3"
                                (click)="assignEmployee()" [disabled]="!isAssign && !isEdit">Assign</button>&nbsp;
                            <button type="button" class="btn theme-primary-button-color col-4"
                                [disabled]="isCompleted || isView" (click)="completed()">Complete</button>
                        </span>
                    </div>

                </div>
            </div>
            <div class="m-t-12 row">
                <div class="col-sm-8">
                    <button type="button" class="btn theme-primary-button-color m-r-5" [disabled]="!isEdit" (click)="printCustomerCopy()">Customer
                        Copy</button>
                    <button type="button" class="btn theme-primary-button-color m-r-5" (click)="print()" [disabled]="!isEdit">Vehicle Copy</button>
                    <button type="button" class="btn theme-primary-button-color" [disabled]="!isViewPastNotes" (click)="pastNotes()">View Past Client Notes</button>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <span class="col-2"></span>
                        <span class="col-10" style="padding-left: 5px !important;">
                            <button type="button" 
                                [disabled]="!isEdit" (click)="pay()" [ngClass]="paidLabel  === 'Paid' ? 'btn btn-success disabled col-3' : 'btn theme-primary-button-color col-3'">{{paidLabel}}</button>&nbsp;
                            <button type="button" class="btn theme-primary-button-color col-3" (click)="saveDetail()"
                                [disabled]="isView">Save</button>&nbsp;
                            <button type="button" class="btn theme-primary-button-color col-3"
                                [disabled]="!isEdit && !isView" data-toggle="modal" data-target="#deleteModel"
                                (click)="deleteDetail()">Delete</button>
                        </span>
                    </div>
                </div>
                <!-- <span style="float: right; margin-right: 125px;">

                </span> -->
            </div>
        </div>
    </div>
    <div [hidden]="true">
        <app-print-wash *ngIf="isEdit" [module]="'detail'" [selectedData]="selectedData"></app-print-wash>
    </div>
    <div [hidden]="true">
        <app-print-customer-copy *ngIf="isEdit" [selectedData]="selectedData"></app-print-customer-copy>
    </div>
</div>
<p-dialog [(visible)]="showDialog" header="Assign" [blockScroll]="true" [resizable]="true" appendTo="body" [modal]="true" [focusOnShow]="false" [closable]="false" [style]="{width: '50vw'}" [baseZIndex]="10000" appendTo="body">
    <app-assign-detail *ngIf="showDialog" (storedService)="storedService($event)" [isView]="isView" (closeAssignModel)="closeAssignModel()" [details]="detailItems" [detailsJobServiceEmployee]="detailsJobServiceEmployee" [employeeList]="employeeList" (cancelAssignModel)="cancelAssignModel()"></app-assign-detail>
</p-dialog>

<p-dialog [(visible)]="viewNotesDialog" header="Past Notes" [blockScroll]="true" [resizable]="true" appendTo="body" [modal]="true" [focusOnShow]="false" [closable]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" appendTo="body">
    <app-view-past-notes *ngIf="viewNotesDialog" [viewNotes]="viewNotes"></app-view-past-notes>
</p-dialog>


<!-- <p-dialog header="{{headerData}}" [(visible)]="showClientDialog" [blockScroll]="true" [modal]="true"
    [focusOnShow]="false" [closable]="false">
    <app-client-form *ngIf="showClientDialog" [selectedData]="[]" [isEdit]="false" [isView]="false"></app-client-form>
    <p-footer>
        <button type="button" class="btn theme-optional-button-color"
            (click)="closePopupEmitClient()">Cancel</button>&nbsp;
        <button type="button" class="btn theme-primary-button-color" (click)="saveClient()">Save</button>
    </p-footer>
</p-dialog> -->

<!-- <p-dialog header="{{headerData}}" [(visible)]="showVehicleDialog" [blockScroll]="true" [modal]="true"
    [focusOnShow]="false" [closable]="false">
  
</p-dialog> -->