<div id="page-content">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item"><a href="#">Employees</a></li>
                    <li class="breadcrumb-item active" aria-current="page" *ngIf="actionType === 'create'">Add Employee
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" *ngIf="actionType !== 'create'">View/Edit
                        Employee</li>
                </ol>
            </nav>
            <!--bread crumb-->
            <div class="title-border col-12 p-b-10 m-b-15 p-l-0">
                <h3 *ngIf="actionType === 'create'">Add New Employee</h3>
                <h3 *ngIf="actionType !== 'create'">View/Edit Employee</h3>
            </div>
            <div class="col-12 p-l-0 p-r-0">
                <!-- 	<div class="row"> -->
                <div class="card  m-b-10">
                    <div class="card-body">
                        <div class="title-border p-b-5 m-b-5">
                            <h6 class="d-inline-block font-weight-600">Personal Details</h6>
                            <div class="pull-right m-t-4 pointer">
                                <a id="personaltoggle"> <em class="fa fa-angle-up font-size-1-4"></em> </a>
                            </div>
                        </div>
                        <form id="personalform" [formGroup]="personalform">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputFirstName">First Name</label>
                                    <input type="number" class="form-control" id="inputFirstName"
                                        formControlName="firstName" placeholder="First Name"> </div>
                                <div class="form-group col-md-3">
                                    <label for="inputLastName">Last Name</label>
                                    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name"
                                        formControlName="lastName">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputgender">Gender</label>
                                    <select id="inputgender" class="form-control" formControlName="gender">
                                        <option selected>Choose...</option>
                                        <option *ngFor="let g of gender" value="{{g.CodeId}}">{{g.CodeValue}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputaddress">Address</label>
                                    <input type="text" class="form-control" id="inputaddress" formControlName="address">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputPhone">Mobile Number</label>
                                    <input type="phone" class="form-control" id="inputPhone" formControlName="mobile">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputImmigration">Immigration Status</label>
                                    <input type="text" class="form-control" id="inputImmigration"
                                        formControlName="immigrationStatus"> </div>
                                <div class="form-group col-md-3">
                                    <label for="inputssn">SSN</label>
                                    <input type="text" class="form-control" id="inputssn" formControlName="ssn"> </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card  m-b-10">
                    <div class="card-body">
                        <div class="title-border p-b-5 m-b-5 m-t-10">
                            <h6 class="d-inline-block font-weight-600">Employement Details </h6>
                            <div class="pull-right m-t-4 pointer">
                                <a id="Employeelisttoggle"> <em class="fa fa-angle-up font-size-1-4"></em> </a>
                            </div>
                        </div>
                        <form id="emplistform" [formGroup]="emplistform">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputLoginid">Login ID</label>
                                    <input type="text" class="form-control" id="inputLoginid" formControlName="loginId"
                                        placeholder="Login ID">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control" id="inputPassword"
                                        formControlName="password"> </div>
                                <div class="form-group col-md-3">
                                    <label>Date of Hire</label>
                                    <input type="text" class="form-control date datepicker-view"
                                        data-toggle="date-picker" data-single-date-picker="true"
                                        formControlName="dateOfHire"> </div>
                                <div class="form-group col-md-3">
                                    <label for="inputhourrate">Hourly Rate-Wash</label>
                                    <input type="text" class="form-control" id="inputhourrate"
                                        formControlName="hourlyRateWash"> </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputhourdetail">Hourly Rate-Details</label>
                                    <input type="text" class="form-control" id="inputhourdetail"
                                        formControlName="hourlyRateDetail"> </div>
                                <div class="form-group col-md-3">
                                    <label for="inputcommission">Commission</label>
                                    <select id="inputcommission" class="form-control" formControlName="commission">
                                        <option selected>Choose...</option>
                                        <option *ngFor="let c of commissionType" value="{{c.CodeId}}">{{c.CodeValue}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputStatus">Status</label>
                                    <select id="inputStatus" class="form-control" formControlName="status">
                                        <option selected>Choose...</option>
                                        <option *ngFor="let status of Status">{{status}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputtip">Tip</label>
                                    <input type="text" class="form-control" id="inputtip" formControlName="tip"> </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputexemptions">Exemptions </label>
                                    <input type="phone" class="form-control" id="inputexemptions"
                                        formControlName="exemptions"> </div>
                                <div class="form-group col-md-3">
                                    <label class="d-block">Roles </label>
                                    <ng-multiselect-dropdown [placeholder]="'Select Role'" [settings]="dropdownSettings" [data]="employeeRoles"
                                        formControlName="roles" >
                                    </ng-multiselect-dropdown>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="d-block">Location </label>
                                    <ng-multiselect-dropdown [placeholder]="'Select Location'" [settings]="dropdownSettings" [data]="location"
                                        formControlName="location" >
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card  m-b-10">
                    <div class="card-body">
                        <div class="title-border p-b-5 m-b-5 m-t-10">
                            <h6 class="d-inline-block font-weight-600">Documents </h6>
                            <div class="pull-right m-t-4 pointer">
                                <a id="documenttoggle"> <i class="fa fa-angle-up font-size-1-4"></i> </a>
                            </div>
                        </div>
                        <div class="form-row" id="docform">
                            <div class="form-group col-md-4">
                                <label for="customFile">Document</label>
                                <div>
                                    <!-- <input type="file" size="60" name="areaofmouth" id="filepaths" dirname="S:\"
                                        accept=".pdf, .png, .jpg, .jpeg, .gif" class="form-control"
                                        (change)="fileNameChanged()" /> -->
                                    <input type="file" class="form-control-file" accept=".pdf, .png, .jpg, .jpeg, .gif"
                                        id="customFile" dirname="S:\" name="filename">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-t-12 pull-right mw-100">
                    <button type="button" class="btn theme-optional-button-color" (click)="cancel()">Cancel</button>
                    <button type="button" class="btn theme-primary-button-color" (click)="checking()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>