<form [formGroup]="productSetupForm">
    <div class="form-row">
        <div class="form-group col-lg-3">
            <label for="inputName"> Name<span class="required">*</span></label>
            <input type="text" maxlength="60" appAlphaNumeric class="form-control"
                formControlName="name" placeholder="Product Name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>
        <div class="form-group col-lg-3">
            <label for="inputProductType"> Type<span class="required">*</span></label>
            <select class="form-control" formControlName="productType"
                [ngClass]="{ 'is-invalid': submitted && f.productType.errors }">
                <option value="" selected hidden>Choose </option>
                <option *ngFor="let productType of prodType" value="{{productType.CodeId}}">
                    {{productType.CodeValue}}</option>
            </select>
            <div *ngIf="submitted && f.productType.errors" class="invalid-feedback">
                <div *ngIf="f.productType.errors.required">Type is required</div>
            </div>
        </div>
        <div class="form-group col-lg-3">
            <label for="inputSize">Size</label>
            <select class="form-control" formControlName="size" (change)="showText($event.target.value)">
                <option value="" selected hidden>Choose </option>
                <option *ngFor="let size of size" value="{{size.CodeId}}">{{size.CodeValue}}</option>
            </select>
        </div>
        <div class="form-group col-lg-3" *ngIf="textDisplay === true">
            <label for="inputOtherSize">Other Size<span class="required">*</span></label>
            <input type="text" maxlength="10" class="form-control" formControlName="other" placeholder="Size"
                [ngClass]="{ 'is-invalid': submitted && f.other.errors }">
            <div *ngIf="submitted && f.other.errors" class="invalid-feedback">
                <div *ngIf="f.other.errors.required">Size is required</div>
            </div>
        </div>
        <div class="form-group col-lg-3">
            <label for="inputLocation">Location<span class="required">*</span></label>
            <ng-multiselect-dropdown [placeholder]="'Select Location'"
                [ngClass]="{ 'is-invalid': submitted && f.locationName.errors }" [disabled]="isEdit"
                [settings]="dropdownSettings" [data]="location" formControlName="locationName">
            </ng-multiselect-dropdown>

            <div *ngIf="submitted && f.locationName.errors" class="invalid-feedback">
                <div *ngIf="f.locationName.errors.required">Name is required</div>
            </div>
        </div>

        <div class="form-group col-lg-3">
            <div class="form-row">
                <div class="form-group col-lg-7">
                    <label for="inputQuantity">Quantity</label>
                    <input type="text" [ngClass]="{ 'is-invalid': submitted && f.suggested.errors }" appTwoDecimalNumber
                        [appMaxLength]="9" class="form-control" placeholder="0.00" formControlName="quantity">
                    <div *ngIf="submitted && f.suggested.errors" class="p-t-5" style="font-size: 80%;color: #dc3545;">
                        <div *ngIf="f.suggested.errors.required">Quantity is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-3 m-t-30">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" >
                        <label class="btn btn-secondary">
                            <input type="radio" formControlName="type"  value="plus" (click)="settingType($event)"
                                id="option1" autocomplete="off">
                            +
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" formControlName="type"  value="minus" (click)="settingType($event)"
                                id="option2" autocomplete="off"> -
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-3">
            <label for="inputCost">Cost (Per Unit)</label>
            <input type="text" appTwoDecimalNumber [appMaxLength]="9" class="form-control" formControlName="cost"
                placeholder="$0.00" [ngClass]="{ 'is-invalid': submitted && f.cost.errors }">
            <div *ngIf="submitted && costErrMsg" class="p-t-5" style="font-size: 80%;color: #dc3545;">
                Cost should not be 0
            </div>
        </div>
        <div class="form-group col-lg-3">
            <label for="inputName"> Price<span class="required">*</span></label>
            <input type="text" [ngClass]="{ 'is-invalid': submitted && f.suggested.errors }" appTwoDecimalNumber
                class="form-control" formControlName="suggested" placeholder="$0.00">
            <div *ngIf="submitted && f.suggested.errors" class="invalid-feedback">
                <div *ngIf="f.suggested.errors.required">Price is required</div>
            </div>
        </div>
        <div class="form-group col-lg-3">
            <label for="inputVendor">Vendor</label>
            <!-- <select class="form-control" formControlName="vendor">
                <option value="" selected hidden>Choose</option>
                <option *ngFor="let vendor of Vendor" value="{{vendor.VendorId}}">{{vendor.VendorName}}</option>
            </select> -->
            <ng-multiselect-dropdown (onDeSelect)="onVendorDeSelect($event)" [placeholder]="'Select Vendor'"
                [settings]="dropdownSettings" [data]="Vendor" formControlName="vendor">
            </ng-multiselect-dropdown>
        </div>
        <div class="form-group col-lg-3">
            <label for="inputThreshold">Threshold #</label>
            <input numbersOnly type="text" maxlength="2" class="form-control" formControlName="thresholdAmount"
                placeholder="Threshold #">
        </div>
        <div class="form-group col-lg-3">
            <label for="inputStatus">Status</label>
            <select class="form-control" formControlName="status">
                <option *ngFor="let status of Status" value="{{status.id}}">{{status.Value}}</option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <label></label>
            <div class="form-check">
                <input type="checkbox" formControlName="taxable" class="form-check-input"
                    (change)="change($event.target.checked)">
                <label class="form-check-label" for="gridCheck">Taxable</label>
            </div>
        </div>
        <div class="form-group col-lg-3" *ngIf="isChecked === true">
            <label for="inputTaxAmount">Tax Percentage<span class="required">*</span></label>
            <input type="text" class="form-control" formControlName="taxAmount" placeholder="0.00%" appTwoDecimalNumber
                [ngClass]="{ 'is-invalid': submitted && f.taxAmount.errors }">
            <div *ngIf="submitted && f.taxAmount.errors" class="invalid-feedback">
                <div *ngIf="f.taxAmount.errors.required">Tax Percentage is required</div>
            </div>
        </div>
        <div class="col-lg-3 form-group">
            <label></label>
            <div class="form-check">
                <input type="file" class="custom-file-input" id="customFile" accept=".png,.jpeg,.jpg"
                    (change)="fileNameChanged()">
                <span id='lbl' class="custom-file-label" for="customFile">Select Image</span>
                <small class="form-text text-muted">File Type:png,jpeg,jpg</small>
                <!-- <span *ngIf="!isLoading">{{fileName}}</span>
                <span *ngIf="fileName && !isLoading"><em
                        class="mdi mdi-close-circle pointer delete-list theme-optional-icon-color font-size-1-2"
                        (click)="clearDocument()"></em>
                </span> -->
                <div class="loadingDiv" *ngIf="isLoading">
                    <em class="fa fa-spin fa-spinner" style="font-size:50px;"></em><br />
                </div>
                <span *ngIf="!isLoading">{{fileName}}</span>
                <span *ngIf="fileName && !isLoading" style="padding-left: 10px;padding-right: 10px;"><em
                        class="mdi mdi-close-circle pointer delete-list theme-optional-icon-color font-size-1-2"
                        (click)="clearDocument()"></em>
                    <em class="mdi mdi-file-download-outline pointer theme-primary-icon-color md-doc"
                        style="cursor: pointer;" (click)="downloadImage()"></em>
                </span>
                <!-- <span *ngIf="fileName && !isLoading" class="text-underline theme-primary-color font-size--9"
                    style="cursor: pointer;" (click)="downloadImage()">Download</span> -->
            </div>
        </div>
        <div>

        </div>
    </div>
</form>
<div class="modal-footer">
    <button type="button" class="btn theme-optional-button-color" tabIndex="-1" (click)="cancel()">Cancel</button>
    <button type="button" class="btn theme-primary-button-color" (click)="submit()">Save</button>
</div>