<div class="modal-body">
    <form [formGroup]="vehicleForm">
        <div class="form-row">
            <div class="form-group col-lg-4">
                <label for="inputBarcode">Barcode</label>
                <input type="text" maxlength="25" class="form-control" formControlName="barcode"
                    placeholder="None/UNK”">
            </div>
            <div class="form-group col-lg-4">
                <label for="inputMake">Make</label>
                <select class="form-control" formControlName="make">
                    <option hidden selected value="">Choose</option>
                    <option *ngFor="let make of make" value="{{make.CodeId}}">{{make.CodeValue}}</option>
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label for="inputModel">Model</label>
                <select class="form-control" formControlName="model">
                    <option hidden selected value="">Choose</option>
                    <option *ngFor="let model of model" value="{{model.CodeId}}">{{model.CodeValue}}</option>
                </select>
            </div>  
        </div>
        <div class="form-row">  
            <div class="form-group col-lg-4">
                <label for="inputColor">Color</label>
                <select class="form-control" formControlName="color">
                    <option hidden selected value="">Choose</option>
                    <option *ngFor="let color of color" value="{{color.CodeId}}">{{color.CodeValue}}</option>
                </select>
            </div>        
            <div class="form-group col-lg-4">
                <label for="inputUpcharge">Upcharge</label>
                <select class="form-control" formControlName="upcharge">
                    <option hidden selected value="">Choose</option>
                    <option *ngFor="let upcharge of upcharge" value="{{upcharge.CodeId}}">{{upcharge.CodeValue}}</option>
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label for="inputUpcharge">Upcharge Type</label>
                <select class="form-control" formControlName="upchargeType">
                    <option hidden selected value="">Choose</option>
                    <option *ngFor="let upcharge of upchargeType" value="{{upcharge.CodeId}}">{{upcharge.CodeValue}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">        
            <div class="form-group col-lg-4">
                <label for="inputMembership">Membership</label>
                <select class="form-control" formControlName="membership">
                    <option hidden selected value="">Choose</option>
                    <option *ngFor="let member of membership" value="{{member.MembershipName}}">{{member.MembershipName}}</option>
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label for="inputMonthlyCharge">Monthly Charge</label>
                <input numbersOnly type="text" [appMaxLength]="9" class="form-control" formControlName="monthlyCharge" 
                    placeholder="Monthly Charge">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn theme-optional-button-color" (click)="cancel()">Cancel</button>
    <button *ngIf="!isView" type="button" class="btn theme-primary-button-color" (click)="submit()">Save</button>
</div>
