<div id="page-content">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cash Register</li>
                </ol>
            </nav>
            <!--bread crumb-->
            <div class="title-border col-12 p-b-10 m-b-15 p-l-0">
                <h3 class="d-inline-block">Cash Register -</h3>
                <input data-provide="datepicker">
                <!-- <div id="datepicker" class="date d-inline-block " data-date-format="dd-mm-yyyy">
                    <input type="text" class="datepick" /> <span class="input-group-addon"><i
                            class="font-size-1-5 theme-secondary-color mdi mdi-calendar-month"></i></span> </div> -->
            </div>
            <div class="col-lg-12 p-l-0 p-r-0">
                <ul class="nav  cashreg-tab  mb-2">
                    <li>
                        <a href="#cash" data-toggle="tab" aria-expanded="false" class="nav-links active"> <i
                                class="fa fa-money"></i> <span>Cash</span> </a>
                    </li>
                    <li>
                        <a href="#business-goal" data-toggle="tab" aria-expanded="false" class="nav-links"> <i
                                class="mdi mdi-bullseye"></i> <span>Business Goal</span> </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="cash">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-xl-5 no-space">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="title-border p-b-5 m-b-5">
                                                <h4 class="d-inline-block">Coins</h4>
                                            </div>
                                            <form [formGroup]="cashRegisterForm" (ngSubmit)="submit()">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputpennies">Pennies</label>
                                                        <input type="text" numbersOnly formControlName="coinPennies"
                                                            class="form-control" placeholder="0"
                                                            (change)="getTotalPennie($event.target.value)"> </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="inputnickels">Nickels </label>
                                                        <input type="text" numbersOnly formControlName="coinNickels"
                                                            class="form-control" placeholder="0"
                                                            (change)="getTotalNickel($event.target.value)"> </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputdimes">Dimes</label>
                                                        <input type="text" numbersOnly formControlName="coinDimes"
                                                            class="form-control" placeholder="0"
                                                            (change)="getTotalDime($event.target.value)"> </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="inputquarters">Quarters</label>
                                                        <input type="text" numbersOnly formControlName="coinQuaters"
                                                            class="form-control" placeholder="0"
                                                            (change)="getTotalQuater($event.target.value)"> </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputhalfdollars">Half Dollars</label>
                                                        <input type="text" numbersOnly formControlName="coinHalfDollars"
                                                            class="form-control" placeholder="0"
                                                            (change)="getTotalHalf($event.target.value)"> </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card-->
                                </div>
                                <!--Bills-->
                                <div class="col-xl-7 no-space">
                                    <div class="card">
                                        <div class="card-body tl-bills">
                                            <div class="title-border p-b-5 m-b-5">
                                                <h4 class="d-inline-block">Bills</h4>
                                            </div>
                                            <form [formGroup]="cashRegisterForm" (ngSubmit)="submit()">
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label for="input1s">1's</label>
                                                        <input type="text" numbersOnly formControlName="billOnes"
                                                            class="form-control" placeholder="0"> </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="input5s">5's </label>
                                                        <input type="text" numbersOnly formControlName="billFives"
                                                            class="form-control" placeholder="0"> </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="input10s">10's </label>
                                                        <input type="text" numbersOnly formControlName="billTens"
                                                            class="form-control" placeholder="0"> </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label for="input20s">20's</label>
                                                        <input type="text" numbersOnly formControlName="billTwenties"
                                                            class="form-control" placeholder="0"> </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="input50s">50's</label>
                                                        <input type="text" numbersOnly formControlName="billFifties"
                                                            class="form-control" placeholder="0"> </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="input100s">100's </label>
                                                        <input type="text" numbersOnly formControlName="billHundreds"
                                                            class="form-control" placeholder="0"> </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card-->
                                </div>
                            </div>
                            <!-- end row-->
                            <div class="row">
                                <div class="col-xl-5 no-space">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="title-border p-b-5 m-b-5">
                                                <h4 class="d-inline-block">Rolls</h4>
                                            </div>
                                            <form [formGroup]="cashRegisterForm" (ngSubmit)="submit()">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputpennies">Pennies</label>
                                                        <input type="text" numbersOnly formControlName="pennieRolls"
                                                            class="form-control" placeholder="0"> </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="inputnickels">Nickels </label>
                                                        <input type="text" numbersOnly formControlName="nickelRolls"
                                                            class="form-control" placeholder="0"> </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputdimes">Dimes</label>
                                                        <input type="text" numbersOnly formControlName="dimeRolls"
                                                            class="form-control" placeholder="0"> </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="inputquarters">Quarters</label>
                                                        <input type="text" numbersOnly formControlName="quaterRolls"
                                                            class="form-control" placeholder="0"> </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card-->
                                </div>
                                <!--Bills-->
                                <div class="col-xl-7 no-space">
                                    <div class="card">
                                        <div class="card-body tl-cash">
                                            <div class="title-border p-b-5 m-b-5">
                                                <h4 class="d-inline-block">Total Cash</h4>
                                            </div>
                                            <div class="row m-t-20">
                                                <div class="col-lg-8 col-xl-6">
                                                    <div class="btn-group">
                                                        <label class="default-name"> Coins</label>
                                                        <label class="default-amount"> {{totalCoin}}</label>
                                                    </div>
                                                    <div class="btn-group">
                                                        <label class="default-name sm-bill"> Bills</label>
                                                        <label class="default-amount"> $0.00</label>
                                                    </div>
                                                    <div class="btn-group">
                                                        <label class="default-name sm-roll"> Rolls</label>
                                                        <label class="default-amount"> $0.00</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xl-6 text-center m-t-20">
                                                    <h6 class="font-weight-bold">Total Available Cash</h6> <span
                                                        class="cash-box"> <span class="text-cash">$00.00 </span> </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card-->
                                </div>
                            </div>
                        </div>
                        <div class="m-t-12 pull-right mw-100">
                            <button type="button"
                                class="btn theme-primary-button-color  col-12 col-sm-auto col-md-auto col-lg-auto co-xl-auto">Next</button>
                        </div>
                    </div>
                    <div class="tab-pane show" id="business-goal">
                        <div class="row no-gutter mob-goal">
                            <div class="col-lg-12">
                                <div class="list-group  m-b-10">
                                    <a href="#" class="list-group-item weather-goal">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="font-weight-600"><i
                                                    class="mdi mdi-white-balance-sunny font-size-1-5 theme-light-yellow-color align-mid"></i>
                                                High Temperature</h6> <span
                                                class="font-size-1 font-weight-bold">32F</span>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item weather-goal">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="font-weight-600"><i
                                                    class="mdi mdi-weather-rainy font-size-1-5 theme-optional-icon-color align-mid"></i>
                                                Probability of Rain</h6> <span
                                                class="font-size-1 font-weight-bold">10%</span>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item weather-goal">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="font-weight-600">Last Week this day</h6>
                                        </div>
                                        <ul class="list-group list-group-horizontal justify-content-between">
                                            <li><i class="mdi mdi-car-wash font-size-1-1 theme-secondary-color"></i>
                                                <span> Washes</span>- 32 </li>
                                            <li><i
                                                    class="mdi mdi-weather-rainy theme-optional-icon-color font-size-1-1"></i>
                                                <span> Rain </span>- 10%</li>
                                            <li><i class="mdi mdi-bullseye theme-primary-color font-size-1-1"></i>
                                                <span>Daily Target </span>- 25</li>
                                        </ul>
                                    </a>
                                    <a href="#" class="list-group-item weather-goal">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="font-weight-600">Last month this day</h6>
                                        </div>
                                        <ul class="list-group list-group-horizontal justify-content-between">
                                            <li><i class="mdi mdi-car-wash font-size-1-1 theme-secondary-color"></i>
                                                <span> Washes</span>- 32 </li>
                                            <li><i
                                                    class="mdi mdi-weather-rainy theme-optional-icon-color font-size-1-1"></i>
                                                <span> Rain </span>- 10%</li>
                                            <li><i class="mdi mdi-bullseye theme-primary-color font-size-1-1"></i>
                                                <span>Daily Target </span>- 25</li>
                                        </ul>
                                    </a>
                                    <a href="#" class="list-group-item weather-goal">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="font-weight-600">Last three months this day</h6>
                                        </div>
                                        <ul class="list-group list-group-horizontal justify-content-between">
                                            <li><i class="mdi mdi-car-wash font-size-1-1 theme-secondary-color"></i>
                                                <span> Washes</span>- 32 </li>
                                            <li><i
                                                    class="mdi mdi-weather-rainy theme-optional-icon-color font-size-1-1"></i>
                                                <span> Rain </span>- 10%</li>
                                            <li><i class="mdi mdi-bullseye theme-primary-color font-size-1-1"></i>
                                                <span>Daily Target </span>- 25</li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter web-goal">
                            <div class="col-lg-6 col-xl-3">
                                <div class="row  no-gutter">
                                    <div class="col-lg-6 col-ipad">
                                        <app-temperature></app-temperature>
                                    </div>
                                    <div class="col-lg-6 p-r-0 col-ipad">
                                        <app-rain-probability></app-rain-probability>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-3">
                                <app-last-week></app-last-week>
                            </div>
                            <div class="col-lg-6 col-xl-3">
                                <app-last-month></app-last-month>
                            </div>
                            <div class="col-lg-6 col-xl-3">
                                <app-last-three-month></app-last-three-month>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="title-border p-b-5 m-b-5">
                                            <h4 class="d-inline-block">Business Goal</h4>
                                        </div>
                                        <form [formGroup]="cashRegisterForm" (ngSubmit)="submit()">
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputwashes"> No of Washes</label>
                                                    <input type="text" numbersOnly formControlName="goal"
                                                        class="form-control" placeholder="0"> </div>
                                                <!-- 																<div class="form-group col-md-2">
                                                    <label for="inputnickels">No of Details </label>
                                                    <input type="text" numbersOnly formControlName="" class="form-control" placeholder="0"> </div> -->
                                            </div>
                                        </form>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card-->
                            </div>
                        </div>
                        <div class="m-t-12 pull-right mw-100">
                            <button type="button" class="btn theme-optional-button-color">Cancel</button>
                            <button type="button" class="btn theme-primary-button-color">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <form [formGroup]="cashRegisterForm" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-4">
                <div class="formGroup">
                    <label><b>Coins: </b></label>
                    <div class="col-6">
                        <label><b>Pennies : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="coinPennies">
                    </div>
                    <div class="col-6">
                        <label><b>Nickels : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="coinNickels">
                    </div>
                    <div class="col-6">
                        <label><b>Dimes : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="coinDimes">
                    </div>
                    <div class="col-6">
                        <label><b>Quaters : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="coinQuaters">
                    </div>
                    <div class="col-6">
                        <label><b>Half Dollars : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="coinHalfDollars">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="formGroup">
                    <label><b>Bills : </b></label>
                    <div class="col-6">
                        <label><b>1's : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="billOnes">
                    </div>
                    <div class="col-6">
                        <label><b>5's : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="billFives">
                    </div>
                    <div class="col-6">
                        <label><b>10's : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="billTens">
                    </div>
                    <div class="col-6">
                        <label><b>20's : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="billTwenties">
                    </div>
                    <div class="col-6">
                        <label><b>50's : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="billFifties">
                    </div>
                    <div class="col-6">
                        <label><b>100's : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="billHundreds">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="formGroup">
                    <label><b>Rolls : </b></label>
                    <div class="col-6">
                        <label><b>Pennies : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="pennieRolls">
                    </div>
                    <div class="col-6">
                        <label><b>Nickels : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="nickelRolls">
                    </div>
                    <div class="col-6">
                        <label><b>Dimes : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="dimeRolls">
                    </div>
                    <div class="col-6">
                        <label><b>Quaters : </b></label>
                        <input numbersOnly type="text" class="form-control" formControlName="quaterRolls">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="formGroup">
                    <label><b>High Temperature : </b></label>
                    <input type="text" class="form-control" formControlName="highTemperature">
                </div>
                <div class="formGroup">
                    <label><b>Rain % : </b></label>
                    <input type="text" class="form-control" formControlName="rainPercentage">
                </div>
                <div class="formGroup">
                    <label><b>Goal : </b></label>
                    <input type="text" class="form-control" formControlName="goal">
                </div>
            </div>
        </div>
        <div class="formGroup float-right">
            <button type="button" class="btn btn-primary btn-sm " (click)="submit()">Submit</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">Cancel</button>
        </div>
    </form> -->