<div class="container-fluid">
    <form [formGroup]="basicSetupForm">
    <div class="form-group">
        <div class="col-4">
            <label><b>Location ID : </b></label>
            <input type="text" class="form-control"  formControlName="locationId">
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label><b>Location Name : </b></label>
            <input type="text" class="form-control"  formControlName="locationName">
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label><b>Location Address : </b></label>
            <input type="text" class="form-control"  formControlName="locationAddress">
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label><b>ZipCode: </b></label>
            <input type="text" class="form-control"  formControlName="zipcode">
        </div>
    </div>
    <div class="form-group">
        <label><b>State : </b></label>
        <select formControlName="state">
            <option value="">Select </option>
            <option *ngFor="let state of State" [ngValue]="state">{{state}}</option>
          </select>
    </div>
    <div class="form-group">
        <label><b>Country : </b></label>
        <select formControlName="country">
            <option value="">Select </option>
            <option *ngFor="let country of Country" [ngValue]="country">{{country}}</option>
          </select>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label><b>Phone Number : </b></label>
            <input type="text" class="form-control"  formControlName="phoneNo">
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label><b>Email : </b></label>
            <input type="text" class="form-control"  formControlName="email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">            
            <input type="checkbox" class="form-control"  formControlName="franchise" (change)="change($event.target.checked)" >
            <label><b>Franchise : </b></label>
        </div>
    </div>

    <div class="formGroup float-right">
        <input type="button" value="Save" class="btn btn-primary btn-sm " (click)="submit()">
        <input type="button" value="Cancel" class="btn btn-secondary btn-sm" (click)="cancel()">
    </div>
    </form>
</div>