<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
        <div class="card m-b-10">
            <div class="card-body">
                <div class="tab-content">
                    <div class="title-border p-b-20 m-b-15">
                        <h5 class="d-inline-block">Location List</h5>
                        <button type="button" class="btn theme-primary-button-color btn-md float-right"
                            (click)="add('add',[])">Add
                            New Location</button>
                    </div>
                    <div class="setup-wrapper">
                        <div class="setup-content" id="open-collapse">
                            <div class="search-container  pull-right">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group d-flex"> <input type="search" class="form-control"
                                                [(ngModel)]="search" title="Search by Name, Address, Phone, Email" size="25" name="search" id="inputSearch"
                                                placeholder="Search..."
                                                (ngModelChange)="this.searchUpdate.next($event)"> </div>
                                        <div class="form-group col-sm m-l-5">
                                            <button type="button" class="btn theme-primary-button-color btn-sm m-l-10"
                                                (click)="locationSearch()">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="table-responsive">
                                <table class="table  table-striped m-t-10 headerfix" *ngIf="!isLoading">
                                    <thead>
                                        <tr>
                                            <th class="pointer" (click)="changesort('LocationName')">Name
                                                <i class="fa" [ngClass]="selectedCls('LocationName')"></i>
                                            </th>
                                            <th class="pointer" (click)="changesort('Address1')">Address
                                                <i class="fa" [ngClass]="selectedCls('Address1')"></i>
                                            </th>

                                            <th class="pointer" (click)="changesort('IsFranchise')">Franchise
                                                <i class="fa" [ngClass]="selectedCls('IsFranchise')"></i>
                                            </th>
                                            <th class="pointer" (click)="changesort('PhoneNumber')">Phone Number
                                                <i class="fa" [ngClass]="selectedCls('PhoneNumber')"></i>
                                            </th>
                                            <th class="pointer" (click)="changesort('Email')">Email
                                                <i class="fa" [ngClass]="selectedCls('Email')"></i>
                                            </th>


                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bodyfix">
                                        <tr
                                            *ngFor="let locationSetup of locationSetupDetails | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                            <td scope="row">{{locationSetup.LocationName}}</td>
                                            <td title="{{locationSetup.Address1}}">
                                                {{locationSetup.Address1 | slice:0:15}}
                                                {{(locationSetup.Address1 !== null) ? locationSetup.Address1.length >=
                                                    15 ? '' : '...' :''}} </td>
                                            <td>{{locationSetup.IsFranchise === true ? "Yes" : "No"}}</td>
                                            <td>{{locationSetup.PhoneNumber}}</td>
                                            <td>{{locationSetup.Email}}</td>
                                            <td>
                                                <em class="fa fa-pencil-square edit-list theme-secondary-icon-color m-r-10"
                                                    style="color:green" pTooltip="Edit" tooltipPosition="bottom"
                                                    (click)="add('edit', locationSetup)"></em>
                                                <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                    style="color:red" pTooltip="Delete" tooltipPosition="bottom"
                                                    (click)="delete(locationSetup)"></em>
                                            </td>
                                        </tr>
                                        <tr *ngIf="locationSetupDetails.length == 0">
                                            <td colspan="12" class="text-center"> No Records Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="loadingDiv" *ngIf="isLoading">
                                    <em class="fa fa-spin fa-spinner" style="font-size:50px;"></em><br />
                                </div>
                                <div class="row pull-right">
                                    <div class="col-6">
                                        <ngb-pagination *ngIf="locationSetupDetails.length > 0"
                                            [collectionSize]="collectionSize" (pageChange)="paginate($event)"
                                            [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                            [boundaryLinks]="true" class="d-flex justify-content-end">
                                        </ngb-pagination>
                                    </div>
                                    <select *ngIf="locationSetupDetails.length > 0" class="form-control col-4"
                                        name="paginate" [(ngModel)]="pageSize" (change)="paginatedropdown($event)">
                                        <option *ngFor="let size of pageSizeList" value="{{size}}">{{size}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog styleClass="MyDialog" header="{{headerData}}" [(visible)]="showDialog" [blockScroll]="true" [resizable]="true"
    appendTo="body" [modal]="true" [focusOnShow]="false" [closable]="false">
    <app-location-create-edit *ngIf="showDialog" [selectedData]="selectedData" [isEdit]="isEdit"
        (closeDialog)="closePopupEmit($event)">
    </app-location-create-edit>
</p-dialog>