<div id="page-content">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Payroll</li>
                </ol>
            </nav>
            <div class="border-bottom  col-12 p-b-10 m-b-15 p-l-0">
                <h3 class="d-inline-block">Payroll</h3>
            </div>
            <div class="col-lg-12 p-l-0 p-r-0">
                <div class="card  m-b-10">
                    <div class="card-body">
                        <div class="row p-b-10 m-b-15">
                            <div class="col-2">
                                <h5 class="d-inline-block">Payroll List
                                </h5>
                                <!-- <div class="pull-right m-t-4 ">

                                    
                                </div> -->
                            </div>
                            <div class="col-3">
                                <div class="form-row">
                                    <label class="col-sm-2 col-form-label" for="inTime">From:</label>
                                    <input type="text" class="form-control col-sm-10" bsDatepicker name="inTime" id="inTime" />
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-row">
                                    <label class="col-sm-2 col-form-label" for="inTime">To:</label>
                                    <input type="text" class="form-control col-sm-10" bsDatepicker name="inTime" id="inTime" />
                                </div>
                            </div>
                            <div class="col-4 pull-right ">
                                <button type="button" class="btn theme-primary-button-color btn-md m-l-10">Run
                                    Report</button>
                                <button type="button"
                                    class="btn theme-primary-button-color btn-md m-l-10">Edit</button>
                                <button type="button"
                                    class="btn theme-primary-button-color btn-md m-l-10">Update</button>
                                <button type="button"
                                    class="btn theme-primary-button-color btn-md m-l-10">Process</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table border table-hover" aria-describedby="payroll-list">
                                <thead>
                                    <tr>
                                        <th scope="col">Emp. ID</th>
                                        <th scope="col">Payee</th>
                                        <th scope="col">Wash Hrs.</th>
                                        <th scope="col">Detail Hrs.</th>
                                        <th scope="col">Rate</th>
                                        <!-- <th scope="col">Detail rate</th> -->
                                        <th scope="col">Reg pay</th>
                                        <th scope="col">OT Hrs.</th>
                                        <th scope="col">OT Pay</th>
                                        <th scope="col">Uniform</th>
                                        <th scope="col">Collision</th>
                                        <th scope="col">Adj.</th>
                                        <th scope="col">Details com.</th>
                                        <th scope="col">Tips</th>
                                        <!-- <th scope="col">Detail Tips</th> -->
                                        <th scope="col">Payee Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>9567464</td>
                                        <td>Myron wunsch</td>
                                        <td>10</td>
                                        <td>20</td>
                                        <td>10</td>
                                        <!-- <td>0</td> -->
                                        <td>$100</td>
                                        <td>0</td>
                                        <td>$0.00</td>
                                        <td>$0.00</td>
                                        <td>$0.00</td>
                                        <td>$50.00</td>
                                        <td>$200.00</td>
                                        <td>$10.00</td>
                                        <!-- <td>$50</td> -->
                                        <td>$410</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>