<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">View Document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                aria-hidden="true">&times;</span> </button>
    </div>
    <div class="modal-body">
        <!--modal body-->
        <div class="form-row">
            <div class="form-group col-md-12">
                <form [formGroup]="passwordForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" formControlName="password" id="inputPassword"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">password is required</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn theme-primary-button-color" (click)="viewDocument()">Download</button>
        <button type="button" class="btn theme-optional-button-color" (click)="closeModal()">Cancel</button>
    </div>
</div>