<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444387220224-npmr9m8gsmtcu79sibamtitt8agh05pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444387220224-npmr9m8gsmtcu79sibamtitt8agh05pt</string>
	<key>API_KEY</key>
	<string>AIzaSyAR3rNwDI6WFW_g7wkqulW_0p9z9vgkMiE</string>
	<key>GCM_SENDER_ID</key>
	<string>444387220224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Telliant.StriveCustomer</string>
	<key>PROJECT_ID</key>
	<string>fir-poc-8e8f1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-poc-8e8f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444387220224:ios:380bc479ea456810a571e5</string>
	<key>DATABASE_URL</key>
	<string>https://fir-poc-8e8f1.firebaseio.com</string>
</dict>
</plist>