section#login
{
	background: url(/../../assets/images/login-bg@2x.jpg);
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

.login-panel
{
		box-shadow: 0px 13px 26px #0E2C6E;
}

.login-panel-container
{
	padding:0px 1.9em 0px 1.9em;
}

.branding
{
	height: 85px;
	width: 135px;
}


/* System Setup Css comes here */

.img-width{
	padding-left:26px;
	}
	.title{
	   
font-size: 11px;
	}
	.pgheader {
color: black !important;
font-size: 14px !important;
text-decoration: underline !important;
}
.pghead {
color: #24489a !important;
font-size: 14px !important;
}
.right-bar-enabled .right-bar {
left: 0;
}
.right-bar {
background: #1b3b84;
display: block;
position: fixed;
-webkit-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
width: 180px;
z-index: 9999;
float: left !important;
left: -290px;
top: 0;
bottom: 0;
padding-bottom: 80px;
}
.media{
padding:10px;
cursor:pointer;
border-bottom: 1px solid #cacad229 !important;
}
.media:hover{
background: #1DC9B7;
}


.sidebar-heading{

font-family: Open Sans;
font-style: normal;
font-size: 14px;
color: white;
font-weight: 600;
margin-left: 10px;	
}


.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #1b3b84;
	overflow-x: hidden;
	transition: 0.5s;
	margin-left: 70px;
}

.sidebar a {
	text-decoration: none;
	font-size: 13px;
	font-family: Open Sans;
	font-style: normal;
	margin-left: 8px;
	font-weight: 400;
	color: #d9e2f9cc;
	padding: 5px 20px 5px 20px;
	display: block;
	transition: 0.3s;
	margin-bottom: 10px;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	padding: 0px !important;
	color: white;
}

.sidebarheader {
	margin-top: 60px;
	font-size: 13px;
	font-family: Open Sans;
	font-style: normal;
	margin-left: 8px;
	font-weight: 400;
	color: #d9e2f9;
	min-height: 27px;
	display: block;
	transition: 0.3s;
	border-bottom: 1px solid #cacad229 !important;
}

.sideheader {
	padding: 5px 20px 5px 20px;
}

.openbtn {
	cursor: pointer;
}

.openbtn:hover {
	 background: #1DC9B7;
}

#main {
	transition: margin-left 0.5s;
	padding: 8px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
}

.navi-tabs{
border: 1px solid #ddd;
background-color: white;
}
.nav-title{
	color: black;
font-size: 16px;
font-weight: 600;
}
<!-- .nav-links{
padding: 10px 15px;
} -->
.ic-pencil{
color: #1dc9b7;
font-size:18px;
}
.portlet-title{
border-bottom: 1px solid #eee;
padding: 0;
margin-bottom: 10px;
min-height: 35px;
}
.caption{
	font-size: 18px;
}
.subheader {
display: block !important;
margin-bottom: 5px !important;
}
.pull-right{
float:right;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
	.menu-web-display {
		display: block !important;
	}
	.sidebar{
	display: none !important;
	}
	.ipadvisible {
		display: block !important;
	}
	.ipad {
		display: none !important;
	}
	.logo-web{
		display: none !important;
	}
	.logo-mobile{
		
		display:block !important;
	}
	#main{
	margin-left:0px !important;
	}
}
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
	.menu-web-display {
		display: block !important;
	}
	.sidebar{
	display: none !important;
	}
	.ipadvisible {
		display: block !important;
	}
	.ipad {
		display: none !important;
	}
	.logo-web{
		display: none !important;
	}
	.logo-mobile{
		
		display:block !important;
	}
	#main{
	margin-left:0px !important;
	}
}
/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
	.web-display {
		display: none !important;
	}
	.mob-display {
		display: block !important;
	}
	.ipadvisible {
		display: block !important;
	}
	.ipad {
		display: none !important;
	}
	.logo-web{
		display: none !important;
	}
	.logo-mobile{
		
		display:block !important;
	}
	#main{
	margin-left:0px !important;
	}
}
/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
	.menu-web-display {
		display: none !important;
	}
	.sidebar{
	display: block !important;
	}
	.ipadvisible {
		display: none !important;
	}
	.logo-web{
		display: block !important;
	}
	.logo-mobile{
		
		display:none !important;
	}
}
/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
	.menu-web-display {
		display: none !important;
	}
	.sidebar{
	display: block !important;
	}
	.ipadvisible {
		display: none !important;
	}
	.logo-web{
		display: block !important;
	}
	.logo-mobile{
		
		display:none !important;
	}
}

.nav-link:last-child {
border-bottom:0px ;
}

.icon-side{
font-size: 25px;
color: white;
}
.rightbar-title {
padding: 10px;
color: #fff;
margin-bottom: 4px;
}

. border-0{
border-bottom:0px;
}

.ic-edit {
color: #1dc9b7;
font-size: 21px;
cursor:pointer;
}
.table td, .table th {
padding: .40rem;
vertical-align: top;
border-top: 1px solid #dee2e6;
}
.ic-delete{
color: #fd397a;
font-size: 21px;
cursor:pointer;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
position: relative;
width: 100%;
padding-right: 5px;
padding-left: 5px;
}
.col-form-label {
margin-top: 1px;
font-weight: 600;
font-size: 16px;
color: #11283D;
}
.semi-bold{
font-weight: 500;

}

.dashboard-link{
background: url("assets/images/navicon-dashboard.svg") no-repeat;
display: block;
padding-left:26px;

}


.dashboard-link:hover{
background: url("assets/images/navicon-active-dashboard.svg") no-repeat !important;
display: block;
padding-left:26px;
}

.image_off, #home:hover .image_on{
display:none
}
.image_on, #home:hover .image_off{
display:block
}
.image_off_detail, #detail:hover .image_on_detail{
display:none
}
.image_on_detail, #detail:hover .image_off_detail{
display:block
}

.image_off_wash, #wash:hover .image_on_wash{
display:none
}
.image_on_wash, #wash:hover .image_off_wash{
display:block
}

.image_off_sales, #sales:hover .image_on_sales {
display:none
}
.image_on_sales, #sales:hover .image_off_sales {
display:block
}

.image_off_reports, #reports:hover .image_on_reports {
display:none
}
.image_on_reports, #reports:hover .image_off_reports {
display:block
}

.image_off_admin, #admin:hover .image_on_admin {
display:none
}
.image_on_admin, #admin:hover .image_off_admin {
display:block
}
.image_off_checkout, #checkout:hover .image_on_checkout{
display:none
}
.image_on_checkout, #checkout:hover .image_off_checkout {
display:block
}

.image_off_payroll, #payroll:hover .image_on_payroll{
display:none
}
.image_on_payroll, #payroll:hover .image_off_payroll {
display:block
}


	