.inputSize {
    width: 45% !important;
}
.scrollbar {
    overflow-y: auto;
    max-height: 470px;
}
.disabled {
    cursor: not-allowed;
  }
  .enable {
      background-color: white;
  }
  .disable {
      background-color: #e9ecef;
  }
.close {
    color: black !important;
}
