.inputSize {
    width: 45% !important;
}
.scrollbar {
    overflow-y: auto;
    max-height: 470px;
}
.disabled {
    cursor: not-allowed;
  }
  .enable {
      background-color: white;
  }
  .disable {
      background-color: #babdbf;
  }
.close {
    color: black !important;
}
.accountbtnenable{
    background-color: orangered;
    opacity: 0.7;
}
