<div id="page-content">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item" appNavigatePage>Admin</li>
                    <li class="breadcrumb-item active" aria-current="page">Sales</li>
                </ol>
            </nav>
            <!--bread crumb-->
            <div class="col-lg-12 p-l-0 p-r-0">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xl-4 no-space">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group row border-bottom p-b-10 no-gutters">
                                        <label for="colFormLabelSm" class="col-sm-2 font-weight-600 font-size-2-2"
                                            style="padding-top: 1.5%;">Ticket #</label>
                                        <div class="col-sm-10">
                                            <div>
                                                <form (ngSubmit)="addTicketNumber()">
                                                    <input type="text" maxlength="9" id="ticketNumber"
                                                        (focus)="quantityFocus($event)" *ngIf="isSelected"
                                                        name="ticketNumber"
                                                        class="form-control inputSize  d-inline-block w-23 align-middle"
                                                        [(ngModel)]="ticketNumber" (keyenter)="addTicketNumber()"
                                                        (keypress)="allowNumbersOnly($event)"
                                                        (clear)="clearpaymentField()">&nbsp;
                                                    <span class="p-r-71" *ngIf="!isSelected">{{newTicketNumber}}</span>
                                                    <button type="submit" class="btn theme-primary-button-color"
                                                        (click)="addTicketNumber()"
                                                        [disabled]="(ticketNumber === '' || ticketNumber === undefined) || isTenTicketNumber"><i
                                                            class="fa fa-plus" aria-hidden="true"></i></button>&nbsp;

                                                    <button type="button" [disabled]="(ticketNumber !== '')"
                                                        class="btn theme-primary-button-color "
                                                        (click)="getTicketNumber();">New</button>&nbsp;
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row border-bottom p-b-10 no-gutters"
                                        *ngIf="multipleTicketNumber.length > 0">
                                        <span *ngFor="let ticket of multipleTicketNumber"
                                            style="font-size:1em; display:table; cursor: pointer;margin-bottom: 4px;"
                                            class="badge badge-secondary"><span>{{ticket}}</span><em
                                                class="fa fa-times-circle"
                                                (click)="removeTicketNumber(ticket)"></em></span>
                                    </div>
                                    <div class="row no-gutters">
                                        <button type="button" class="btn btn-numbers col-sm"
                                            (click)="getNumAndUpdate(1)">1</button>
                                        <button type="button" class="btn btn-numbers col-sm"
                                            (click)="getNumAndUpdate(2)">2</button>
                                        <button type="button" class="btn btn-numbers col-sm"
                                            (click)="getNumAndUpdate(3)">3</button>
                                        <button type="button" class="btn btn-numbers col-sm">.00</button>
                                        <button type="button" class="btn btn-numbers col-sm m-r-0"
                                            (click)="backspace()">BKSP</button>
                                    </div>
                                    <div class="row no-gutters m-t-7">
                                        <button type="button" class="btn btn-numbers col-sm"
                                            (click)="getNumAndUpdate(4)">4</button>
                                        <button type="button" class="btn btn-numbers col-sm"
                                            (click)="getNumAndUpdate(5)">5</button>
                                        <button type="button" class="btn btn-numbers col-sm"
                                            (click)="getNumAndUpdate(6)">6</button>
                                        <button type="button" class="btn btn-numbers col-sm"
                                            (click)="getNumAndUpdate('.')">.</button>
                                        <button type="button" class="btn btn-numbers col-sm m-r-0">+/-</button>
                                    </div>
                                    <div class="row no-gutters m-t-7">
                                        <button type="button" class="btn btn-numbers col-sm"
                                            (click)="getNumAndUpdate(7)">7</button>
                                        <button type="button" class="btn btn-numbers col-sm"
                                            (click)="getNumAndUpdate(8)">8</button>
                                        <button type="button" class="btn btn-numbers col-sm"
                                            (click)="getNumAndUpdate(9)">9</button>
                                        <button type="button" class="btn btn-numbers col-sm"
                                            (click)="getNumAndUpdate(0)">0</button>
                                        <button type="button" class="btn btn-numbers col-sm m-r-0"
                                            (click)="clear()">Clear</button>
                                    </div>
                                    <div class="row no-gutters m-t-7">
                                        <div class="icon-btn col-sm" [class.disabled]="enableButton"
                                            (click)="showPopup ? openCash(): closecash()"
                                            [ngClass]="{'disable': enableButton, 'enable': !enableButton}"> <img
                                                src="http://40.114.79.101:5005/images/cash.png" alt="" />
                                            <div> Cash </div>
                                        </div>
                                        <div class="icon-btn col-sm" [class.disabled]="enableButton"
                                            [ngClass]="{'disable': enableButton, 'enable': !enableButton}"
                                            (click)="showPopup ? opengiftcard(): closegiftcard()"> <img
                                                src="http://40.114.79.101:5005/images/Gift.png" alt="" />
                                            <div> Gift </div>
                                        </div>
                                        <div class="icon-btn col-sm m-r-0" [class.disabled]="enableButton"
                                            [ngClass]="{'disable': enableButton, 'enable': !enableButton}"
                                            (click)="showPopup ? opencreditcard(): closecreditcard()"> <img
                                                src="http://40.114.79.101:5005/images/Credit.png" alt="" />
                                            <div> Credit </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters m-t-7">
                                        <div class="icon-btn col-sm" [class.disabled]="enableButton"
                                            [ngClass]="{'disable': enableButton, 'enable': !enableButton}"
                                            (click)="showPopup? opendiscount(): closediscount()"> <img
                                                src="http://40.114.79.101:5005/images/Discount.png" alt="" />
                                            <div> Discount </div>
                                        </div>
                                        <div class="icon-btn col-sm"
                                            [class.disabled]="enableButton || !isAccount || multipleTicketSequence"
                                            [ngClass]="{'disable': enableButton || !isAccount || multipleTicketSequence, 'enable': !enableButton || isAccount || !multipleTicketSequence}"
                                            (click)="processAccount()">
                                            <img src="http://40.114.79.101:5005/images/Account.png" alt="" />
                                            <div> Account </div>
                                        </div>
                                        <div class="icon-btn col-sm m-r-0" [class.disabled]="enableButton"
                                            [ngClass]="{'disable': enableButton, 'enable': !enableButton}"
                                            (click)="showPopup ? getDetailByTicket(false): ''"> <img
                                                src="http://40.114.79.101:5005/images/Clear.png" alt="" />
                                            <div> Clear </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters m-t-7 payment">
                                        <button type="button" class="btn col-sm btn-payment actived"
                                            [disabled]="enableButton || multipleTicketNumber.length === 0" (click)="processpayment()">Process</button>
                                        <button type="button" class="btn col-sm btn-payment actived"
                                            [disabled]="!enableButton || multipleTicketNumber.length === 0 || isMultipleTicket"
                                            (click)="deleteItem('', 'rollback')">RollBack</button>
                                        <button type="button" class="btn col-sm btn-payment actived"
                                            [disabled]="enableButton || multipleTicketNumber.length === 0"
                                            (click)="deleteItem('', 'deleteJob')">Del</button>
                                        <button type="button" class="btn col-sm btn-payment actived m-r-0"
                                            [disabled]="!enableButton || multipleTicketNumber.length === 0"
                                            (click)="print()">Print</button>
                                    </div>
                                    <div id="Giftcardpopup" class="gift-card"> <span class="closebtn"
                                            (click)="closegiftcard()">&times;</span>
                                        <div class="card-body">
                                            <div class="title-border p-b-5 m-b-5">
                                                <h4 class="d-inline-block">Giftcard</h4>
                                            </div>
                                            <form [formGroup]="giftCardForm">
                                                <div class="form-row p-t-10 p-b-12">
                                                    <div class="form-group col-md-6"> Amount Due </div>
                                                    <div class="form-group col-md-6 text-right">
                                                        {{(originalGrandTotal - totalPaid - discountAmount) | currency}}
                                                    </div>
                                                </div>
                                                <div class="form-row p-b-12">
                                                    <div class="form-group col-md-12">
                                                        <input type="text" class="form-control" maxLength="9"
                                                            formControlName="giftCardNumber" placeholder="Gift Card #"
                                                            (input)="validateGiftcard()"
                                                            [ngClass]="{ 'is-invalid': (giftcardsubmitted && f.giftCardNumber.errors || isInvalidGiftcard) }"
                                                            (clear)="validGiftcard = {}; balance = 0"
                                                            (keypress)="allowNumbersOnly($event)">
                                                        <div *ngIf="giftcardsubmitted && f.giftCardNumber.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f.giftCardNumber.errors.required">GiftCard
                                                                number is required</div>
                                                        </div>
                                                        <div *ngIf="isInvalidGiftcard" class="invalid-feedback"> Invalid
                                                            Giftcard Number</div>
                                                    </div>

                                                </div>
                                                <div class="form-row p-b-12">
                                                    <div class="form-group col-md-6"> Current Value </div>
                                                    <div class="form-group col-md-6 text-right">
                                                        {{validGiftcard?.GiftCardDetail[0]?.BalanceAmount ?
                                                        (validGiftcard?.GiftCardDetail[0]?.BalanceAmount | currency) :
                                                        '$0.00' }}
                                                    </div>
                                                </div>
                                                <div class="form-row p-b-12">
                                                    <div class="form-group col-md-12">
                                                        <input type="text" class="form-control" appTwoDecimalNumber
                                                            placeholder="$0.00" formControlName="giftCardAmount"
                                                            [ngClass]="{ 'is-invalid': giftcardsubmitted && f.giftCardAmount.errors }"
                                                            (blur)="validateAmount()">
                                                        <div *ngIf="giftcardsubmitted && f.giftCardAmount.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f.giftCardAmount.errors.required">Amount is
                                                                required
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-row p-b-12 p-t-20 border-top">
                                                    <div class="form-group col-md-6"> Balance </div>
                                                    <div class="form-group col-md-6 text-right">
                                                        {{balance ? (balance | currency) : '$0.00'}}</div>
                                                </div>
                                                <div class="form-row  float-right">
                                                    <button type="button"
                                                        class="btn theme-primary-button-color  btn-sm "
                                                        [disabled]="giftCardForm.invalid || isInvalidGiftcard"
                                                        (click)="addGiftCard()">Add</button>
                                                </div>
                                            </form>
                                            <div *ngIf="giftcards.length>0">
                                                <div class="table-responsive m-t-10">
                                                    <table class="table  table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Giftcard #</th>
                                                                <th scope="col">Amount</th>
                                                                <th scope="col">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="body-half-screen">
                                                            <tr *ngFor="let giftcard of giftcards">
                                                                <td class="pointer">{{giftcard?.number}}</td>
                                                                <td>
                                                                    {{giftcard?.amount | currency}}</td>
                                                                <td> <i class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                                        (click)="deletegiftcard(giftcard)"></i></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="form-row p-b-12 m-t-40 float-right" *ngIf="giftcards.length>0">
                                                <button type="button" class="btn theme-primary-button-color btn-sm"
                                                    (click)="giftCardProcess()">Process</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--credit card-->
                                    <div id="creditcardpopup" class="gift-card"> <span class="closebtn"
                                            (click)="closecreditcard()">&times;</span>
                                        <div class="card-body">
                                            <div class="title-border p-b-5 m-b-5">
                                                <h4 class="d-inline-block">Credit Card</h4>
                                            </div>
                                            <div class="row no-gutters m-t-20">
                                                <div class="col-lg-12 text-center m-t-10"> <span class=""> <span
                                                            class="text-cash"><label
                                                                style=" font-size: 34px;color: #1DC9B7; font-weight: 500;">$</label><input
                                                                type="text" class="cash-box" appTwoDecimalNumber
                                                                placeholder='$0.00' [(ngModel)]="creditTotal"
                                                                (blur)="creditcashback = 0"></span></span>
                                                </div>
                                            </div>
                                            <div class="row no-gutters m-t-15 m-b-20">
                                                <div class="col-lg-12 text-center">
                                                    <button type="button" class="btn theme-optional-button-color"
                                                        (click)="closecreditcard()">Cancel</button>&nbsp;
                                                    <button type="button" class="btn theme-primary-button-color"
                                                        (click)="creditProcess()">Process</button>
                                                </div>
                                            </div>
                                            <div class="title-border p-b-5 m-b-5 m-t-40 p-t-15">
                                                <h6 class="d-inline-block">Cash Back</h6>
                                            </div>
                                            <div class="row no-gutters m-t-7">
                                                <button type="button" class="btn col-sm btn-Keypad"
                                                    (click)="addCashBack(3)">3$</button>
                                                <button type="button" class="btn col-sm btn-Keypad"
                                                    (click)="addCashBack(5)">5$</button>
                                                <button type="button" class="btn col-sm btn-Keypad m-r-0"
                                                    (click)="addCashBack(10)">10$</button>
                                            </div>
                                            <div class="row no-gutters m-t-7">
                                                <button type="button" class="btn col-sm btn-Keypad"
                                                    (click)="addCashBack(15)">15$</button>
                                                <button type="button" class="btn col-sm btn-Keypad"
                                                    (click)="addCashBack(20)">20$</button>
                                                <button type="button" class="btn col-sm btn-Keypad m-r-0"
                                                    (click)="addCashBack(25)">25$</button>
                                            </div>
                                            <div class="row no-gutters m-t-7">
                                                <button type="button" class="btn col-sm btn-Keypad"
                                                    (click)="addCashBack(30)">30$</button>
                                                <button type="button" class="btn col-sm btn-Keypad"
                                                    (click)="addCashBack(40)">40$</button>
                                                <button type="button" class="btn col-sm btn-Keypad m-r-0"
                                                    (click)="addCashBack(50)">50$</button>
                                            </div>
                                            <div class="form-row p-b-12 m-t-49 p-t-40 border-top">
                                                <button type="button"
                                                    class="btn theme-primary-button-color w-100 btn-sm giftcard-btn"
                                                    (click)="reset()">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- credit card-->
                                    <!-- cash popup -->
                                    <div id="cashpopup" class="gift-card"> <span class="closebtn"
                                            (click)="closecash()">&times;</span>
                                        <div class="card-body">
                                            <div class="title-border p-b-5 m-b-5">
                                                <h4 class="d-inline-block">Cash</h4>
                                            </div>
                                            <div class="row no-gutters m-t-20">
                                                <div class="col-lg-12 text-center m-t-10"> <span class=""> <span
                                                            class="text-cash"><label
                                                                style=" font-size: 34px;color: #1DC9B7; font-weight: 500;">$</label>
                                                            <input type="text" appTwoDecimalNumber class="cash-box"
                                                                placeholder='$0.00' [(ngModel)]="cashTotal"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="title-border p-b-5 m-b-5 m-t-40 p-t-15">
                                                <h6 class="d-inline-block">Cash Amount</h6>
                                            </div>
                                            <div class="row no-gutters m-t-7">
                                                <button type="button" class="btn col-sm btn-Keypad"
                                                    (click)="addCash(1)">1$</button>
                                                <button type="button" class="btn col-sm btn-Keypad"
                                                    (click)="addCash(5)">5$</button>
                                                <button type="button" class="btn col-sm btn-Keypad m-r-0"
                                                    (click)="addCash(10)">10$</button>
                                            </div>
                                            <div class="row no-gutters m-t-7">
                                                <button type="button" class="btn col-sm btn-Keypad"
                                                    (click)="addCash(25)">25$</button>
                                                <button type="button" class="btn col-sm btn-Keypad"
                                                    (click)="addCash(50)">50$</button>
                                                <button type="button" class="btn col-sm btn-Keypad m-r-0"
                                                    (click)="addCash(100)">100$</button>
                                            </div>
                                            <div class="row no-gutters m-t-50 m-b-20">
                                                <div class="col-lg-12 text-center">
                                                    <button type="button" class="btn theme-optional-button-color"
                                                        (click)="closecash()">Cancel</button>&nbsp;
                                                    <button type="button" class="btn theme-primary-button-color"
                                                        (click)="cashProcess()">Process</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--cash popup-->
                                    <!-- discount-->
                                    <div id="discountpopup" class="gift-card"> <span class="closebtn"
                                            (click)="closediscount()">&times;</span>
                                        <div class="card-body">
                                            <div class="title-border p-b-5 m-b-5">
                                                <h4 class="d-inline-block">Discount</h4>
                                            </div>
                                            <div class="form-row p-b-12 p-t-40">
                                                <div class="form-group col-md-12">
                                                    <select class="form-control" placeholder="Select discount"
                                                        [(ngModel)]="discount" (change)="discountChange($event)">
                                                        <option value="" selected hidden>Select a discount</option>
                                                        <option *ngFor="let discount of discounts"
                                                            value="{{discount.ServiceId}}"> {{discount.ServiceName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div *ngIf="selectedDiscount.length>0">
                                                <div class="table-responsive m-t-10">
                                                    <table class="table  table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">Price</th>
                                                                <th scope="col">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="body-half-screen">
                                                            <tr *ngFor="let discount of selectedDiscount">
                                                                <td class="pointer">{{discount?.ServiceName}}</td>
                                                                <td style="text-align: center;">
                                                                    {{discount.DiscountType === 'Flat Fee' ?
                                                                    (discount?.Price | currency) : discount?.Price}}
                                                                    {{discount.DiscountType === 'Flat Fee' ?
                                                                    '' : '%'}}
                                                                </td>
                                                                <td style="text-align: center;"> <i
                                                                        class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                                        (click)="deletediscount(discount)"></i></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row no-gutters m-t-50 m-b-20">
                                                <div class="col-lg-12 text-center">
                                                    <button type="button" class="btn theme-optional-button-color"
                                                        (click)="closediscount()">Cancel</button>&nbsp;
                                                    <button type="button" class="btn theme-primary-button-color"
                                                        (click)="discountProcess()">Process</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- discount-->
                                </div>
                                <!-- end card-body -->
                            </div>
                            <!-- end card-->
                        </div>
                        <!--Bills-->
                        <div class="col-xl-6 no-space">
                            <div class="card m-b-10">
                                <div class="card-body" style="min-height: 580px;">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="colFormLabelSm" class="font-weight-600 font-size-2-2">Item
                                                List</label>
                                        </div>
                                        <div class="form-group col-md-4"
                                            *ngIf="(enableAdd === true && !enableButton) || (enableAdd === true && newTicketNumber !== '')">
                                            <form [formGroup]="addItemForm">
                                                <div class="ui-fluid">
                                                    <div class="p-grid forms-grid">
                                                        <div class="p-col-3 p-md-6">
                                                            <p-autoComplete class="d-inline-block align-middle"
                                                                formControlName="itemName" [suggestions]="serviceAndProduct"
                                                                (completeMethod)="filterItem($event)"
                                                                (onSelect)="selectedItem($event)" field="name"
                                                                [size]="10" appendTo="body" placeholder="Item">
                                                            </p-autoComplete>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="form-group col-md-5"
                                            *ngIf="(enableAdd === true && !enableButton) || (enableAdd === true && newTicketNumber !== '')">
                                            <div class=" ">
                                                <form [formGroup]="addItemForm">
                                                    <input type="text" id="quantity" pattern="\d*" maxlength="9"
                                                        (focus)="quantityFocus($event)"
                                                        class="form-control d-inline-block w-23 align-middle"
                                                        [disabled]='isDisableService' placeholder="Qty"
                                                        formControlName="quantity" (keypress)="allowNumbersOnly($event)"
                                                        [ngClass]="{ 'is-invalid': (submitted && a.quantity.errors) }">&nbsp;
                                                    <button type="button" class="btn theme-primary-button-color"
                                                        (click)="addItem()">Add</button>&nbsp;
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive m-t-10 scrollbar">
                                        <table class="table  table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Item</th>
                                                    <th scope="col">Qty</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="body-half-screen">
                                                <tr *ngIf="details?.length>0">
                                                    <th scope="row" colspan="5">Details</th>
                                                </tr>
                                                <tr *ngFor="let detail of details"
                                                    [attr.disabled]="enableButton? true : null">
                                                    <td class="pointer" (dblclick)="editItem(detail)">
                                                        {{detail?.ServiceName}}</td>
                                                    <td (dblclick)="editItem(detail)">{{detail?.Quantity}}</td>
                                                    <td (dblclick)="editItem(detail)">
                                                        {{detail?.Quantity * detail?.Price | currency}}</td>
                                                    <td> <i class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                            (click)="deleteItem(detail, 'deleteItem')"></i></td>
                                                </tr>
                                                <tr *ngIf="washes.length>0">
                                                    <th scope="row" colspan="5">Wash Package </th>
                                                </tr>
                                                <tr *ngFor="let wash of washes">
                                                    <td class="pointer" (dblclick)="editItem(wash)">
                                                        {{wash?.ServiceName}}</td>
                                                    <td (dblclick)="editItem(wash)">{{wash?.Quantity}}</td>
                                                    <td (dblclick)="editItem(wash)">
                                                        {{wash?.Quantity * wash?.Price | currency}}</td>
                                                    <td (dblclick)="editItem(wash)"> <i
                                                            class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                            [disabled]='enableButton'
                                                            (click)="deleteItem(wash, 'deleteItem')"></i></td>
                                                </tr>
                                                <!-- <tr *ngIf="giftCardList.length>0">
                                                    <th scope="row" colspan="5">Gift card</th>
                                                </tr> -->
                                                <tr *ngFor="let giftCard of giftCardList">
                                                    <td class="pointer">
                                                        {{giftCard?.ServiceName}}</td>
                                                    <td>{{giftCard?.Quantity}}</td>
                                                    <td>
                                                        {{giftCard?.Quantity * giftCard?.Price | currency}}</td>
                                                    <td> <i class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                            (click)="deleteItem(giftCard, 'deleteItem')"></i></td>
                                                </tr>
                                                <tr *ngIf="additionalService.length > 0">
                                                    <th scope="row" colspan="5">Additional Services </th>
                                                </tr>
                                                <tr *ngFor="let additional of additionalService">
                                                    <td class="pointer" (dblclick)="editItem(additional)">
                                                        {{additional?.ServiceName}}</td>
                                                    <td (dblclick)="editItem(additional)">{{additional?.Quantity}}</td>
                                                    <td (dblclick)="editItem(additional)">
                                                        {{additional?.Quantity * additional?.Price | currency}}</td>
                                                    <td (dblclick)="editItem(additional)"> <i
                                                            class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                            (click)="deleteItem(additional, 'deleteItem')"></i></td>
                                                </tr>
                                                <tr *ngIf="upCharges.length > 0">
                                                    <th scope="row" colspan="5">UpCharges </th>
                                                </tr>
                                                <tr *ngFor="let upcharge of upCharges" [readonly]="enableButton">
                                                    <td class="pointer" (dblclick)="editItem(upcharge)">
                                                        {{upcharge?.ServiceName}}</td>
                                                    <td (dblclick)="editItem(upcharge)">{{upcharge?.Quantity}}</td>
                                                    <td (dblclick)="editItem(upcharge)">
                                                        {{upcharge?.Quantity * upcharge?.Price | currency}}</td>
                                                    <td> <i [class.disabled]="enableButton ? null: true"
                                                            class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                            (click)="deleteItem(upcharge, 'deleteItem')"></i></td>
                                                </tr>
                                                <tr *ngIf="outsideServices.length > 0">
                                                    <th scope="row" colspan="5">Outside Services </th>
                                                </tr>
                                                <tr *ngFor="let outService of outsideServices">
                                                    <td class="pointer" (dblclick)="editItem(outService)">
                                                        {{outService?.ServiceName}}</td>
                                                    <td (dblclick)="editItem(outService)">{{outService?.Quantity}}</td>
                                                    <td (dblclick)="editItem(outService)">
                                                        {{outService?.Quantity * outService?.Price | currency}}</td>
                                                    <td> <i class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                            (click)="deleteItem(outService, 'deleteItem')"></i></td>
                                                </tr>
                                                <tr *ngIf="airfreshnerService.length > 0">
                                                    <th scope="row" colspan="5">Air Freshners </th>
                                                </tr>
                                                <tr *ngFor="let airService of airfreshnerService">
                                                    <td class="pointer" (dblclick)="editItem(airService)">
                                                        {{airService?.ServiceName}}</td>
                                                    <td (dblclick)="editItem(airService)">{{airService?.Quantity}}</td>
                                                    <td (dblclick)="editItem(airService)">
                                                        {{airService?.Quantity * airService?.Price | currency}}</td>
                                                    <td> <i class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                            (click)="deleteItem(airService, 'deleteItem')"></i></td>
                                                </tr>
                                                <tr *ngIf="Products.length > 0">
                                                    <th scope="row" colspan="5">Products </th>
                                                </tr>
                                                <tr *ngFor="let product of Products">
                                                    <td class="pointer" (dblclick)="editItem(product)">
                                                        {{product?.ProductName}}</td>
                                                    <td (dblclick)="editItem(product)">{{product?.Quantity}}</td>
                                                    <td (dblclick)="editItem(product)">
                                                        {{product?.Quantity * product?.Price | currency}}</td>
                                                    <td> <i class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                            (click)="deleteItem(product, 'deleteItem')"></i></td>
                                                </tr>
                                                <tr *ngIf="discountService.length > 0">
                                                    <th scope="row" colspan="5">Discounts </th>
                                                </tr>
                                                <tr *ngFor="let discount of discountService">
                                                    <td class="pointer">{{discount?.ServiceName}}</td>
                                                    <td>{{discount?.Quantity}}</td>
                                                    <td>-{{discount?.Quantity * discount?.Price | currency}}</td>
                                                    <td> <i class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                            (click)="deleteItem(discount, 'deleteItem')"></i></td>
                                                </tr>
                                                <tr *ngIf="discountList.length > 0">
                                                    <th scope="row" colspan="5">Discounts </th>
                                                </tr>
                                                <tr *ngFor="let discount of discountList">
                                                    <td class="pointer">{{discount?.ServiceName}}</td>
                                                    <td>1</td>
                                                    <td>-{{1 * discount?.Price | currency}}</td>
                                                    <td> <i class="mdi mdi-close-circle pointer  theme-optional-icon-color font-size-1-1"
                                                            (click)="deletediscount(discount)"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end card-body -->
                            </div>
                        </div>
                        <!-- end card-->

                        <div class="col-xl-2 no-space">

                            <div class="card">

                                <div class="card-body">
                                    <div class="title-border p-b-5 m-b-5">
                                        <h4 class="d-inline-block">Summary</h4>
                                    </div>
                                    <form class="summary">
                                        <div class="form-row m-t-15">
                                            <div class="form-group col-md-6"> Total </div>
                                            <div class="form-group col-md-6 text-right">
                                                {{itemList?.Status?.SalesSummaryViewModel?.Total ?
                                                (itemList?.Status?.SalesSummaryViewModel?.Total | currency) : '$0.00'}}
                                            </div>
                                        </div>
                                        <div class="form-row  border-bottom m-b-8">
                                            <div class="form-group col-md-6"> Tax </div>
                                            <div class="form-group col-md-6 text-right">
                                                {{itemList?.Status?.SalesSummaryViewModel?.TaxAmount ?
                                                (itemList?.Status?.SalesSummaryViewModel?.TaxAmount | currency) :
                                                '$0.00'}}
                                            </div>
                                        </div>
                                        <div class="form-row font-weight-700 border-bottom  m-b-25">
                                            <div class="form-group col-md-6"> Grand Total </div>
                                            <div class="form-group col-md-6 text-right theme-content-color">
                                                {{itemList?.Status?.SalesSummaryViewModel?.GrandTotal ?
                                                (itemList?.Status?.SalesSummaryViewModel?.GrandTotal | currency) :
                                                '$0.00'}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6"> Cash </div>
                                            <div class="form-group col-md-6 text-right">
                                                {{cash ? (cash | currency ): '$0.00'}}</div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6"> Credit </div>
                                            <div class="form-group col-md-6 text-right">
                                                {{credit ? (credit | currency): '$0.00'}} </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6"> Gift Card </div>
                                            <div class="form-group col-md-6 text-right">
                                                {{giftCard ? (giftCard | currency): '$0.00'}} </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">Tips </div>
                                            <div class="form-group col-md-6 text-right">
                                                {{tips ? (tips | currency): '$0.00'}} </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6"> Discount </div>
                                            <div class="form-group col-md-6 text-right">
                                                -{{discountAmount ? (discountAmount | currency): '$0.00'}} </div>
                                        </div>
                                        <div class="form-row border-bottom m-b-8">
                                            <div class="form-group col-md-6"> Account </div>
                                            <div class="form-group col-md-6 text-right">
                                                {{account ? (account | currency) : '$0.00'}} </div>
                                        </div>
                                        <div class="form-row font-weight-700 border-bottom m-b-25">
                                            <div class="form-group col-md-6"> Total Paid </div>
                                            <div class="form-group col-md-6 text-right theme-content-color">
                                                {{totalPaid ? (totalPaid | currency) : '$0.00'}} </div>
                                        </div>
                                        <div class="form-row border-bottom m-t-5 m-b-25">
                                            <div class="form-group col-md-6"> Balance Due </div>
                                            <div class="form-group col-md-6 text-right theme-optional-icon-color">
                                                {{(originalGrandTotal - totalPaid - discountAmount) > 0 ?
                                                ((originalGrandTotal - totalPaid - discountAmount) | currency ) :
                                                ( 0 | currency)
                                                }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6"> Cash back </div>
                                            <div class="form-group col-md-6 text-right">
                                                {{cashback ? (cashback | currency) : '$0.00'}}</div>
                                        </div>
                                    </form>
                                </div>
                                <!-- end card-body -->
                            </div>
                        </div>
                    </div>
                    <!-- end row-->
                </div>
            </div>
        </div>
    </div>
</div>