<section class="navbar-nav web-nav theme-primary-background-color" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <!--Sidebar-->
  <div class="menu  d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <ul>
      <li class="logo-container"> <a href="#" class="navbar-brand p-10"><img src="assets/img/w-strive-logo@2x.png"
            alt="" width="50" /></a> </li>
      <li class="p-t-10"><a href="#"><i class="fa-2x mdi mdi-view-dashboard"></i>Dashboard</a></li>
      <li class="active"><a [routerLink]='["./wash"]' [routerLinkActive]='["link-active"]'
          (click)="closeNav()"><i class="fa-2x  mdi mdi-car-wash"></i>Washes</a></li>
      <li class=""><a href="#"><i class="fa-2x mdi mdi-car-back"></i>Details</a></li>
      <li class=""><a href="#"><i class="fa-2x mdi mdi-cash-usd"></i>Sales</a></li>
      <li class=""><a href="#"><i class="fa-2x mdi mdi-file-document"></i>Reports</a></li>
      <li class="active"><a [routerLink]='["./admin"]' [routerLinkActive]='["link-active"]' (click)="openNav()"><i
            class="fa fa-2x fa-user-o"></i>Admin</a></li>
      <li class=""><a href="#"><i class="fa fa-2x fa-flag-checkered"></i>Checkout</a></li>
      <li class=""><a href="#"><i class="fa fa-2x fa-dollar"></i>Payroll</a></li>
    </ul>
  </div>
  <div id="navSliderMenu"
    class="nav-slider-menu-wrapper theme-primary-dark-background-color  d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <a href="#" class="closebtn" (click)="closeNav()">×</a>
    <div class="p-l-15 p-r-15 m-b-10">
      <h5 class="m-t-50 p-b-10 p-r-10 text-white nav-slider-menu-title">Admin</h5>
    </div>
    <ul class="nav-slider-menu-items">
      <li><a [routerLink]='["./admin/cashregister"]' [routerLinkActive]='["link-active"]' (click)="closeNav()">Cash
          Register Setup</a> </li>
      <li><a [routerLink]='["./admin/closeoutregister"]' [routerLinkActive]='["link-active"]' (click)="closeNav()">Close
          Out Register</a> </li>
      <li><a href="#">Time Clock Maintenance</a></li>
      <li><a [routerLink]='["./admin/employees"]' [routerLinkActive]='["link-active"]'
          (click)="closeNav()">Employees</a></li>
      <li><a [routerLink]='["./admin/client"]' [routerLinkActive]='["link-active"]' (click)="closeNav()">Clients</a>
      </li>
      <li> <a [routerLink]='["./admin/vehicle"]' [routerLinkActive]='["link-active"]' (click)="closeNav()">Vehicles</a>
      </li>
      <li><a [routerLink]='["./admin/scheduling"]' [routerLinkActive]='["link-active"]' (click)="closeNav()">Schedules</a></li>
      <li><a href="#">Gift Cards</a></li>
      <li><a [routerLink]='["./admin/setup/location"]' [routerLinkActive]='["link-active"]' (click)="closeNav()">System
          Setup</a></li>
    </ul>
  </div>

  <div id="mySidenav" class="mobile-view-nav">
    <span class="closebtn" (click)="closembsidebar()"><em class="fa fa-close"></em></span>
    <ul class="m-t-22 mobile-view-title" id="hide-mainmenu">
      <li><a href="#"><em class="mdi mdi-view-dashboard"></em><span>Dashboard</span></a></li>
      <li><a [routerLink]='["./wash"]' [routerLinkActive]='["link-active"]' (click)="closembsidebar()"><em
            class="mdi mdi-car-wash"></em><span>Washes</span></a></li>
      <li><a href="#"><em class="mdi mdi-car-back"></em><span>Details</span></a></li>
      <li><a href="#"><em class="mdi mdi-cash-usd"></em><span>Sales</span></a></li>
      <li><a href="#"><em class="mdi mdi-file-document"></em><span>Reports</span></a></li>
      <li><a [routerLink]='["./admin"]' [routerLinkActive]='["link-active"]'><em
            class="fa fa-user-o"></em><span>Admin</span></a></li>
      <li><a href="#"><em class="fa fa-flag-checkered"></em><span>Checkout</span></a></li>
      <li><a href="#"><em class="fa fa-dollar"></em><span>Payroll</span></a></li>

    </ul>
    <div id="show-submenu" class="hide">
      <a href="#" class="back-to-list"> <em class="fa fa-arrow-left"></em> Back</a>
      <h5 class="m-r-14 m-l-20 m-t-12 text-white">Admin</h5>
      <ul class="mobile-view-title mb-view" id="hide-mainmenu">
        <li><a [routerLink]='["./admin/cashregister"]' [routerLinkActive]='["link-active"]'
            (click)="closembsidebar()">Cash Register Setup</a> </li>
        <li><a [routerLink]='["./admin/closeoutregister"]' [routerLinkActive]='["link-active"]'
            (click)="closembsidebar()">Close Out Register</a> </li>
        <li><a href="#">Time Clock Maintenance</a></li>
        <li><a [routerLink]='["./admin/employees"]' [routerLinkActive]='["link-active"]'
            (click)="closembsidebar()">Employees</a></li>
        <li><a href="#">Clients</a></li>
        <li> <a href="#">Vehicles</a></li>
        <li><a href="#">Schedules</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a [routerLink]='["./admin/setup/location"]' [routerLinkActive]='["link-active"]'
            (click)="closembsidebar()">System Setup</a></li>

      </ul>

    </div>
  </div>
</section>