<section class="navbar-nav web-nav theme-primary-background-color d-none d-sm-none d-md-block d-lg-block d-xl-block" *ngIf="isLoggedIn$ | async as isLoggedIn"><!--Sidebar-->
  <div class="menu">
    <ul>
      <li class="logo-container"> <a href="#" class="navbar-brand p-10"><img src="assets/img/w-strive-logo@2x.png" alt="" width="50"/></a> </li>
      <li class="p-t-10"  onclick="openNav()"><a href="#"><i class="fa fa-2x fa-dashboard"></i>Dashboard</a></li>
      <li class=""><a href="#" onclick="openNav()"><i class="fa fa-2x fa-warning"></i>Washes</a></li>
      <li class=""><a href="#" onclick="openNav()"><i class="fa fa-2x fa-desktop"></i>Details</a></li>
      <li class=""><a href="#" onclick="openNav()"><i class="fa fa-2x fa-safari"></i>Sales</a></li>
      <li class=""><a href="#" onclick="openNav()"><i class="fa fa-2x fa-repeat"></i>Reports</a></li>
      <li class="active"><a href="#" onclick="openNav()"><i class="fa fa-2x fa-user-o"></i>Admin</a></li>
      <li class=""><a href="#" onclick="openNav()"><i class="fa fa-2x fa-chain"></i>Checkout</a></li>
      <li class=""><a href="#" onclick="openNav()"><i class="fa fa-2x fa-dollar"></i>Payroll</a></li>
    </ul>
  </div>
  <div id="navSliderMenu" class="nav-slider-menu-wrapper theme-primary-dark-background-color"> <a href="#" class="closebtn" onclick="closeNav()">×</a>
    <div class="p-l-15 p-r-15 m-b-10">
      <h5 class="m-t-50 p-b-10 p-r-10 text-white nav-slider-menu-title">Admin</h5>
    </div>
    <ul class="nav-slider-menu-items">
      <li><a href="#">Cash Register Setup</a> </li>
      <li><a href="#">Close Out Register</a> </li>
      <li><a href="#">Time Clock Maintenance</a></li>
      <li><a href="#">Employees</a></li>
      <li><a href="#">Clients</a></li>
      <li> <a href="#">Vehicles</a></li>
      <li><a href="#">Schedules</a></li>
      <li><a href="#">Gift Cards</a></li>
      <li><a href="#">System Setup</a></li>
    </ul>
  </div>
</section>