<div class="tab-content" id="v-pills-tabContent">
    <!--tab-content-->
    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
        <h4>Product Setup</h4>
        <div class="card m-t-10 m-b-10">
            <div class="card-body">
                <div class="tab-content">
                    <div class="title-border p-b-10 m-b-15">
                        <h5 class="d-inline-block">Product List</h5>
                        <button type="button" class="btn theme-primary-button-color btn-md" (click)="add('add',[])">Add
                            New Product</button>
                    </div>
                    <div class="setup-wrapper">
                        <div class="setup-content" *ngIf="isTableEmpty === true"> <span class="col-12 row d-block">No
                                Records Found</span></div>
                        <div class="setup-content" id="open-collapse" *ngIf="isTableEmpty === false">
                            <div class="search-container pull-right">
                                <!-- <form>
                                    <div class="form-row">
                                        <div class="form-group d-flex "> <span
                                                class="Search text-right p-r-10 p-t-5">Search</span> </div>
                                        <div class="form-group">
                                            <input type="search" class="form-control" id="inputSearchbyName"
                                                placeholder="By name">
                                        </div>
                                        <div class="form-group m-l-5 m-r-5">
                                            <input type="search" class="form-control" id="inputSearchbyID"
                                                placeholder="by id">
                                        </div>
                                    </div>
                                </form> -->
                            </div>
                            <p-table [value]="productSetupDetails"
                                class="table table-responsive-xl table-striped table-hover"[paginator]="true" [rows]="5" >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Product Type</th>
                                        <th>Product Name</th>
                                        <th>Cost</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-productSetup>
                                    <tr>
                                        <td>{{productSetup.ProductType}}</td>
                                        <td>{{productSetup.ProductName}}</td>
                                        <td>{{productSetup.Cost}}</td>
                                        <td>
                                            <em class="fa fa-pencil-square edit-list theme-secondary-icon-color m-r-10"
                                                style="color:green" pTooltip="edit" tooltipPosition="bottom"
                                                (click)="add('edit', productSetup)"></em>&nbsp;&nbsp;
                                            <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                style="color:red" pTooltip="delete" tooltipPosition="bottom"
                                                (click)="delete(productSetup)"></em>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <p-dialog header="{{headerData}}" [(visible)]="showDialog" [blockScroll]="true" [modal]="true"
                            [responsive]="true" [focusOnShow]="false" [closable]="false">
                            <app-product-create-edit *ngIf="showDialog" [selectedData]="selectedData" [isEdit]="isEdit"
                                (closeDialog)="closePopupEmit($event)">
                            </app-product-create-edit>
                        </p-dialog>
                    </div> <!-- end tab-content-->
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <button type="button" class="" (click)="add('add',[])">Add</button>
<p-table [value]="productSetupDetails">
    <ng-template pTemplate="header">
        <tr>
            <th>Product ID</th>
            <th>Product Type</th>
            <th>Product Name</th>
            <th>Cost</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-productSetup>
        <tr>
            <td>{{productSetup.ProductCode}}</td>
            <td>{{productSetup.ProductType}}</td>
            <td>{{productSetup.ProductName}}</td>
            <td>{{productSetup.Cost}}</td>
            <td>
                <em class="fa fa-pencil" style="color:orange" pTooltip="edit" tooltipPosition="bottom"
                                (click)="add('edit', productSetup)"></em>&nbsp;&nbsp;
                            <em class="fa fa-close" style="color:orange" pTooltip="delete" tooltipPosition="bottom"
                                (click)="delete(productSetup)"></em>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="{{headerData}}" [(visible)]="showDialog" [blockScroll]="true" [modal]="true" [responsive]="true"
    [focusOnShow]="false" [style]="{width: '700px', height: '1000px'}">
    <app-product-create-edit *ngIf="showDialog" [selectedData]="selectedData" [isEdit]= "isEdit" (closeDialog)="closePopupEmit($event)"></app-product-create-edit>
</p-dialog> -->