<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
        <h4>Product Setup</h4>
        <div class="card m-t-10 m-b-10">
            <div class="card-body">
                <div class="tab-content">
                    <div class="title-border p-b-20 m-b-15">
                        <h5 class="d-inline-block">Product List</h5>&nbsp;
                        <button type="button" class="btn theme-primary-button-color btn-md float-right"
                            (click)="add('add',[])">Add
                            New Product</button>
                    </div>
                    <div class="setup-wrapper">
                        <div class="setup-content" id="open-collapse">
                            <div class="search-container  pull-right">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group d-flex"> <input type="search" class="form-control"
                                                [(ngModel)]="search" size="40" name="search" id="inputSearch"
                                                placeholder="Search by Name, Location, Vendor, Type, Size"
                                                (keyup)="$event.keyCode == 13 ? productSearch() : null"> </div>
                                        <div class="form-group col-sm m-l-5">
                                            <button type="button" class="btn theme-primary-button-color btn-sm m-l-10"
                                                (click)="productSearch()">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive" *ngIf="isTableEmpty === true"> <span
                                    class="col-12 row d-block">No Records Found</span></div>
                            <div class="table-responsive" *ngIf="isTableEmpty === false && isLoading === false">
                                <table class="table  table-striped m-t-10" aria-describedby="vendor-list">
                                    <thead>
                                        <tr>
                                            <th scope="col"> Name</th>
                                            <th scope="col"> Type</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col">size</th>
                                            <th scope="col">Location</th>
                                            <!-- <th scope="col">Price</th> -->
                                            <th scope="col">Quantity</th>
                                            <th scope="col">VendorName</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let productSetup of productSetupDetails | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                            <th scope="row">{{productSetup.ProductName}}</th>
                                            <td>{{productSetup.ProductTypeName}}</td>
                                            <td>{{productSetup.Cost | currency}}</td>
                                            <td>{{productSetup.SizeName}}</td>
                                            <td>{{productSetup.LocationName}}</td>
                                            <!-- <td>{{productSetup.Price | currency}}</td> -->
                                            <td>{{productSetup.Quantity}}</td>
                                            <td>{{productSetup.VendorName}}</td>
                                            <td>{{productSetup.IsActive === true ? "Active" : "InActive"}}</td>
                                            <td>
                                                <em class="fa fa-pencil-square edit-list theme-secondary-icon-color m-r-10"
                                                    style="color:green" pTooltip="edit" tooltipPosition="bottom"
                                                    (click)="add('edit', productSetup)"></em>&nbsp;&nbsp;
                                                <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                    style="color:red" pTooltip="delete" tooltipPosition="bottom"
                                                    (click)="delete(productSetup)"></em>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ngb-pagination *ngIf="collectionSize > 10" [collectionSize]="collectionSize"
                                    [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                    [boundaryLinks]="true" class="d-flex justify-content-end">
                                </ngb-pagination>
                            </div>
                        </div>
                        <div class="loadingDiv" *ngIf="isLoading">
                            <em class="fa fa-spin fa-spinner" style="font-size:50px;"></em><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog styleClass="MyDialog" header="{{headerData}}" [(visible)]="showDialog" [blockScroll]="true" [modal]="true"
    [responsive]="true" [focusOnShow]="false" [closable]="false">
    <app-product-create-edit *ngIf="showDialog" [selectedData]="selectedData" [isEdit]="isEdit"
        (closeDialog)="closePopupEmit($event)">
    </app-product-create-edit>
</p-dialog>