<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
        <h4>Employee Handbook Setup</h4>
        <div class="card m-t-10 m-b-10">
            <div class="card-body">
                <div class="tab-content">
                    <div class=" p-b-20 m-b-15">
                        <h5 class="d-inline-block">Employee Handbook</h5>&nbsp;
                        <button type="button" class="btn theme-primary-button-color btn-md float-right"
                            (click)="adddata('add',[])">Add
                        </button>
                    </div>
                    <div class="setup-wrapper">
                        <div class="setup-content" id="open-collapse">
                            <div class="search-container  " *ngIf="checklistAdd">
                                <form><div class ="title-border m-b-22"></div>
                                    <div class="form-row">
                                        <div class="form-group col-3 "> <input type="text" class="form-control"
                                                name="CheckList" [(ngModel)]="checkListName"
                                                placeholder="Enter Check List"> </div>&nbsp;

                                        <div class="form-group col-3 m-l-140">

                                            <select name="Roles" class="form-control" [(ngModel)]="RoleId"
                                                placeholder="Select Role">
                                                <option value='' selected hidden>Select</option>

                                                <option *ngFor="let role of rollList" value="{{role.RoleMasterId}}">
                                                    {{role.RoleName}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-2 m-l-120 m-t-5">

                                            <em class="fa fa-floppy-o edit-list theme-secondary-icon-color m-r-10"
                                                style="color:green" pTooltip="save" tooltipPosition="bottom"
                                                (click)="add('add',[])"></em>&nbsp;
                                            <em class="fa fa-ban  theme-optional-icon-color" style="color:red"
                                                pTooltip="cancel" tooltipPosition="bottom"
                                                (click)="checlistcancel()"></em>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive" *ngIf="isTableEmpty === true"> <span
                                    class="col-12 row d-block">No Records Found</span></div>
                            <div class="table-responsive" *ngIf="isTableEmpty === false && isLoading === false">

                                <table class="table  table-striped m-t-10">
                                    <thead>
                                        <tr>
                                            <th> Name</th>
                                            <th> Created Date</th>
                                            <th> Created By</th>
                                            <th> File Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let checkList of checkListDetails">
                                            <td>
                                                    {{checkList.Name}}
                                            
                                            </td>


                                            <td>
                                              
22/11/2010                                            </td>
                                            <td>
                                              

saravanan babau                                        </td> <td>
                                              

sample.pdf                                    </td>
                                            <td>
                                                

                                                  
                                                    <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                        style="color:red" pTooltip="delete" tooltipPosition="bottom"
                                                        (click)="delete(checkList)"></em>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<p-dialog styleClass="MyDialog" header="Create Employee Handbook" [(visible)]="showDialog" [blockScroll]="true" [modal]="true"
    [responsive]="true" [focusOnShow]="false" [closable]="false">
    <app-create-edit-employee-hand-book *ngIf="showDialog" [selectedData]="selectedData" [isEdit]="isEdit"
        (closeDialog)="closePopupEmit($event)">
    </app-create-edit-employee-hand-book>
</p-dialog>
