<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
        <h4>Employee Handbook Setup</h4>
        <div class="card m-t-10 m-b-10">
            <div class="card-body">
                <div class="tab-content">
                    <div class=" p-b-20 m-b-15">
                        <h5 class="d-inline-block">Employee Handbook</h5>&nbsp;
                        <button type="button" [disabled] = "isTableEmpty === false" class="btn theme-primary-button-color btn-md float-right"
                            (click)="adddata('add',[])">Add
                        </button>
                    </div>
                    <!-- <div class="setup-wrapper">
                        <div class="setup-content" id="open-collapse">
                           
                            
                            <div class="table-responsive" >

                                <table class="table  table-striped m-t-10">
                                    <thead>
                                        <tr>
                                            <th> Name</th>
                                            <th> Created Date</th>
                                            <th> Created By</th>
                                            <th> File Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            
                                                <th scope="row"><a>{{fileName}}</a></th>
 
                                            <td>
                                                

                                                  
                                                    <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                        style="color:red" pTooltip="delete" tooltipPosition="bottom"
                                                        (click)="delete()"></em>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                       
                    </div> -->
                    <div class="table-responsive" *ngIf="isTableEmpty === true"> <span
                        class="col-12 row d-block">No Records Found</span>
                    </div> 
                    <div class="setup-wrapper">
                        <div class="setup-content" id="open-collapse">
                            <div class="table-responsive" *ngIf="isLoading === false && document.Document">
                                <table class="table  table-striped m-t-10">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th> Created Date</th>
                                            <th> Created By</th>
                                            <th> File Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" ><a >{{Documents?.OriginalFileName}}</a></th>
                                            <td>{{Documents?.CreatedDate  | date: 'MM/dd/yyyy'}}</td>
                                            <td>{{Documents?.CreatedBy}}</td>

                                            <td ><a (click)= "downloadPDF()">{{Documents?.FileName}}</a></td>

                                            <td>
                                                <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                    style="color:red" pTooltip="delete" tooltipPosition="bottom"
                                                    (click)="delete()"></em>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="loadingDiv" *ngIf="isLoading">
                            <em class="fa fa-spin fa-spinner" style="font-size:50px;"></em><br />
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>




<p-dialog styleClass="MyDialog" header="Create Employee Handbook" [(visible)]="showDialog" [blockScroll]="true" [modal]="true"
    [responsive]="true" [focusOnShow]="false" [closable]="false">
    <app-create-edit-employee-hand-book *ngIf="showDialog"  [documentTypeId]="documentTypeId" [selectedData]="selectedData" [isEdit]="isEdit"
        (closeDialog)="closePopupEmit($event)" (getDocumentType) = "getDocumentType()">
    </app-create-edit-employee-hand-book>
</p-dialog>
