<section id="login">
  <!--Login-->
  <div class="container">
    <div class="row">
      <div class="col-lg-7 web-display"> </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 d-flex vh-100 login-panel theme-wrapper-color">
        <div class="login-panel-container my-auto w-100">
          <div class="login-form">
            <h1 class="form-title p-b-20 text-uppercase"> Login </h1>
            <p *ngIf="errorFlag" class="alert alert-danger">Email address or password was incorrect.</p>
            <form [formGroup]="loginForm" (ngSubmit)="LoginSubmit()">
              <div class="form-group">
                <label for="emailId">Email address</label>
                <input type="email" class="form-control" id="emailId"
                  formControlName="username" aria-describedby="emailHelp" placeholder="Enter email" [pKeyFilter]="emailregex">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" (keydown.space)="$event.preventDefault()"
                  formControlName="password" id="password" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="checkbox" class="remember-password-input" id="remeber-password" formControlName="isRemember" (change)="rememberMe($event)">&nbsp;
                <label class="remember-password-label" for="RememberPasswod" >Remember Password</label>
              </div>
              <div class="form-group">
                <button type="submit" class="btn theme-primary-button-color w-100 btn-sm">Login</button>
              </div>
              <div class="form-group" style="cursor: pointer;"> <a (click)="forgotPassword()"
                  class="theme-primary-color">Forgot Password?</a> 
              <span *ngIf="showSignup" style="cursor: pointer;float: right;"> <a (click)="createAccount()"
                    class="theme-primary-color">New Customer? Sign up...</a> </span>    
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login-->