<section id="login">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 web-display"> </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 d-flex vh-100 login-panel light-blue">
          <div class="login-panel-container my-auto w-100">
            <div class="branding d-flex justify-content-center w-100 m-b-30"> <img src="assets/images/strive-logo.png" title="logo-img" class="justify-content-center"> </div>
            <div class="login-form">
              <h1 class="form-title p-b-20 text-uppercase"> Login </h1>
              <p *ngIf="errorFlag" class="alert alert-danger">Username or password was incorrect.</p>
              <form [formGroup]="loginForm" (ngSubmit)="LoginSubmit()">
                <div class="form-group">
                  <label for="emailId">Email address</label>
                  <input type="email" class="form-control" formControlName="username" id="emailId" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="checkbox" class="remember-password-input" id="remeber-password">&nbsp;
                  <label class="remember-password-label" for="RememberPasswod">Remember Password</label>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="form-group"> <a href="#" class="primary-blue">Forgot Password?</a> </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<p-dialog header="WelCome!!!!"  [(visible)]="display" [blockScroll]="true" [modal]="true" [responsive]="true"
    [focusOnShow]="false" [style]="{width: '400px', height: '200px'}" (onHide)="loadTheLandingPage()">
    {{loginDetail}}
</p-dialog>