<div id="page-content" *ngIf="!showDialog">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size-1">
                    <li class="breadcrumb-item"><a appNavigatePage>Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tenant Setup</li>
                </ol>
            </nav>
            <div class="col-12 p-l-0 p-r-0">
                <div class="card  m-b-10">
                    <div class="card-body">
                        <div class="row title-border p-b-10 m-b-15">
                            <div class="col-12">
                                <h5 class="d-inline-block">Tenant Setup List
                                    <span class="collision-btn">
                                    </span>
                                </h5>
                                <div class="pull-right m-t-4 pointer">
                                    <button type="button" class="btn theme-primary-button-color btn-md m-l-10"
                                        (click)="addTenant()">Add New
                                        Tenant</button> &nbsp;&nbsp;
                                    <a> <em class="font-size-1-4 fa fa-angle-up"></em>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="setup-wrapper">
                            <div class="setup-content">
                                <div class="search-container  pull-right">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group d-flex"> <input type="search" class="form-control"
                                                    [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)" name="search" id="inputSearchbyName"
                                                    placeholder="Search"> </div>
                                            <div class="form-group col-sm m-l-5">
                                                <button type="button" (click)="newTenantList()"
                                                    class="btn theme-primary-button-color btn-sm m-l-10">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="table-responsive">
                                    <table class="table border table-hover headerfix" aria-describedby="employee-list">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="pointer" (click)="changeSorting('FirstName')">
                                                    Name&nbsp;<i class="fa" [ngClass]="selectedCls('FirstName')"></i>
                                                </th>
                                                <th scope="col" class="pointer" (click)="changeSorting('CompanyName')">
                                                    Company&nbsp;<i class="fa"
                                                        [ngClass]="selectedCls('CompanyName')"></i>
                                                </th>
                                                <th scope="col" class="pointer" (click)="changeSorting('ClientEmail')">
                                                    Email&nbsp;<i class="fa" [ngClass]="selectedCls('ClientEmail')"></i>
                                                </th>
                                                <th scope="col" class="pointer" (click)="changeSorting('MobileNumber')">
                                                    Mobile#&nbsp;<i class="fa"
                                                        [ngClass]="selectedCls('MobileNumber')"></i>
                                                </th>
                                                <th scope="col" class="pointer"
                                                    (click)="changeSorting('SubscriptionDate')">
                                                    Subscrb. Date&nbsp;<i class="fa"
                                                        [ngClass]="selectedCls('SubscriptionDate')"></i>
                                                </th>
                                                <th scope="col" class="pointer" (click)="changeSorting('PaymentDate')">
                                                    Payment Date&nbsp;<i class="fa"
                                                        [ngClass]="selectedCls('PaymentDate')"></i>
                                                </th>
                                                <th scope="col" class="pointer" (click)="changeSorting('ExpiryDate')">
                                                    Deactivation Date&nbsp;<i class="fa"
                                                        [ngClass]="selectedCls('ExpiryDate')"></i>
                                                </th>
                                                <th scope="col" class="pointer" (click)="changeSorting('IsActive')">
                                                    Status&nbsp;<i class="fa" [ngClass]="selectedCls('IsActive')"></i>
                                                </th>
                                                <th scope="col">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="bodyfix">
                                            <tr *ngFor="let tenant of tenantList">
                                                <td>{{tenant.FirstName}} {{tenant.LastName}}</td>
                                                <td>{{tenant.CompanyName}}</td>
                                                <td>{{tenant.ClientEmail}}</td>
                                                <td>{{tenant.MobileNumber}}</td>
                                                <td>{{tenant.SubscriptionDate | date : 'MM/dd/yyyy'}}</td>
                                                <td>{{tenant.PaymentDate | date : 'MM/dd/yyyy'}}</td>
                                                <td>{{tenant.ExpiryDate | date : 'MM/dd/yyyy'}}</td>
                                                <td>{{tenant.IsActive ? 'Active' : 'Inactive'}}</td>
                                                <td><em class="mdi mdi-pencil-circle edit-list pointer theme-secondary-icon-color font-size-1-2"
                                                        pTooltip="Edit" tooltipPosition="bottom"
                                                        (click)="editTenant(tenant)"></em>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row pull-right">
                                        <div class="col-6">
                                            <ngb-pagination *ngIf="tenantList.length > 0"
                                                [collectionSize]="collectionSize" (pageChange)="paginate($event)"
                                                [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                                [boundaryLinks]="true" class="d-flex justify-content-end">
                                            </ngb-pagination>
                                        </div>
                                        <select *ngIf="tenantList.length > 0" class="form-control col-4"
                                            name="paginate" [(ngModel)]="pageSize" (change)="paginatedropdown($event)">
                                            <option *ngFor="let size of pageSizeList" value="{{size}}">{{size}}</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showDialog">
    <app-add-tenant *ngIf="showDialog" [isEdit]="isEdit" [tenantDetail]="tenantDetail" [tenantModule]="tenantModule"
        (closePopup)="closePopup()" (reloadGrid)="reloadGrid()"></app-add-tenant>
</div>