<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-membership" role="tabpanel"
        aria-labelledby="v-pills-membership-tab">
        <div class="card m-b-10">
            <div class="card-body">
                <div class="tab-content">
                    <div class="title-border p-b-20 m-b-15">
                        <h5 class="d-inline-block">Membership List</h5>&nbsp;
                        <button type="button" class="btn theme-primary-button-color btn-md float-right"
                            (click)="add('add',[])">Add
                            New Membership</button>
                    </div>
                    <div class="setup-wrapper">
                        <div class="setup-content" id="open-collapse">
                            <div class="search-container  pull-right">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group d-flex"> <input type="search" size="35"
                                                title="Search by Service Name, Type, Price." class="form-control" [(ngModel)]="query" name="search" id="inputSearch"
                                                placeholder="Search..."
                                                (ngModelChange)="this.searchUpdate.next($event)"> </div>&nbsp;

                                        <div class="form-group col-sm m-l-5">
                                            <button type="button" (click)="membershipSearch()"
                                                class="btn theme-primary-button-color btn-sm m-l-10">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped m-t-10 headerfix" *ngIf="!isLoading">
                                    <thead>
                                        <tr>
                                            <th class="pointer" (click)="changesort('MembershipName')">Name&nbsp;
                                                <i class="fa" [ngClass]="selectedCls('MembershipName')"></i>
                                            </th>
                                            <th class="pointer" (click)="changesort('Services')">Services&nbsp;
                                                <i class="fa" [ngClass]="selectedCls('Services')"></i>
                                            </th>
                                            <th class="pointer" (click)="changesort('CreatedDate')">Creation Date&nbsp;
                                                <i class="fa" [ngClass]="selectedCls('CreatedDate')"></i>
                                            </th>
                                            <th class="pointer" (click)="changesort('IsActive')">Status&nbsp;
                                                <i class="fa" [ngClass]="selectedCls('IsActive')"></i>
                                            </th>

                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bodyfix">
                                        <tr
                                            *ngFor="let membership of membershipDetails | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                            <th scope="row">{{membership.MembershipName}}</th>
                                            <td class="tb-text-wrap" title="{{membership.Services}}">{{membership.Services}} </td>
                                            <td>{{membership.CreatedDate | date: 'MM/dd/yyyy'}}</td>
                                            <td>{{membership.IsActive === true ? "Active" : "InActive"}}</td>
                                            <td>
                                                <em class="fa fa-pencil-square edit-list theme-secondary-icon-color m-r-10"
                                                    style="color:green" pTooltip="Edit" tooltipPosition="bottom"
                                                    (click)="add('edit', membership)"></em>
                                                <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                    style="color:red" pTooltip="Delete" tooltipPosition="bottom"
                                                    (click)="delete(membership)"></em>
                                            </td>
                                        </tr>
                                        <tr *ngIf="membershipDetails.length == 0">
                                            <td colspan="12" class="text-center"> No Records Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="loadingDiv" *ngIf="isLoading">
                                    <em class="fa fa-spin fa-spinner" style="font-size:50px;"></em><br />
                                </div>
                                <div class="row pull-right">
                                    <div class="col-6">
                                        <ngb-pagination *ngIf="membershipDetails.length > 0"
                                            [collectionSize]="collectionSize" (pageChange)="paginate($event)"
                                            [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                            [boundaryLinks]="true" class="d-flex justify-content-end">
                                        </ngb-pagination>
                                    </div>
                                    <select *ngIf="membershipDetails.length > 0" class="form-control col-4"
                                        name="paginate" [(ngModel)]="pageSize" (change)="paginatedropdown($event)">
                                        <option *ngFor="let size of pageSizeList" value="{{size}}">{{size}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog styleClass="MyDialog" header="{{headerData}}" [(visible)]="showDialog" [blockScroll]="true" [modal]="true"
    [resizable]="true" appendTo="body" [focusOnShow]="false" [closable]="false">
    <app-membership-create-edit *ngIf="showDialog" [selectedData]="selectedData" [isEdit]="isEdit"
        (closeDialog)="closePopupEmit($event)">
    </app-membership-create-edit>
</p-dialog>