<div id="print-header">
    <div class="row m-b-5">
        <div class="col-6">
            <div>In: &nbsp; {{selectedData?.Details?.TimeIn | date : 'MM/dd/yyyy, hh:mm a'}}</div>
        </div>
        <div class="col-6">
            <div class="float-right">{{selectedData?.Details?.Barcode}}</div>
        </div>
    </div>
    <div class="row m-b-5">
        <div class="col-6">
            <div><strong>Out: &nbsp; {{selectedData?.Details?.EstimatedTimeOut | date: 'hh:mm a'}}</strong></div>
        </div>
        <div class="col-6">
        </div>
    </div>
    <div class="row m-b-5 ">
        <div class="col-6">
            <div>Client: &nbsp;{{selectedData?.Details?.ClientName}}</div>
        </div>
        <div class="col-6">
            <div class="float-right">
                {{selectedData?.Details?.PhoneNumber}}
            </div>
        </div>
    </div>
    <div class="row border-bottom m-b-5">
        <div class="col-4">Vehicle: &nbsp;{{selectedData?.Details?.VehicleModel}}</div>
        <div class="col-4 text-center">{{selectedData?.Details?.VehicleMake}}</div>
        <div class="col-4 text-right">{{selectedData?.Details?.VehicleColor}}</div>
    </div>
</div>
<div id="print-body">
    <div class="row m-b-10" *ngFor="let addService of selectedData.DetailsItem; let index = index">
        <div class="col-12" >
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="defaultCheck_{{index}}">
                <label class="form-check-label" for="defaultCheck_{{index}}">
                    {{addService?.ServiceName}}
                </label>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div>Ticket Number:&nbsp; {{selectedData?.Details?.TicketNumber}} <br>
            <qr-code [value]="selectedData?.Details?.TicketNumber"></qr-code>
        </div>

    </div>
</div>
<div id="print-footer">
    <div class="row">
      
        <div class="col-sm-12">
            <div>Note: {{selectedData?.Details?.Notes}}</div>
        </div>
    </div>
</div>