<div id="print-header">
    <div class="row m-b-5">
        <div class="col-6">
            <div>In: &nbsp; {{selectedData?.Details?.TimeIn | date : 'MM/dd/yyyy, hh:mm a'}}</div>
        </div>
        <div class="col-6">
            <div class="float-right">{{selectedData?.Details?.Barcode}}</div>
        </div>
    </div>
    <div class="row m-b-5">
        <div class="col-6">
            <div><strong>Out: &nbsp; {{selectedData?.Details?.EstimatedTimeOut | date: 'hh:mm a'}}</strong></div>
        </div>
        <div class="col-6">
            <!-- <div>{{selectedData.Details.TimeIn}}</div> -->
        </div>
    </div>
    <div class="row m-b-5 ">
        <div class="col-6">
            <div>Client: &nbsp;{{selectedData?.Details?.ClientName}}</div>
        </div>
        <div class="col-6">
            <div class="float-right">
                456-464-4546
            </div>
        </div>
    </div>
    <div class="row border-bottom m-b-5">
        <!-- <div class="col-12"> -->
        <div class="col-4">Vehicle: &nbsp;{{selectedData?.Details?.vehicleModel}}</div>
        <div class="col-4 text-center">{{selectedData?.Details?.vehicleMake}}</div>
        <div class="col-4 text-right">{{selectedData?.Details?.vehicleColor}}</div>
        <!-- </div> -->
    </div>
</div>
<div id="print-body">
    <div class="row m-b-10" *ngFor="let addService of selectedData.DetailsItem; let index = index">
        <div class="col-12" >
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="defaultCheck_{{index}}">
                <label class="form-check-label" for="defaultCheck_{{index}}">
                    {{addService?.ServiceName}}
                </label>
            </div>
        </div>
    </div>
</div>
<div id="print-footer">
    <div class="row">
        <div class="col-sm-12">
            <div>Note: {{selectedData?.Details?.Notes}}</div>
        </div>
    </div>
</div>