BODY.login
{
    MARGIN-TOP: 10px;
    BACKGROUND-COLOR: #69c
}
BODY.pgFrame
{
    MARGIN: 0px;
    BACKGROUND-COLOR: #999;
    link: #00f;
    alink: #00f
}
BODY.pgWizard
{
    MARGIN: 0px;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #ffc;
    link: #00f;
    alink: #00f
}
BODY.pgPara
{
    MARGIN: 0px;
    BACKGROUND-COLOR: #ffc;
    link: #00f;
    alink: #00f
}
BODY.pgNav
{
    MARGIN-TOP: 2px;
    MARGIN-LEFT: 0px;
    BACKGROUND-COLOR: #fff;
    link: #0f0;
    alink: #0f0
}
BODY.pgPrint
{
    MARGIN-TOP: 2px;
    MARGIN-LEFT: 4px;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #fff;
    link: #00f;
    alink: #00f
}
BODY.pgBody
{
    MARGIN-TOP: 5px;
    MARGIN-LEFT: 0px;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #b0c4de;
    link: #00f;
    alink: #00f
}
BODY.Menu
{
    MARGIN-TOP: 0px;
    MARGIN-LEFT: 0px;
    BACKGROUND-COLOR: #b0c4de
}
A:link
{
    COLOR: #00f
}
A:visited
{
    COLOR: #00f
}
A:active
{
    COLOR: #00f
}
A.Menupad:link
{
    FONT: 10pt , verdana;
    CURSOR: hand;
    COLOR: white;
    TEXT-DECORATION: none
}
A.MenuPad:visited
{
    FONT: 10pt , verdana;
    CURSOR: hand;
    COLOR: white;
    TEXT-DECORATION: none
}
A.Menupad:active
{
    FONT: 10pt , verdana;
    CURSOR: hand;
    COLOR: white;
    TEXT-DECORATION: none
}
A.Menupad
{
    FONT: 10pt , verdana;
    CURSOR: hand;
    COLOR: #ff0;
    TEXT-DECORATION: none
}
A.MenuPadSel:visited
{
    FONT: 10pt , verdana;
    CURSOR: hand;
    COLOR: #ff0;
    TEXT-DECORATION: none
}
A.MenuPadSel:link
{
    FONT: 10pt , verdana;
    CURSOR: hand;
    COLOR: #ff0;
    TEXT-DECORATION: none
}
A.MenupadSel:active
{
    FONT: 10pt , verdana;
    CURSOR: hand;
    COLOR: #ff0;
    TEXT-DECORATION: none
}
A.control
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
TD.Menupad
{
    FONT: bold 10pt , verdana;
    BACKGROUND-COLOR: #036
}
.control:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.control:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.control:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.control
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.control2:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.control2:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.control2:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.dollarsign
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none;
    v-align: center
}
.redcontrol
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.grncontrol
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: green;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.controlR
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000;
    FONT-FAMILY: Verdana
}
.frameLabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #b0c4de
}
LABEL.smallControl
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000;
    FONT-FAMILY: Verdana
}
TD.smallControl
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000;
    FONT-FAMILY: Verdana
}
LABEL.ControlOff
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana
}
TD.ControlOff
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana
}
LABEL.Comment
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000;
    FONT-FAMILY: Verdana
}
TD.Comment
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000;
    FONT-FAMILY: Verdana
}
LABEL.Data
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #006;
    FONT-FAMILY: Verdana
}
LABEL.RedData
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Verdana
}
LABEL.GRNData
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: Green;
    FONT-FAMILY: Verdana
}
LABEL.SmallData
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: blue;
    FONT-FAMILY: Verdana
}
LABEL.WizTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #006;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana
}
LABEL.lnkNavDis
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-STYLE: italic;
    FONT-FAMILY: arial
}
.lnkNav:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkNav:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkNav:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkNav
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #0f9;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkHeader:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #00c;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.lnkHeader:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #00c;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.lnkHeader:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #00c;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.lnkHeader:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #00f;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: underline
}
.lnkDead:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: default;
    COLOR: #000066;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
.lnkDead:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: default;
    COLOR: #000066;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
.lnkDead:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: default;
    COLOR: #000066;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
.lnkSelect:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: default;
    COLOR: #fff;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #000;
    TEXT-DECORATION: none
}
.lnkSelect:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: default;
    COLOR: #fff;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #000;
    TEXT-DECORATION: none
}
.lnkSelect:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: default;
    COLOR: #fff;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #000;
    TEXT-DECORATION: none
}
.lnkTab:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.lnkTab:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.lnkTab:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.lnkTabSel:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.lnkTabSel:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.lnkTabSel:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: #000;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.lnkNavSel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ff0;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkData:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: underline
}
.lnkData:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: underline
}
.lnkData:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: underline
}
.lnkData
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #06f;
    FONT-FAMILY: Verdana
}
.lnkContract:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkContract:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkContract:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkContract
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #06f;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkRed:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #f00;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkRed:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #f00;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkRed:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #f00;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkRed
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #06f;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lnkBody:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
.lnkBody:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
.lnkBody:active
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
.lnkBody
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    COLOR: #06f;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
.bulletOff
{
    FONT: 12pt webdings;
    COLOR: #fff
}
.bulletClear
{
    FONT: 12pt webdings;
    COLOR: #069
}
.bulletOK
{
    FONT: 12pt webdings;
    COLOR: #0f0
}
.bulletBad
{
    FONT: 12pt webdings;
    COLOR: #f00
}
.expand
{
    FONT: 12pt webdings;
    CURSOR: hand;
    COLOR: #ff0
}
.collapsed
{
    FONT: 12pt webdings;
    CURSOR: hand;
    COLOR: #fff
}
.hide
{
    DISPLAY: none
}
.divDropDownHidden
{
    DISPLAY: none
}
.show
{
    DISPLAY: inline
}
.divDropDownShown
{
    DISPLAY: inline
}
.Pagetitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: arial
}
.user
{
    FONT-SIZE: 10pt;
    COLOR: #000;
    FONT-FAMILY: arial
}
.tdCaption
{
    BORDER-RIGHT: 2px outset;
    BORDER-TOP: 2px outset;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT: 2px outset;
    COLOR: black;
    FONT-FAMILY: verdana;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #999
}
TABLE.tblCaption
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 2px groove
}
TABLE.AssignDlg
{
    BORDER-RIGHT: 3px ridge;
    BORDER-TOP: 3px ridge;
    BORDER-LEFT: 3px ridge;
    BORDER-BOTTOM: 3px ridge
}
TABLE.drag
{
    BORDER-RIGHT: 2px outset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 2px outset;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 2px outset;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 2px outset;
    FONT-FAMILY: Verdana;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #c0c0c0
}
TABLE.Data
{
    MARGIN: 0px;
    COLOR: #000
}
TD.tab
{
    BORDER-RIGHT: 3px outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: 3px outset;
    PADDING-LEFT: 5px;
    FONT: 10pt verdana;
    BORDER-LEFT: 3px outset;
    WIDTH: 90px;
    CURSOR: hand;
    COLOR: #000;
    BORDER-BOTTOM: 3px inset;
    BACKGROUND-COLOR: #b0c4de
}
TH.tab
{
    BORDER-RIGHT: 3px outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: 3px outset;
    PADDING-LEFT: 5px;
    FONT: 10pt verdana;
    BORDER-LEFT: 3px outset;
    WIDTH: 90px;
    CURSOR: hand;
    COLOR: #000;
    BORDER-BOTTOM: 3px inset;
    BACKGROUND-COLOR: #b0c4de
}
TD.tabgap
{
    WIDTH: 5px;
    BORDER-BOTTOM: 3px inset
}
TH.tabgap
{
    WIDTH: 5px;
    BORDER-BOTTOM: 3px inset
}
TD.tabgapinitial
{
    WIDTH: 1px;
    BORDER-BOTTOM: 3px inset
}
TH.tabgapinitial
{
    WIDTH: 1px;
    BORDER-BOTTOM: 3px inset
}
TD.tabgapfinal
{
    BORDER-BOTTOM: 3px inset
}
TH.tabgapfinal
{
    BORDER-BOTTOM: 3px inset
}
TD.tabSelect
{
    BORDER-RIGHT: 3px outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: 3px outset;
    PADDING-LEFT: 5px;
    FONT: 10pt verdana;
    BORDER-LEFT: 3px outset;
    WIDTH: 90px;
    COLOR: #3399cc;
    BACKGROUND-COLOR: #3f9cdf
}
TH.tabSelect
{
    BORDER-RIGHT: 3px outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: 3px outset;
    PADDING-LEFT: 5px;
    FONT: 10pt verdana;
    BORDER-LEFT: 3px outset;
    WIDTH: 90px;
    COLOR: #3399cc;
    BACKGROUND-COLOR: #3f9cdf
}
TH.Edit
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #fff
}
TD.Edit
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #fff
}
TD.Data
{
    BORDER-RIGHT: #999 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999 1px solid;
    BACKGROUND-COLOR: #ffc
}
TD.bData
{
    BORDER-RIGHT: #999 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 12pt verdana;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999 1px solid;
    BACKGROUND-COLOR: #ffc
}
TH.Data
{
    BORDER-RIGHT: #999 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999 1px solid;
    BACKGROUND-COLOR: #ffc
}
TD.LinkData
{
    BORDER-RIGHT: #999 1px solid;
    FONT: 8pt verdana;
    BORDER-BOTTOM: #999 1px solid;
    BACKGROUND-COLOR: #ffc
}
TH.LinkData
{
    BORDER-RIGHT: #999 1px solid;
    FONT: 8pt verdana;
    BORDER-BOTTOM: #999 1px solid;
    BACKGROUND-COLOR: #ffc
}
TD.ChildData
{
    BORDER-RIGHT: #999 1px solid;
    FONT: 8pt verdana;
    BORDER-BOTTOM: #999 1px solid;
    BACKGROUND-COLOR: #cc9
}
TH.ChildData
{
    BORDER-RIGHT: #999 1px solid;
    FONT: 8pt verdana;
    BORDER-BOTTOM: #999 1px solid;
    BACKGROUND-COLOR: #cc9
}
TD.Data2
{
    BORDER-RIGHT: #999 1px solid;
    BORDER-TOP: #036 2px solid;
    FONT: 8pt verdana;
    BORDER-BOTTOM: #999 1px solid;
    BACKGROUND-COLOR: palegreen
}
TD.SelData
{
    BORDER-RIGHT: #ccc 1px solid;
    FONT: 8pt verdana;
    COLOR: white;
    BORDER-BOTTOM: #ccc 1px solid;
    BACKGROUND-COLOR: #006
}
TH.SelData
{
    BORDER-RIGHT: #ccc 1px solid;
    FONT: 8pt verdana;
    COLOR: white;
    BORDER-BOTTOM: #ccc 1px solid;
    BACKGROUND-COLOR: #006
}
TD.StatusRed
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #fff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #f00
}
TD.BStatusRed
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 12pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #fff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #f00
}
TD.StatusDarkOrange
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #fff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: DarkOrange
}
TD.StatusGray
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #fff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: Gray
}
TD.StatusGold
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #fff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: Gold
}
TH.StatusRed
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #fff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #f00
}
TD.StatusGreen
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #0f0
}
TD.StatusOrange
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #ff6
}
TD.bStatusGreen
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 12pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #0f0
}
TH.StatusGreen
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #0f0
}
TH.StatusOrange
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #ff6
}
TD.StatusYellow
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #ff0
}
TD.Statusblue
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #00f
}
TD.bStatusYellow
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 12pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #ff0
}
TH.StatusYellow
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #ff0
}
TH.Statusblue
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #00f
}
TD.StatusBlack
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #fff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #000
}
TH.StatusBlack
{
    BORDER-RIGHT: #066 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #066 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    BORDER-LEFT: #066 1px solid;
    COLOR: #fff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #066 1px solid;
    BACKGROUND-COLOR: #000
}
TH.header
{
    BORDER-RIGHT: 1px ridge;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px ridge;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 10pt verdana;
    BORDER-LEFT: 1px ridge;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px ridge;
    BACKGROUND-COLOR: #ccc
}
TD.header
{
    BORDER-RIGHT: 1px ridge;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px ridge;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 10pt verdana;
    BORDER-LEFT: 1px ridge;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px ridge;
    BACKGROUND-COLOR: #ccc
}
TD.header3
{
    FONT: 10pt verdana;
    COLOR: #000;
    BACKGROUND-COLOR: #ccc
}
TD.rowHeader
{
    BORDER-RIGHT: 1px ridge;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px ridge;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 10pt verdana;
    BORDER-LEFT: 1px ridge;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px ridge;
    BACKGROUND-COLOR: #ccc
}
TH.rowHeader
{
    BORDER-RIGHT: 1px ridge;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px ridge;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 10pt verdana;
    BORDER-LEFT: 1px ridge;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px ridge;
    BACKGROUND-COLOR: #ccc
}
TD.header2
{
    FONT: 8pt verdana;
    COLOR: #000;
    BACKGROUND-COLOR: silver
}
TD.headerNull
{
    FONT: 8pt verdana;
    COLOR: #000;
    BACKGROUND-COLOR: #ccc
}
TD.rowAction
{
    BORDER-RIGHT: 1px ridge;
    BORDER-TOP: 1px ridge;
    FONT: 10pt verdana;
    BORDER-LEFT: 1px ridge;
    COLOR: #000;
    BORDER-BOTTOM: 1px ridge;
    BACKGROUND-COLOR: #9c9
}
BUTTON
{
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 1px;
    BORDER-LEFT: 1px outset;
    CURSOR: hand;
    COLOR: white;
    MARGIN-RIGHT: 1px;
    BORDER-BOTTOM: 1px outset;
    FONT-FAMILY: 10pt, verdana;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #036
}
.Buttonred
{
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 1px;
    BORDER-LEFT: 1px outset;
    CURSOR: hand;
    COLOR: white;
    MARGIN-RIGHT: 1px;
    BORDER-BOTTOM: 1px outset;
    FONT-FAMILY: 10pt, verdana;
    BACKGROUND-COLOR: red
}
BUTTON.ButtonDead
{
    MARGIN-LEFT: 1px;
    CURSOR: default;
    COLOR: #069;
    MARGIN-RIGHT: 1px;
    FONT-STYLE: oblique;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #ccc
}
BUTTON.ButtonDisabled
{
    MARGIN-LEFT: 1px;
    CURSOR: default;
    COLOR: #069;
    MARGIN-RIGHT: 1px;
    FONT-STYLE: oblique;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #ccc
}
BUTTON.OkButton
{
    BACKGROUND-POSITION: 18px center;
    PADDING-LEFT: 15px;
    BACKGROUND-IMAGE: url(images/imgOk.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 75px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.CancelButton
{
    BACKGROUND-POSITION: 6px center;
    PADDING-LEFT: 18px;
    BACKGROUND-IMAGE: url(images/imgCancel.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 80px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.ClearButton
{
    BACKGROUND-POSITION: 10px center;
    PADDING-LEFT: 16px;
    BACKGROUND-IMAGE: url(images/imgUndo.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 120px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.FilterButton
{
    BACKGROUND-POSITION: 8px center;
    PADDING-LEFT: 12px;
    BACKGROUND-IMAGE: url(images/imgFilter.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 75px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.SpikeButton
{
    BACKGROUND-POSITION: 5px center;
    PADDING-LEFT: 12px;
    BACKGROUND-IMAGE: url(images/beaker0a1.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 85px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.OrderByButton
{
    BACKGROUND-POSITION: 8px center;
    PADDING-LEFT: 12px;
    BACKGROUND-IMAGE: url(images/exOrderBy.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 75px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.DoneButton
{
    BACKGROUND-POSITION: 6px center;
    PADDING-LEFT: 12px;
    BACKGROUND-IMAGE: url(images/imgDone.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 75px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.NewButton
{
    BACKGROUND-POSITION: 11px center;
    PADDING-LEFT: 16px;
    BACKGROUND-IMAGE: url(images/imgNew.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 75px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.NewButtonDead
{
    BACKGROUND-POSITION: 11px center;
    PADDING-LEFT: 16px;
    BACKGROUND-IMAGE: url(images/imgNew.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 75px;
    CURSOR: default;
    COLOR: #069;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-STYLE: oblique;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #ccc
}
BUTTON.CopyButton
{
    BACKGROUND-POSITION: 6px center;
    PADDING-LEFT: 12px;
    BACKGROUND-IMAGE: url(images/imgCopy.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 80px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.CopyButtonDead
{
    BACKGROUND-POSITION: 6px center;
    PADDING-LEFT: 12px;
    BACKGROUND-IMAGE: url(images/imgCopy.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 80px;
    CURSOR: default;
    COLOR: #069;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-STYLE: oblique;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #ccc
}
BUTTON.DeleteButton
{
    BACKGROUND-POSITION: 6px center;
    PADDING-LEFT: 18px;
    BACKGROUND-IMAGE: url(images/imgDelete.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 80px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.DeleteButtonDead
{
    BACKGROUND-POSITION: 6px center;
    PADDING-LEFT: 18px;
    BACKGROUND-IMAGE: url(images/imgDelete.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 80px;
    CURSOR: default;
    COLOR: #069;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-STYLE: oblique;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #ccc
}
BUTTON.ResizeButton
{
    BACKGROUND-POSITION: 0px center;
    PADDING-LEFT: 0px;
    BACKGROUND-IMAGE: url(images/resize2.Gif);
    MARGIN-LEFT: 0px;
    WIDTH: 17px;
    MARGIN-RIGHT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #ccc
}
BUTTON.PrintButton
{
    BACKGROUND-POSITION: 6px center;
    PADDING-LEFT: 12px;
    BACKGROUND-IMAGE: url(images/Printer.Gif);
    MARGIN-LEFT: 2px;
    WIDTH: 135px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.SaveButton
{
    BACKGROUND-POSITION: 6px center;
    PADDING-LEFT: 12px;
    BACKGROUND-IMAGE: url(images/imgSave.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 80px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.SaveButtonDead
{
    BACKGROUND-POSITION: 6px center;
    PADDING-LEFT: 12px;
    BACKGROUND-IMAGE: url(images/imgSave.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 80px;
    CURSOR: default;
    COLOR: #069;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-STYLE: oblique;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #ccc
}
BUTTON.SelectButton
{
    BACKGROUND-POSITION: 10px center;
    PADDING-LEFT: 16px;
    BACKGROUND-IMAGE: url(images/imgOk.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 90px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
BUTTON.SelectButtonDead
{
    BACKGROUND-POSITION: 10px center;
    PADDING-LEFT: 16px;
    BACKGROUND-IMAGE: url(images/imgOk.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 90px;
    CURSOR: default;
    COLOR: #069;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-STYLE: oblique;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #ccc
}
BUTTON.ClearLkpButton
{
    BACKGROUND-POSITION: 16px center;
    PADDING-LEFT: 22px;
    BACKGROUND-IMAGE: url(images/imgUndo.Gif);
    MARGIN-LEFT: 1px;
    WIDTH: 90px;
    MARGIN-RIGHT: 1px;
    BACKGROUND-REPEAT: no-repeat
}
.btnMouseOver
{
    COLOR: yellow;
    FONT-FAMILY: verdana
}
.btnMouseOut
{
    COLOR: white;
    FONT-FAMILY: verdana
}
HR
{
    COLOR: #066
}
INPUT.NoBorder
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 14px;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: arial;
    TEXT-ALIGN: left
}
INPUT
{
    FONT-SIZE: 12px;
    FONT-FAMILY: arial;
    TEXT-ALIGN: left
}
INPUT.Change
{
    COLOR: #ff0000
}
TD.filterback
{
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #cc9
}
DIV.Filtered
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FONT-FAMILY: Arial
}
TD.dcZ
{
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: white
}
TD.dcS
{
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: white
}
TD.dcBlank
{
    COLOR: white;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: white
}
TD.pkey
{
    FONT: small , verdana;
    BACKGROUND-COLOR: #ff9
}
TD.calc
{
    COLOR: black;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ff9
}
TD.calc A:link
{
    COLOR: black
}
TD.calc A:unknown
{
    COLOR: black
}
TD.calc A:active
{
    COLOR: black
}
TD.calcFail
{
    FONT-WEIGHT: bold;
    COLOR: red;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ff9
}
TD.calcfail A:link
{
    COLOR: red
}
TD.calcfail A:unknown
{
    COLOR: red
}
TD.calcfail A:active
{
    COLOR: red
}
TD.calcPass
{
    COLOR: green;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ff9
}
TD.calcpass A:link
{
    COLOR: green
}
TD.calcpass A:unknown
{
    COLOR: green
}
TD.calcpass A:active
{
    COLOR: green
}
TD.PFNA
{
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: white
}
TD.PFFail
{
    FONT-WEIGHT: bold;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #f36
}
TD.PFPass
{
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #6c6
}
TD.Headerfilt
{
    FONT: bold small , verdana;
    COLOR: white;
    BACKGROUND-COLOR: #696
}
TD.subtitle
{
    FONT: bold small , verdana;
    COLOR: black;
    BACKGROUND-COLOR: #cc9
}
DIV.abs
{
    POSITION: absolute
}
.btnFake
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-WEIGHT: bold;
    BORDER-LEFT: black 1px solid;
    CURSOR: hand;
    COLOR: white;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: 9pt, verdana;
    BACKGROUND-COLOR: #069
}
.divPageUpDown
{
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: red;
    FONT-FAMILY: Webdings;
    TEXT-DECORATION: none
}
TD.Footer
{
    FONT: 10pt verdana;
    COLOR: #000;
    BACKGROUND-COLOR: #ccc
}
TH.Footer
{
    FONT: 10pt verdana;
    COLOR: #000;
    BACKGROUND-COLOR: #ccc
}
TR.Footer
{
    BORDER-RIGHT: 1px ridge;
    BORDER-TOP: 1px ridge;
    FONT: 10pt verdana;
    BORDER-LEFT: 1px ridge;
    COLOR: #000;
    BORDER-BOTTOM: 1px ridge;
    BACKGROUND-COLOR: #ccc
}
TR.Footer
{
    BORDER-RIGHT: 1px ridge;
    BORDER-TOP: 1px ridge;
    FONT: 10pt verdana;
    BORDER-LEFT: 1px ridge;
    COLOR: #000;
    BORDER-BOTTOM: 1px ridge;
    BACKGROUND-COLOR: #ccc
}
INPUT.bordersl
{
    BORDER-RIGHT: thin inset;
    BORDER-TOP: thin inset;
    BORDER-LEFT: thin inset;
    BORDER-BOTTOM: thin inset;
    TEXT-ALIGN: left
}
.errorcolor
{
    BACKGROUND-COLOR: red
}
.warningcolor
{
    BACKGROUND-COLOR: yellow
}
OPTION.Deleted
{
    FONT-SIZE: 7pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
TEXTAREA
{
    BEHAVIOR: url(maxlength.htc)
}
DIV.divSection
{
    MARGIN-BOTTOM: 5px
}
TD.disabled
{
    BORDER-RIGHT: #999 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    COLOR: #ccc;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999 1px solid;
    BACKGROUND-COLOR: #778899
}
TH.disabled
{
    BORDER-RIGHT: #999 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 8pt verdana;
    COLOR: #ccc;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999 1px solid;
    BACKGROUND-COLOR: #778899
}
LABEL.Link
{
    COLOR: blue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
