
<div class="container-fluid">
<p-accordion>
    <p-accordionTab header="Auto Complete" >
        <p-autoComplete [(ngModel)]="country" [suggestions]="filteredCountriesSingle"
        (completeMethod)="filterCountrySingle($event)" field="name" [size]="30" 
        placeholder="Countries" [minLength]="1"></p-autoComplete>
    </p-accordionTab>
    
</p-accordion>
</div>
<div class="container-fluid">
    <p-accordion>
        <p-accordionTab header="Dynamic TextBox">
            <app-dynamic-textbox></app-dynamic-textbox>
        </p-accordionTab>
        
    </p-accordion>
    </div>
    <div class="container-fluid">
        <p-accordion>
            <p-accordionTab header="State">
                <app-state-dropdown></app-state-dropdown>
            </p-accordionTab>
            
        </p-accordion>
        </div>
        <div class="container-fluid">
            <p-accordion>
                <p-accordionTab header="Country">
                   <app-country-dropdown></app-country-dropdown>
                </p-accordionTab>
                
            </p-accordion>
            </div>
        