<!-- <app-view-customer-details></app-view-customer-details> -->
<!-- <div class="container-fluid">
    <app-card>
        <card-header>
            <h6>Sample Components</h6>
        </card-header>
        <card-body>
            <div class='card'>
                <div class="card-header bg-primary text-white">
                    <h6>Auto Complete</h6>
                </div>
                <div class="card-body">
                    <p-autoComplete [(ngModel)]="country" [suggestions]="filteredCountriesSingle"
                        (completeMethod)="filterCountrySingle($event)" field="name" [size]="30" [dropdown]="true"
                        placeholder="Countries" [minLength]="1"></p-autoComplete>
                </div>
            </div>
        </card-body>
    </app-card>
</div> -->
<div class="container-fluid">
<p-accordion>
    <p-accordionTab header="Auto Complete" >
        <p-autoComplete [(ngModel)]="country" [suggestions]="filteredCountriesSingle"
        (completeMethod)="filterCountrySingle($event)" field="name" [size]="30" 
        placeholder="Countries" [minLength]="1"></p-autoComplete>
    </p-accordionTab>
    
</p-accordion>
</div>
<div class="container-fluid">
    <p-accordion>
        <p-accordionTab header="Dynamic TextBox">
            <app-dynamic-textbox></app-dynamic-textbox>
            <!-- <app-dynamic-textbox></app-dynamic-textbox> -->
        </p-accordionTab>
        
    </p-accordion>
    </div>
    <div class="container-fluid">
        <p-accordion>
            <p-accordionTab header="State">
                <app-state-dropdown></app-state-dropdown>
            </p-accordionTab>
            
        </p-accordion>
        </div>
        <div class="container-fluid">
            <p-accordion>
                <p-accordionTab header="Country">
                   <app-country-dropdown></app-country-dropdown>
                </p-accordionTab>
                
            </p-accordion>
            </div>
        