<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
        <div class="card m-t-10 m-b-10">
            <div class="card-body">
                <div class="tab-content">
                    <div class="title-border p-b-20 m-b-15">
                        <h5 class="d-inline-block">Terms & Condition</h5>&nbsp;
                        <button type="button" class="btn theme-primary-button-color btn-md float-right">
                            Upload</button>
                    </div>
                    <div class="setup-wrapper">
                        <div class="setup-content" id="open-collapse">
                            <div class="form-row">
                                <label>Select a PDF File:</label>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-xl-5 no-space">
                                        <div class="card">
                                            <div class="card-body">
                                                <!-- <span *ngIf="!isLoading">{{fileName}}</span>
                                                <span *ngIf="fileName && !isLoading"><em
                                                        class="mdi mdi-close-circle pointer delete-list theme-optional-icon-color font-size-1-2"
                                                        ></em>
                                                </span>
                                                <div class="loadingDiv" *ngIf="isLoading">
                                                    <em class="fa fa-spin fa-spinner"
                                                        style="font-size:50px;"></em><br />
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>