<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
        <div class="card m-b-10">
            <div class="card-body">
                <div class="tab-content">
                    <div class="title-border p-b-20 m-b-15">
                        <h5 class="d-inline-block">Terms and Conditions</h5>&nbsp;
                        <button type="button" class="btn theme-primary-button-color btn-md float-right"
                            (click)="addData('add')">Add New Terms</button>
                    </div>
                    <div class="setup-wrapper">
                        <div class="setup-content" id="open-collapse">
                            <div class="table-responsive">
                                <table class="table  table-striped m-t-10" *ngIf="!isLoading">
                                    <thead>
                                        <tr>
                                            <th class="pointer" (click)="changesort('DocumentName')">Name&nbsp; 
                                                <i class="fa" 
                                                [ngClass]="selectedCls('DocumentName')"></i></th>
                                            <th class="pointer" (click)="changesort('DocumentSubtype')">Type&nbsp; 
                                                <i class="fa"
                                                [ngClass]="selectedCls('DocumentSubtype')"></i></th>
                                            <th class="pointer" (click)="changesort('CreatedDate')">Creation Date&nbsp; 
                                                <i class="fa"
                                                [ngClass]="selectedCls('CreatedDate')"></i></th>
                                            <th class="pointer" (click)="changesort('CreatedBy')">Created By&nbsp; 
                                                <i class="fa" 
                                                [ngClass]="selectedCls('CreatedBy')"></i></th>
                                          
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="document.length == 0">
                                            <td colspan="12" class="text-center"> No Records Found</td>
                                        </tr>
                                        <tr *ngFor="let documents of document">
                                            <td scope="row">{{documents?.DocumentName}}</td>
                                            <td>{{documents?.DocumentSubtype === null ? 'None' : documents?.DocumentSubtype }} </td>
                                            <td>{{documents?.CreatedDate | date: 'MM/dd/yyyy'}}</td>
                                            <td>{{documents?.CreatedBy}}</td>
                                            <td>
                                                <em class="mdi mdi-file-download-outline pointer theme-primary-icon-color md-doc m-r-2 font-size-1-1"
                                                    pTooltip="Download" tooltipPosition="bottom"
                                                    (click)="downloadPDF(documents)"></em>
                                                <em class="mdi mdi-close-circle pointer theme-optional-icon-color md-close font-size-1-1"
                                                    pTooltip="Delete" tooltipPosition="bottom"
                                                    (click)="delete(documents.DocumentId)"></em>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="loadingDiv" *ngIf="isLoading">
                                    <em class="fa fa-spin fa-spinner" style="font-size:50px;"></em><br />
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog styleClass="MyDialog" header="Create Terms & Conditions" [(visible)]="showDialog" [blockScroll]="true"
    [modal]="true" [responsive]="true" [focusOnShow]="false" [closable]="false">
    <app-create-edit-terms-and-conditions *ngIf="showDialog" [documentTypeId]="documentTypeId"
        (closeDialog)="closePopupEmit($event)">
    </app-create-edit-terms-and-conditions>
</p-dialog>