<div class="modal-body">
    <form [formGroup]="serviceSetupForm">
        <div class="form-row">
            <div class="form-group col-lg-3">
                <label for="inputServiceType">Service Type</label>
                <select class="form-control" formControlName="serviceType"
                    [ngClass]="{ 'is-invalid': submitted && f.serviceType.errors }">
                    <option value="" selected hidden>Choose </option>
                    <option *ngFor="let serviceType of serviceType" value="{{serviceType.id}}">
                        {{serviceType.CodeValue}}</option>
                </select>
                <div *ngIf="submitted && f.serviceType.errors" class="invalid-feedback">
                    <div *ngIf="f.serviceType.errors.required">Service Type is required</div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Name"
                    [ngClass]="{ 'is-invalid': submitted  && f.name.errors }">
                <div *ngIf="submitted  && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <label for="inputCost">Cost</label>
                <input numbersOnly type="text" class="form-control" formControlName="cost" placeholder="Cost"
                    [ngClass]="{ 'is-invalid': submitted  && f.cost.errors }">
                <div *ngIf="submitted  && f.cost.errors" class="invalid-feedback">
                    <div *ngIf="f.cost.errors.required">Cost is required</div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <label></label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="commission"
                        (change)="change($event.target.checked)">
                    <label class="form-check-label" for="gridCheck">Commission</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-3">
                <label for="inputUpcharge">Upcharge</label>
                <input type="text" class="form-control" formControlName="upcharge" placeholder="Upcharge">
            </div>
            <div class="form-group col-lg-3">
                <label for="inputParentType">Parent Name</label>
                <select class="form-control" formControlName="parentName">
                    <option value="" selected hidden>Choose </option>
                    <option *ngFor="let parent of parent" value="{{parent.ServiceId}}">{{parent.ServiceName}}</option>
                </select>
            </div>
            <div class="form-group col-lg-3">
                <label for="inputStatus">Status</label>
                <select class="form-control" formControlName="status">
                    <option value="" selected hidden>Choose </option>
                    <option *ngFor="let status of Status">{{status}}</option>
                </select>
            </div>
            <div class="form-group col-lg-3" *ngIf="isChecked === true">
                <label for="inputCommissionType">Commission Type</label>
                <select class="form-control" formControlName="commissionType" (change)="getCtype($event.target.value)"
                    [ngClass]="{ 'is-invalid': submitted  && f.commissionType.errors }">
                    <option value="" selected hidden>Choose </option>
                    <option *ngFor="let commissionType of CommissionType" value="{{commissionType.CodeId}}">
                        {{commissionType.CodeValue}}</option>
                </select>
                <div *ngIf="submitted  && f.commissionType.errors" class="invalid-feedback">
                    <div *ngIf="f.commissionType.errors.required">Commision Type is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-3" *ngIf="ctypeLabel !== 'none' && isChecked === true">
                <label for="inputUpcharge">{{ctypeLabel}}</label>
                <input type="text" class="form-control" formControlName="fee" placeholder="{{ctypeLabel}}" numbersOnly
                    [ngClass]="{ 'is-invalid': submitted && f.fee.errors }">
                <div *ngIf="submitted && f.fee.errors" class="invalid-feedback">
                    <div *ngIf="f.fee.errors.required">{{ctypeLabel}} is required</div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn theme-optional-button-color" (click)="cancel()">Cancel</button>
    <button type="button" class="btn theme-primary-button-color" (click)="submit()">Save</button>
</div>