<div id="page-content">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Time Clock Maintenance</li>
                </ol>
            </nav>
            <div class="border-bottom  col-12 p-b-10 m-b-15 p-l-0">
                <h3 class="d-inline-block">Time Clock Maintenance</h3>
            </div>
            <div class="col-lg-12 p-l-0 p-r-0">
                <div class="row no-gutter">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="p-b-10 m-b-15">
                                    <h4 class="d-inline-block align-middle">Time clock - Samuel Sauer </h4>
                                    <div class="pull-right card-widgets"> <a data-toggle="collapse"
                                            href="#Timeliclocklist" role="button" aria-expanded="false"
                                            aria-controls="Timeliclocklist"><i
                                                class="theme-font-color font-size-1-5 mdi mdi-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div id="Timeliclocklist" class="collapse show">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Day</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">In</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Out</th>
                                                    <th scope="col">In</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Out</th>
                                                    <th scope="col">In</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Out</th>
                                                    <th scope="col">In</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Out</th>
                                                    <th scope="col">Tot. Hrs</th>
                                                    <th scope="col">Bonus Hrs</th>
                                                    <th scope="col">Total Payment</th>
                                                    <th scope="col">Bonus</th>
                                                    <th scope="col">No. of Details</th>
                                                    <th scope="col">Details</th>
                                                    <th scope="col">Collisions</th>
                                                    <th scope="col">Grand Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Sunday</th>
                                                    <td>8/16/2020</td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" value="Washer"
                                                            class="form-control rounded-0 input-table  inpt-tbl"></td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="1.00 PM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" Value="Detailer"
                                                            class="form-control rounded-0 input-table  inpt-tbl"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="1.00 PM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" value="Greeter"
                                                            class="form-control rounded-0 input-table  inpt-tbl"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="1.00 PM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="1.00 PM"> </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Monday</th>
                                                    <td> 8/17/2020</td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="2.00 PM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="2.00 PM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="2.00 PM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="2.00 PM"> </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Tuesday</th>
                                                    <td>8/18/2020</td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="3.00 PM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="3.00 PM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="3.00 PM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="3.00 PM"> </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Wednesday</th>
                                                    <td>08/19/2020</td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Thursday</th>
                                                    <td>08/20/2020</td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Friday</th>
                                                    <td>08/21/2020</td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Saturday</th>
                                                    <td>08/22/2020</td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>

                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control rounded-0 input-table inpt-tbl"
                                                            placeholder="10.00 AM"> </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rounded-0 input-table">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="mw-100">
                                        <div class="pull-right">
                                            <button type="button"
                                                class="btn theme-optional-button-color">Cancel</button>
                                            <button type="button" class="btn theme-primary-button-color">Save</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card-->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deletewashModal" tabindex="-1" role="dialog" aria-labelledby="deletewashModal"
            aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Washes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                                aria-hidden="true">&times;</span> </button>
                    </div>
                    <div class="modal-body">
                        <!--modal body-->
                        <p>Are you sure you want to delete the ticket?. All related information will be deleted and the
                            ticket cannot be retrieved?</p>
                    </div>
                    <!--modal body-->
                    <div class="modal-footer">
                        <button type="button" class="btn theme-optional-button-color"
                            data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn theme-primary-button-color">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>