<div id="page-content">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">Wash</li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active" aria-current="page">New Wash</li>
                    <li *ngIf="isEdit && !isView" class="breadcrumb-item active" aria-current="page">Edit Wash</li>
                    <li *ngIf="isEdit && isView" class="breadcrumb-item active" aria-current="page">View Wash</li>
                </ol>
            </nav>
            <div class="border-bottom  col-12 p-b-10 m-b-15 p-l-0">
                <h3 *ngIf="!isEdit" class="d-inline-block">New Wash</h3>
                <h3 *ngIf="isEdit && !isView" class="d-inline-block">Edit Wash</h3>
                <h3 *ngIf="isEdit && isView" class="d-inline-block">View Wash</h3>
            </div>
            <div class="col-lg-12 p-l-0 p-r-0">
                <div class="card">
                    <div class="card-body">
                        <div class="title-border p-b-5 m-b-5 line-height">
                            <h5 class="d-inline-block font-weight-600">Ticket No <span
                                    class="theme-secondary-color"></span></h5>
                            <div class="pull-right card-widgets">
                                <span>Time In: {{timeIn}} |</span>
                                <span>Est.Time Out: {{timeOut}} |</span>
                                <span>Est.Min: {{minutes}} min</span>
                            </div>
                        </div>
                        <div id="Washviewedit" class="collapse show">
                            <form [formGroup]="washForm">
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <label for="inputBarcode">barcode</label>
                                        <input type="text" maxlength="100" class="form-control" formControlName="barcode"
                                            placeholder="BarCode">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label for="inputClient">Client</label>
                                        <input type="text" maxlength="50" class="form-control" formControlName="client"
                                            placeholder="Client">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label for="inputVehicle">Vehicle</label>
                                        <input type="text" maxlength="50" class="form-control" formControlName="vehicle"
                                            placeholder="Vehicle">
                                    </div>&nbsp;
                                    <div class="form-group">
                                        <label></label>
                                        <div>
                                            <button type="button"
                                                class="btn theme-primary-button-color">Select</button>&nbsp;
                                            <button type="button" class="btn theme-primary-button-color">Add
                                                Client</button>&nbsp;
                                            <button type="button" class="btn theme-primary-button-color">Add
                                                Vehicle</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <label for="inputType">Type</label>
                                        <input type="text" maxlength="100" class="form-control" formControlName="type"
                                            placeholder="Type">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label for="inputModel">Model</label>
                                        <input type="text" maxlength="50" class="form-control" formControlName="model"
                                            placeholder="Model">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label for="inputColor">Color</label>
                                        <input type="text" maxlength="50" class="form-control" formControlName="color"
                                            placeholder="Color">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label for="inputWashes">Washes</label>
                                        <input type="text" maxlength="100" class="form-control" formControlName="washes"
                                            placeholder="Washes">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <label for="inputUpchargeType">Upcharge Type</label>
                                        <input type="text" maxlength="100" class="form-control" formControlName="upchargeType"
                                            placeholder="Upcharge Type">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label for="inputUpcharges">Upcharges</label>
                                        <input type="text" maxlength="50" class="form-control" formControlName="upcharges"
                                            placeholder="Upcharges">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label for="inputAirFreshners">Air Freshners</label>
                                        <input type="text" maxlength="50" class="form-control" formControlName="airFreshners"
                                            placeholder="Air Freshners">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="inputNotes">Notes</label>
                                            <textarea rows="1" class="form-control m-t-5 notes-textarea"
                                                placeholder="Notes" formControlName="notes"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="inputPastNotes">View Past Client Notes</label>
                                            <textarea rows="1" class="form-control m-t-5 notes-textarea"
                                                placeholder="Past Client Notes" formControlName="pastNotes"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="title-border p-b-5 m-b-5 line-height">
                                <h5 class="d-inline-block font-weight-600">Additional Service <span
                                        class="theme-secondary-color"></span></h5>
                            </div>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Clean Inside Rims</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Shampoo Floormat</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Shampoo Carpets</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Shampoo Seat</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Shampoo Spot</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Clean Leather Seats</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Clean Door Panel</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Dog Hair</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Cond.Leather Seats</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Condition Dash</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Condition Door(per)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Excessive Mud</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Silicone Ext Rubber</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Detail Add-Ons</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Clean Engine</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Ultra Clrcoat
                                                protect</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">No Silicone</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">No Brush/No Sapillo</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Wash Mitts</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Rain X Protection</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Clean Trunk Bed</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Bid Older Remover</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Sticker Removal(per)</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Ozone Treatment</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Headliner Cleaned</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Fabric Sealer</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Vaccum Trunk</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Headlamp Restoration</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Daily Duties</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Prep Vehicles</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="gridCheck">Photo of Vehicle</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="m-t-12">
                    <span class="mw-100" *ngIf="isEdit">
                        <button type="button" class="btn theme-primary-button-color">Pay</button>&nbsp;
                        <button type="button" class="btn theme-primary-button-color">Print</button>
                    </span>
                    <span class="mw-100 pull-right">
                        <button type="button" class="btn theme-optional-button-color"
                            (click)="cancel()">Cancel</button>&nbsp;
                        <button *ngIf="!isView" type="button" class="btn theme-primary-button-color">Save</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>