<div id="page-content">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <ol class="breadcrumb font-size-1">
                    <li class="breadcrumb-item" (click) = "landing()">Home</li>
                    <li class="breadcrumb-item"><a (click)="cancel()">Washes</a></li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active" aria-current="page">New Wash</li>
                    <li *ngIf="isEdit && !isView" class="breadcrumb-item active" aria-current="page">Edit Wash</li>
                    <li *ngIf="isEdit && isView" class="breadcrumb-item active" aria-current="page">View Wash</li>
                </ol>
            </nav>
            <div class="col-lg-12 p-l-0 p-r-0">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="washForm">
                            <div class="form-row border-bottom m-b-8">
                                <div class="form-group col-xl-3">
                                    <h5 class="d-inline-block font-weight-600">Ticket No. <span
                                            style="color: #1dc5b3;">{{ticketNumber}}</span></h5> <span
                                        class="font-size-1 font-weight-600"></span>
                                </div>
                                <div class="form-group col-xl-9">
                                    <div class="pull-right">
                                        <p class="theme-font-color border-right m-r-10 p-r-10 d-inline-block"><strong>Time In:</strong>
                                            {{ timeInDate | date:'MM-dd-yyyy, HH:mm'}}</p>
                                        <p class="theme-font-color border-right m-r-10 p-r-10 d-inline-block"><strong>Est. Time:</strong>
                                            {{ timeOutDate | date:'MM-dd-yyyy, HH:mm' }}</p>
                                        <p class="theme-font-color m-r-10 p-r-10 d-inline-block"><strong>Est. Min:</strong>
                                            {{washTime}}min</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg-2 col-md-2 col-xl-3">
                                    <label for="inputBarcode">Barcode</label>
                                    <input type="text" maxlength="100" class="form-control" formControlName="barcode"
                                        placeholder="Barcode" (keyup)="$event.keyCode == 13 ? getByBarcode($event.target.value) : null">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputClient">Client<span class="required">*</span></label>
                                    <div class="ui-fluid">
                                        <div class="p-grid forms-grid">
                                            <div class="p-col-3 p-md-6">
                                                <p-autoComplete field="name" [suggestions]="clientList"
                                                [ngClass]="{ 'is-invalid': submitted && f.client.errors }"
                                                    (completeMethod)="filterClient($event)" [size]="10"
                                                    formControlName="client" placeholder="Client Name"
                                                    (onSelect)="selectedClient($event)" (onKeyUp)="onKeyUp($event)">
                                                </p-autoComplete>
                                                <div *ngIf="submitted && f.client.errors">
                                                    <div *ngIf="f.client.errors.required" style="color: #dc3545;font-size: 80%;margin-top: .25rem;">Client Name is required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputVehicle">Vehicle<span class="required">*</span></label>
                                    <select class="form-control" formControlName="vehicle"
                                        (change)="vehicleChange($event.target.value)"
                                        [ngClass]="{ 'is-invalid': submitted && f.vehicle.errors }">
                                        <option hidden selected value="">Choose</option>
                                        <option *ngFor="let score of vehicle" value="{{score.VehicleId}}">
                                            {{score.VehicleMfr}}, {{score.VehicleModel}}, {{score.VehicleColor}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.vehicle.errors" class="invalid-feedback">
                                        <div *ngIf="f.vehicle.errors.required">Vehicle is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-xl-3 m-t-31 p-l-0 p-r-0">
                                    <div class="pull-right">
                                        <button type="button" class="btn theme-primary-button-color btn-responsive"
                                            (click)="getByBarcode(washForm.value.barcode)"
                                            [disabled]="isView">Select</button>&nbsp;
                                        <button type="button" class="btn theme-primary-button-color btn-responsive"
                                            (click)="addClient()" [disabled]="isView">Add Client</button>&nbsp;
                                        <button type="button" class="btn theme-primary-button-color btn-responsive"
                                            (click)="addVehicle()" [disabled]="isView || clientId === undefined">Add
                                            Vehicle</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputType">Make</label>

                                    <div class="ui-fluid">
                                        <div class="p-grid forms-grid">
                                            <div class="p-col-3 p-md-6">
                                                <p-autoComplete field="name" [suggestions]="filteredMake" 
                                                    (onBlur)="checkValue('make')" (completeMethod)="filterMake($event)"
                                                    (onSelect)="selectedModel($event)"   [size]="10" formControlName="type" placeholder="Make">
                                                </p-autoComplete>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputModel">Model</label>
                                    <div class="ui-fluid">
                                        <div class="p-grid forms-grid">
                                            <div class="p-col-3 p-md-6">
                                                <p-autoComplete field="name" [suggestions]="filteredModel"
                                                    (onBlur)="checkValue('model')" (onSelect)="getUpcharge();"
                                                    (completeMethod)="filterModel($event)" [size]="10"
                                                    formControlName="model" placeholder="Model">
                                                </p-autoComplete>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputColor">Color</label>
                                    <div class="ui-fluid">
                                        <div class="p-grid forms-grid">
                                            <div class="p-col-3 p-md-6">
                                                <p-autoComplete field="name" [suggestions]="filteredcolor"
                                                    (onBlur)="checkValue('color')"
                                                    (completeMethod)="filterColor($event)" [size]="10"
                                                    formControlName="color" placeholder="Color">
                                                </p-autoComplete>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputWashes">Washes<span class="required">*</span></label>
                                    <select class="form-control" formControlName="washes"
                                        (change)="washService($event.target.value)"
                                        [ngClass]="{ 'is-invalid': submitted && f.washes.errors }">
                                        <option hidden selected value="">Choose</option>
                                        <option *ngFor="let score of washes" value="{{score.ServiceId}}">
                                            {{score.ServiceName}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.washes.errors" class="invalid-feedback">
                                        <div *ngIf="f.washes.errors.required">Washes is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputUpchargeType">Upcharge Type</label>
                                    <select class="form-control" formControlName="upchargeType"
                                        (change)="upchargeService($event.target.value);">
                                        <option hidden selected value="">None</option>
                                        <option *ngFor="let score of UpchargeType" value="{{score.ServiceId}}">
                                            {{score.ServiceName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputUpcharges">Upcharges</label>
                                    <select class="form-control" formControlName="upcharges"
                                        (change)="upchargeService($event.target.value)">
                                        <option hidden selected value="">None</option>
                                        <option *ngFor="let score of upcharges" value="{{score.ServiceId}}">
                                            {{score.Upcharges}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputAirFreshners">Air Freshners</label>
                                    <select class="form-control" formControlName="airFreshners"
                                        (change)="airService($event.target.value)">
                                        <option hidden selected value="">Choose</option>
                                        <option *ngFor="let score of airFreshner" value="{{score.ServiceId}}">
                                            {{score.ServiceName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="inputNotes">Notes</label>
                                        <textarea rows="4" class="form-control m-t-5 notes-textarea" placeholder="Notes"
                                            formControlName="notes"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="inputPastNotes">View Past Client Notes</label>
                                        <textarea rows="4" class="form-control m-t-5 notes-textarea"
                                            placeholder="Past Client Notes" formControlName="pastNotes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="title-border p-b-5 m-b-5">
                            <h5 class="d-inline-block font-weight-600">Additional Service </h5>
                        </div>
                        <div class="row">
                            <div class="col-md-3" *ngFor="let addService of additional">
                                <div class="custom-control custom-checkbox m-t-10">
                                    <input type="checkbox" class="custom-control-input" id="{{addService.ServiceId}}"
                                        (change)="change(addService)" [disabled]="isView"
                                        [checked]="addService.IsChecked" />
                                    <label class="custom-control-label"
                                        for="{{addService.ServiceId}}">{{addService.ServiceName |titlecase}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20 mw-100">
                            <span *ngIf="isEdit">
                                <button type="button"  (click)="pay()"  [ngClass]="paidLabel  === 'Paid' ? 'btn btn-success disabled' : 'btn theme-primary-button-color '"> 
                                   {{paidLabel}}</button>
                                 
                              &nbsp;
                                <button type="button" class="btn theme-primary-button-color"
                                    (click)="print()">Print</button>
                            </span>
                            <span class="pull-right">
                                <button type="button" class="btn theme-optional-button-color"
                                    (click)="cancel()">Cancel</button>&nbsp;
                                <button *ngIf="!isView" type="button" class="btn theme-primary-button-color"
                                    (click)="submit()">Save</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="{{headerData}}" [(visible)]="showClientDialog" [blockScroll]="true" [modal]="true"
    [focusOnShow]="false" [closable]="false">
    <app-client-form *ngIf="showClientDialog" [selectedData]="[]" [isEdit]="false" [isView]="false"></app-client-form>
    <p-footer>
        <button type="button" class="btn theme-optional-button-color"
            (click)="closePopupEmitClient()">Cancel</button>&nbsp;
        <button type="button" class="btn theme-primary-button-color" (click)="saveClient()">Save</button>
    </p-footer>
</p-dialog>

<p-dialog header="{{headerData}}" [(visible)]="showVehicleDialog" [blockScroll]="true" [modal]="true"
    [focusOnShow]="false" [closable]="false">
    <app-vehicle-create-edit *ngIf="showVehicleDialog" [selectedData]="[]" [isEdit]="false" [isView]="false"
        [clientId]="clientId" [isAdd]="true" [vehicleNumber]="vehicleNumber"
        (closeDialog)="closePopupEmitVehicle($event)">
    </app-vehicle-create-edit>
</p-dialog>

<div [hidden]="true">
    <app-print-wash *ngIf="isEdit" [module]="'wash'" [selectedData]="selectedData"></app-print-wash>
</div>