<form [formGroup]="assignForm">
    <div class="form-row  m-b-8">
        <div class="form-group col-md-3">
            <label for="inputVehicle">Service</label>

            <ng-multiselect-dropdown [placeholder]="'Select Service'" [settings]="dropdownSettings"
                [data]="clonedServices" formControlName="serviceId" (onSelect)="onItemSelect($event)" [disabled]= "isView">
            </ng-multiselect-dropdown>
        </div>
        <div class="form-group col-md-3">
            <label for="inputVehicle">Employee</label>
           
            <ng-multiselect-dropdown [placeholder]="'Select Employee'" [settings]="dropdownSettings"
                [data]="employeeList" formControlName="employeeId" [disabled]="isView">
            </ng-multiselect-dropdown>
           
        </div>
        <div class="form-group col-lg-4 col-md-4 col-xl-3 m-t-31 p-l-0 p-r-0">
            <div class="pull-right">
                <button type="button" class="btn btn-sm theme-primary-button-color btn-responsive m-l-5"
                    (click)="assignService()"
                    [disabled]="assignForm.value.employeeId === '' ||  assignForm.value.serviceId === ''">Assign</button>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                Service
                            </th>
                            <th scope="col">
                                Price
                            </th>
                            <th scope="col">
                                Employee Name
                            </th>
                            <th scope="col">Commission Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detail of detailService | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <td>
                                {{detail.ServiceName}}
                            </td>
                            <td>{{detail.Cost | currency }}
                            </td>
                            <td>{{detail.EmployeeName}}
                            </td>
                            <td>{{detail.CommissionAmount | currency}}
                            </td>
                            <td>
                                <em class="fa fa-times-circle delete-list theme-optional-icon-color" style="color:red"
                                    (click)="delete(detail)"></em>
                            </td>
                        </tr>
                        <tr *ngIf="detailService.length === 0">
                            <td colspan="4" class="text-center">
                                No Records Found
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination *ngIf="detailService.length > 0" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="3" [rotate]="true"
                    [ellipses]="false" [boundaryLinks]="true" class="d-flex justify-content-end">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
<div class="m-t-12">
    <span class="mw-100 pull-right">
        <button type="button" class="btn theme-primary-button-color m-r-5" (click)="saveAssignedService()"
            [disabled]="detailService.length === 0 || isView">Save</button>
        <button type="button" class="btn theme-optional-button-color" (click)="closeModel()">Cancel</button>
    </span>
</div>