<div id="page-content">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <ol class="breadcrumb font-size-1">
                    <li class="breadcrumb-item" appNavigatePage>Admin</li>
                    <li class="breadcrumb-item active" aria-current="page">Gift Cards</li>
                </ol>
            </nav>
            <div class="col-12 p-l-0 p-r-0">
                <div class="card  m-b-10">
                    <div class="card-body">
                        <tabset #staticTabs>
                            <tab heading="Gift Card List" id="tab1" (selectTab)="cancelActvity()">
                                <div class="row no-gutter">
                                    <div class="col-lg-12">
                                        <div class="card m-t-10 m-b-10">
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="p-b-15">
                                                        <div class="search-container pull-right">
                                                            <form>
                                                                <div class="form-row">
                                                                    <div class="form-group d-flex"> <input type="search"
                                                                            class="form-control" [(ngModel)]="search"
                                                                            size="40" name="search" id="inputSearch"
                                                                            placeholder="Search"
                                                                            (ngModelChange)="this.searchUpdate.next($event)">
                                                                    </div>
                                                                    <div class="form-group col-sm m-l-5">
                                                                        <button type="button"
                                                                            class="btn theme-primary-button-color btn-sm m-l-10"
                                                                            (click)="searchGift()">Search</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="table border table-responsive-xl table-striped"
                                                    aria-describedby="giftCard-history">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" class="pointer"
                                                                (click)="changeSorting('GiftCardCode')">Gift Card
                                                                No.&nbsp;<i class="fa"
                                                                    [ngClass]="selectedCls('GiftCardCode')"
                                                                    aria-hidden="true"></i></th>
                                                            <th scope="col" class="pointer"
                                                                (click)="changeSorting('TotalAmount')">Amount&nbsp;<i
                                                                    class="fa" [ngClass]="selectedCls('TotalAmount')"
                                                                    aria-hidden="true"></i></th>
                                                            <th scope="col" class="pointer"
                                                                (click)="changeSorting('ActivatedDate')">Activated
                                                                Date&nbsp;<i class="fa"
                                                                    [ngClass]="selectedCls('ActivatedDate')"
                                                                    aria-hidden="true"></i></th>
                                                            <th scope="col" class="pointer"
                                                                (click)="changeSorting('FirstName')">Customer Name&nbsp;<i
                                                                    class="fa" [ngClass]="selectedCls('FirstName')"
                                                                    aria-hidden="true"></i></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="giftCardList.length > 0">
                                                        <tr *ngFor="let card of giftCardList">
                                                            <td class="text-underline theme-primary-color font-size--9"
                                                                style="cursor: pointer;"
                                                                (click)="getGiftCardDetail(card)">{{card.GiftCardCode}}
                                                            </td>
                                                            <td>{{card.TotalAmount | currency}}</td>
                                                            <td>{{card.ActivationDate | date: 'MM/dd/yyyy'}}</td>
                                                            <td>{{card.FirstName +" "+ card.LastName}} </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody *ngIf="giftCardList.length === 0">
                                                        <tr>
                                                            <td colspan="5" class="text-center">
                                                                No gift cards available
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="row pull-right">
                                                    <div class="col-6">
                                                        <ngb-pagination *ngIf="giftCardList.length > 0"
                                                            [collectionSize]="collectionSize"
                                                            (pageChange)="paginate($event)" [(page)]="page"
                                                            [maxSize]="3" [rotate]="true" [ellipses]="false"
                                                            [boundaryLinks]="true" class="d-flex justify-content-end">
                                                        </ngb-pagination>
                                                    </div>
                                                    <select *ngIf="giftCardList.length > 0" class="form-control col-4"
                                                        name="paginate" [(ngModel)]="pageSize"
                                                        (change)="paginatedropdown($event)">
                                                        <option *ngFor="let size of pageSizeList" value="{{size}}">
                                                            {{size}}</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Add New Gift Card">
                                <div class="card m-t-10 m-b-10">
                                    <div class="card-body">
                                        <div class="row title-border p-b-10 m-b-15">
                                            <div class="col-12">
                                                <h6 class="d-inline-block font-weight-600">Gift Card Balance
                                                </h6>
                                                <div class="pull-right m-t-4 pointer">
                                                    <button type="button"
                                                        class="btn theme-primary-button-color btn-md m-l-10"
                                                        (click)="addGiftCard()">Add Gift Card</button>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div [style.display]="isGiftCardCollapsed ? 'none' : 'block'">
                                            <form [formGroup]="giftCardForm">
                                                <div class="form-row">
                                                    <div class="col-sm-4">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-row">
                                                            <div class="col-sm-4">
                                                                <label class="float-right">Number:</label>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <input type="text" class="form-control"
                                                                    formControlName="number" />
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <button type="button" [disabled]="giftCardForm.invalid"
                                                                    class="btn theme-primary-button-color btn-md m-l-10"
                                                                    (click)="getGiftCardHistoryByTicketNumer()">Select
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <br />
                                            <div class="form-row">
                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-row">
                                                        <div class="col-sm-4">
                                                            <label class="float-right">Active Date:</label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <span><strong>{{(activeDate !== 'none') ? activeDate :
                                                                    'None'}}</strong></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-row">
                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-row">
                                                        <div class="col-sm-4">
                                                            <label class="float-right">Value:</label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <span><strong>{{totalAmount | currency}}</strong></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card m-t-10 m-b-10">
                                    <div class="card-body">
                                        <div class="row title-border p-b-10 m-b-15">
                                            <div class="col-12">
                                                <h6 class="d-inline-block font-weight-600">Gift Card Activity
                                                </h6>
                                                <div class="pull-right m-t-4 pointer">
                                                    <button type="button" *ngIf="isActivity"
                                                        class="btn theme-primary-button-color btn-md m-l-10"
                                                        (click)="addActivity()">Add Activity</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div [style.display]="isActivityCollapsed ? 'none' : 'block'">
                                            <div class="row">
                                                <div class="col-12 p-l-0 p-r-0">
                                                    <div class="table-responsive">
                                                        <table class="table border table-hover headerfix"
                                                            aria-describedby="giftCard-history">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Date</th>
                                                                    <th scope="col">Status</th>
                                                                    <th scope="col">Ticket # </th>
                                                                    <th scope="col">Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody *ngIf="giftCardHistory.length > 0" class="bodyfix">
                                                                <tr *ngFor="let card of giftCardHistory">
                                                                    <td>{{card.TransactionDate | date: 'MM/dd/yyyy'}}
                                                                    </td>
                                                                    <td>{{card.Status ? 'Active' : 'InActive'}}</td>
                                                                    <td>{{card.TicketNumber}}</td>
                                                                    <td>{{card.TransactionAmount | currency}}</td>
                                                                </tr>
                                                            </tbody>
                                                            <tbody *ngIf="giftCardHistory.length === 0">
                                                                <tr>
                                                                    <td colspan="5" class="text-center">
                                                                        No activity available
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
