<div class="modal-body">
    <form [formGroup]="clientForm">
        <div class="card">
            <div class="card-body">
                <div class="title-border p-b-5 m-b-5">
                    Client No.
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <label for="inputFirstName">First Name</label>
                        <input type="text" maxlength="100" class="form-control" formControlName="fName"
                            placeholder="First Name">
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="inputLastName">Last Name</label>
                        <input type="text" maxlength="50" class="form-control" formControlName="lName"
                            placeholder="Last Name">
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="inputAddress">Address</label>
                        <input type="text" maxlength="50" class="form-control" formControlName="address"
                            placeholder="Address">
                    </div>
                    <div class="form-group col-lg-3">
                        <label></label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="creditAccount"
                                (change)="change($event.target.checked)">
                            <label class="form-check-label" for="gridCheck">Credit Account</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-9 one-space">
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                <label for="inputPhoneNumber1">Phone 1</label>
                                <input numbersOnly type="text" class="form-control" formControlName="phone1"
                                    placeholder="(XXX) XXX-XXXX">
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="inputPhoneNumber2">Phone 2</label>
                                <input numbersOnly type="text" class="form-control" formControlName="phone2"
                                    placeholder="(XXX) XXX-XXXX">
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="inputScore">Score</label>
                                <select class="form-control" formControlName="score">
                                    <option hidden selected value="">Choose</option>
                                    <option *ngFor="let status of Score" value="{{status.id}}">{{status.Value}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                <label for="inputEmail">Email</label>
                                <input type="email" maxlength="50" class="form-control" formControlName="email"
                                    placeholder="Email">
                            </div>
                            <div class="form-group col-lg-4">
                                <label></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="noEmail"
                                        (change)="changeEmail($event.target.checked)">
                                    <label class="form-check-label" for="gridCheck">No Email</label>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="inputStatus">Status</label>
                                <select class="form-control" formControlName="status">
                                    <option *ngFor="let status of Status" value="{{status.id}}">{{status.Value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" formControlName="city" placeholder="City">
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="inputState">State</label>
                                <app-state-dropdown [selectedStateId]="selectedStateId"
                                    (stateId)="getSelectedStateId($event)" [isView]="isView">
                                </app-state-dropdown>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="inputZipcode">ZipCode</label>
                                <input numbersOnly type="text" maxlength="5" class="form-control" placeholder="Zip"
                                    formControlName="zipcode">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 one-space">
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <label for="inputNotes">Notes</label>
                                <textarea style="height: 150px;" maxlength="100" class="form-control textarea"
                                    formControlName="notes" placeholder="Notes"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 one-space">
                        <div class="tab-content">
                            <div class="title-border p-b-15 m-b-15">
                                <h5 class="d-inline-block">Vehicle List</h5>&nbsp;
                                <button type="button"
                                    class="btn theme-primary-button-color btn-md float-right" (click)="add()">New</button>
                            </div>
                            <div class="setup-wrapper">
                                <div class="setup-content" *ngIf="isTableEmpty === true"> <span
                                        class="col-12 row d-block">No Vehicles Found</span></div>
                                <div class="setup-content" id="open-collapse" *ngIf="isTableEmpty === false">
                                    <p-table [value]="vehicleDetails"
                                        class="table table-responsive-xl table-striped table-hover">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th scope="col">Acc</th>
                                                <th scope="col">#</th>
                                                <th scope="col">UPC</th>
                                                <th scope="col">Tag</th>
                                                <th scope="col">Color</th>
                                                <th scope="col">Make</th>
                                                <th scope="col">Model</th>
                                                <th scope="col">Upcharge</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-vehicle>
                                            <tr>
                                                <td>{{vehicle.ClientVehicle[0].Barcode}}</td>
                                                <td>{{vehicle.ClientVehicle[0].VehicleNumber}}</td>
                                                <td>{{vehicle.ClientVehicle[0].VehicleModelNo}}</td>
                                                <td>{{vehicle.ClientVehicle[0].Notes}}</td>
                                                <td>{{vehicle.ClientVehicle[0].VehicleColor}}</td>
                                                <td>{{vehicle.ClientVehicle[0].VehicleMake}}</td>
                                                <td>{{vehicle.ClientVehicle[0].VehicleModel}}</td>
                                                <td>{{vehicle.ClientVehicle[0].Upcharge}}</td>
                                                <td>
                                                    <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                        style="color:red" pTooltip="delete"
                                                        tooltipPosition="bottom"></em>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                                <p-dialog styleClass="MyDialog" header="{{headerData}}" [(visible)]="showVehicleDialog"
                                    [blockScroll]="true" [modal]="true" [focusOnShow]="false" [closable]="false">
                                    <app-vehicle-create-edit *ngIf="showVehicleDialog" [selectedData]="[]"
                                        (closeDialog)="closePopupEmit($event)">
                                    </app-vehicle-create-edit>
                                </p-dialog>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 one-space">
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <label for="inputRecNotes">Check Out Note</label>
                                <textarea style="height: 150px;" maxlength="100" class="form-control textarea"
                                    formControlName="checkOut" placeholder="Check Out Note"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer foot">
    <button type="button" class="btn theme-optional-button-color" (click)="cancel()">Cancel</button>
    <button *ngIf="!isView" type="button" class="btn theme-primary-button-color" (click)="submit()">Save</button>
</div>