<div id="page-content">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <ol class="breadcrumb font-size-1">
                    <li class="breadcrumb-item">Admin</li>
                    <li class="breadcrumb-item"><a (click)="cancel()">Client</a></li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active" aria-current="page">New Client</li>
                    <li *ngIf="isEdit && !isView" class="breadcrumb-item active" aria-current="page">Edit Client</li>
                    <li *ngIf="isEdit && isView" class="breadcrumb-item active" aria-current="page">View Client</li>
                </ol>
            </nav>
            <div class="col-lg-12 p-l-0 p-r-0">
                <div class="card">
                    <div class="card-body">
                        <div class="title-border p-b-5 m-b-5 line-height">
                            <h5 class="d-inline-block font-weight-600">Client Details<span class="theme-secondary-color"></span>
                            </h5>
                            <div class="pull-right card-widgets"> <a data-toggle="collapse" href="#Clientviewedit"
                                    role="button" aria-expanded="false" aria-controls="Clientviewedit"><i
                                        class="theme-font-color font-size-1-5 mdi mdi-chevron-up"></i></a>
                            </div>
                        </div>
                        <div id="Clientviewedit" class="collapse show">
                            <app-client-form [selectedData]="selectedData" [isView]="isView" [isEdit]="isEdit" (isCreditAccount)="change($event)">
                            </app-client-form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-t-10 m-b-10">
                                        <h5 class="d-inline-block font-weight-600">Vehicles</h5>&nbsp;
                                        <button type="button" class="btn theme-primary-button-color btn-md float-right"
                                            (click)="add()" [disabled]="isView">Add New Vehicle</button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table  table-striped m-t-10">
                                            <thead>
                                                <tr>
                                                    <th scope="col" (click)="changeSorting('VehicleNumber')">Vehicle No&nbsp;<i class="fa" [ngClass]="selectedCls('VehicleNumber')"
                                                        aria-hidden="true"></i></th>
                                                    <th scope="col" (click)="changeSorting('VehicleColor')">Color&nbsp;<i class="fa" [ngClass]="selectedCls('VehicleColor')"
                                                        aria-hidden="true"></i></th>
                                                    <th scope="col" (click)="changeSorting('VehicleMfr')">Make&nbsp;<i class="fa" [ngClass]="selectedCls('VehicleMfr')"
                                                        aria-hidden="true"></i></th>
                                                    <th scope="col" (click)="changeSorting('VehicleModel')">Model&nbsp;<i class="fa" [ngClass]="selectedCls('VehicleModel')"
                                                        aria-hidden="true"></i></th>
                                                    <th scope="col" (click)="changeSorting('Barcode')">Barcode&nbsp;<i class="fa" [ngClass]="selectedCls('Barcode')"
                                                        aria-hidden="true"></i></th>
                                                    <th scope="col"(click)="changeSorting('MembershipName')">Membership&nbsp;<i class="fa" [ngClass]="selectedCls('MembershipName')"
                                                        aria-hidden="true"></i></th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let vehicle of vehicleDetails | orderBy:sort.column:'sequence':sort.descending | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                                    <th scope="row">{{vehicle.VehicleNumber}}</th>
                                                    <td>{{vehicle.VehicleColor}}</td>
                                                    <td>{{vehicle.VehicleMfr }}</td>
                                                    <td>{{vehicle.VehicleModel}}</td>
                                                    <td>{{vehicle.Barcode}}</td>
                                                    <td>{{vehicle.MembershipName !== null ? vehicle.MembershipName : 'No'}}</td>
                                                    <td>
                                                        <em class="fa fa-pencil-square edit-list  m-r-10"
                                                            [ngClass]="{'theme-disabled-icon-color': !vehicle.isAddedVehicle, 'theme-secondary-icon-color': vehicle.isAddedVehicle  }"
                                                            pTooltip="Edit" tooltipPosition="bottom"
                                                            (click)="editVehicle(vehicle)"></em>
                                                        <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                            style="color:red" pTooltip="Delete"
                                                            (click)="delete(vehicle)" tooltipPosition="bottom"></em>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="vehicleDetails.length === 0">
                                                    <td colspan="7" class="text-center">No Record Found</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ngb-pagination *ngIf="collectionSize > 10" [collectionSize]="collectionSize"
                                            [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                            [boundaryLinks]="true" class="d-flex justify-content-end">
                                        </ngb-pagination>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="showActivity" class="row">
                                <div class="col-lg-12">
                                    <div class="m-t-10 m-b-10">
                                        <h5 class="d-inline-block font-weight-600">Activity</h5>&nbsp;
                                        <button type="button" class="btn theme-primary-button-color btn-md float-right"
                                            (click)="addActivity()" [disabled]="isView">Add Activity</button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table  table-striped m-t-10">
                                            <thead>
                                                <tr>
                                                    <th scope="col" >Amount&nbsp;<i class="fa" [ngClass]="selectedCls('VehicleColor')"
                                                        aria-hidden="true"></i></th>
                                                    <th scope="col" >Comments&nbsp;<i class="fa" [ngClass]="selectedCls('VehicleColor')"
                                                        aria-hidden="true"></i></th>
                                                        
                                                    <th scope="col" >Date&nbsp;<i class="fa" [ngClass]="selectedCls('VehicleMfr')"
                                                        aria-hidden="true"></i></th>
                                                   
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let activity of activityDetails | orderBy:sort.column:'CreditAccountHistoryId':sort.descending | slice: (activityPage-1) * activityPageSize : (activityPage-1) * activityPageSize + activityPageSize">
                                                    <td>{{activity.Amount }}</td>
                                                    <td>{{activity.Comments }}</td>
                                                    <td>{{activity.CreatedDate | date: 'MM/dd/yyyy'}}</td>
                                                    <td>
                                                        <em class="fa fa-pencil-square edit-list  m-r-10"
                                                            [ngClass]="{'theme-disabled-icon-color': !activity.Status, 'theme-secondary-icon-color': activity.Status  }"
                                                            pTooltip="Edit" tooltipPosition="bottom"
                                                            (click)="editActivity(activity)"></em>
                                                        <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                            style="color:red" pTooltip="Delete"
                                                            (click)="deleteActivity(activity)" tooltipPosition="bottom"></em>
                                                    </td>
                                                    
                                                </tr>
                                                <tr *ngIf="activityDetails.length === 0">
                                                    <td colspan="7" class="text-center">No Record Found</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="p-b-55">
                                            <label class="btn btn-md float-right"><label class="font-weight-600">Credit Balance Amount:</label> {{TotalAmount}}</label>
                                        </div>
                                        
                                        <ngb-pagination *ngIf="activityCollectionSize > 10" [collectionSize]="activityCollectionSize"
                                            [(page)]="activityPage" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                            [boundaryLinks]="true" class="d-flex justify-content-end">
                                        </ngb-pagination>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-12">
                                <span class="mw-100" *ngIf="isEdit">
                                    <button type="button" class="btn theme-primary-button-color"
                                        (click)="openHistory()">History</button>&nbsp;
                                    <button type="button" class="btn theme-primary-button-color"
                                        (click)="openStatement()">Statement</button>
                                 </span>
                                <span class="mw-100 pull-right">
                                    <button type="button" class="btn theme-optional-button-color"
                                        (click)="cancel()">Cancel</button>&nbsp;
                                    <button *ngIf="!isView" type="button" class="btn theme-primary-button-color"
                                        (click)="Validate()">Save</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog styleClass="MyDialog" header="{{headerData}}" [(visible)]="showVehicleDialog" [blockScroll]="true"
    [modal]="true" [focusOnShow]="false" [closable]="false">
    <app-vehicle-create-edit *ngIf="showVehicleDialog" [additionalService]="additionalService"
        [selectedData]="vehicleDetail" [clientId]="clientId" [isEdit]="isVehicleEdit" [vehicleNumber]="vehicleNumber"
        (closeDialog)="closePopupEmit($event)">
    </app-vehicle-create-edit>
</p-dialog>
