/* Side Bar Mobile View */


.slimScrollBar{
	    background: transparent !important;
    width: 0px !important;
	
}

.page-quick-sidebar-toggler {
    overflow: hidden;
    z-index: 99999;
    display: none;
    width: 28px;
    height: 27px;
    position: fixed;
    top: 5px;
    left: 138px;
    text-align: center;
    padding-top: 6px;
}
.page-quick-sidebar-toggler:hover {
    background: #303a43;
}
.page-quick-sidebar-open .page-quick-sidebar-toggler {
    display: inline-block;
}
.page-quick-sidebar-open .page-quick-sidebar-toggler:hover {
    background: 0 0;
}
.page-quick-sidebar-toggler > i {
    color: #99a8b5;
    font-size: 17px;
}
.page-quick-sidebar-toggler > i:hover {
    color: #fff !important;
}
.page-quick-sidebar-open .page-quick-sidebar-toggler > i:before {
    content: "î¦";
}
.page-quick-sidebar-wrapper {
    transition: right 0.3s;
    z-index: 9996;
    position: fixed;
    top: 0;
    bottom: 0;
   width: 182px;
   left: -182px;
    overflow: hidden;
    color: #99a8b5;
    background: #1b3b84;
}
.page-quick-sidebar-open .page-quick-sidebar-wrapper {
    transition: left 0.3s;
    left: 0;
}
.page-quick-sidebar-wrapper .page-quick-sidebar {
     background: #1b3b84;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li {
    display: table-cell !important;
    width: 1% !important;
    padding: 0;
    margin: 0;
    float: none;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li > a {
    position: relative;
    display: block;
    text-align: center;
    height: auto;
    font-size: 14px;
    padding: 45px 15px 8px;
    text-transform: uppercase;
    background: 0 0;
    margin-right: 0;
    color: #90a1af;
    border: 0;
    border-bottom: 3px solid rgba(243, 86, 93, 0.3);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: 0 !important;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li > a > .badge {
    position: absolute;
    top: 45px;
    right: 3px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li.active > a,
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li:hover > a {
    border: 0;
    border-bottom: 3px solid #f3565d;
    background: 0 0;
    color: #fff;
    text-decoration: none;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu {
    border: 0;
    background: #36424c;
    box-shadow: 5px 5px rgba(97, 117, 135, 0.1);
    margin-top: 8px;
    margin-right: 20px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 19px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #36424c;
    content: "";
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 20px;
    display: inline-block !important;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 7px solid #36424c;
    content: "";
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li > a {
    padding: 10px 15px;
    color: #99a8b5;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li > a > i {
    color: #93a3b1;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li:hover > a {
    background: #3d4a55;
    color: #99a8b5;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li:hover > a > i {
    color: #9babb8;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li.active > a {
    background: #38444f;
    color: #99a8b5;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li .dropdown-menu > li.divider {
    background-color: #3d4a55;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li.open > a.dropdown-toggle {
    border-bottom: 3px solid #f3565d;
    background: 0 0;
    text-decoration: none;
    color: #90a1af;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .tab-content {
    margin: 0;
    padding: 0;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .list-heading {
    font-size: 16px;
    margin: 10px;
    color: #6c8296;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .list-items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li {
    margin: 0;
    padding: 8px;
    background: 0 0;
	    border-bottom: 1px solid #cacad229 !important;

}
/*     border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #273037; */

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li:hover {
    background: #1DC9B7;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li:last-child {
    border-bottom: 0;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .list-items.borderless li {
    border: 0;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .inner-content {
    margin: 10px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
    position: absolute !important;
    width: 182px !important;
    transition: margin 0.3s;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
    position: absolute !important;
    width: 182px !important;
    transition: margin 0.3s;
    margin-left: 182px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item .page-quick-sidebar-nav {
    padding: 15px 10px 0;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item .page-quick-sidebar-nav .page-quick-sidebar-back-to-list {
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    color: #90a1af;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item .page-quick-sidebar-nav .page-quick-sidebar-back-to-list:hover {
    text-decoration: none;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item .page-quick-sidebar-nav .page-quick-sidebar-back-to-list > i {
    font-size: 17px;
    line-height: 17px;
    vertical-align: top;
    margin-right: 3px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
    transition: margin 0.3s;
    margin-left: -320px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list .slimScrollBar,
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list .slimScrollRail {
    display: none !important;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-item {
    transition: margin 0.3s;
    margin-left: 0;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users {
    padding: 10px 0;
    position: relative;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media {
    padding: 10px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-object {
    width: 20px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    float: left;
    margin-right: 10px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-object:after,
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-object:before {
    content: " ";
    display: table;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-object:after {
    clear: both;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media:hover {
    cursor: pointer;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media:hover .media-object {
    opacity: 1;
    filter: alpha(opacity=100);
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-body .media-heading {
    margin: 5px 0 0;
    font-size: 14px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-body .media-heading-sub {
    font-size: 11px;
    text-transform: uppercase;
    color: #657b8d;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-body .media-heading-small {
    font-size: 10px;
    color: #5d7081;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-status {
    margin-top: 10px;
    right: 10px;
    position: absolute;
    display: inline-block;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages {

    position: relative;
}

   /*  padding: 0 10px; */
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post {
    transition: display 0.3s;
    padding: 5px 0;
    margin: 10px auto;
    font-size: 13px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .body {
    color: #c3c3c3;
    display: block;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .avatar {
    width: 45.71px;
    border-radius: 50% !important;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.in .avatar {
    float: left;
    margin-right: 10px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .avatar {
    float: right;
    margin-left: 10px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .datetime,
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .name {
    font-size: 12px;
    font-weight: 300;
    color: #8496a7;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .message {
    display: block;
    padding: 5px;
    position: relative;
    color: #90a1af;
    background: #36424c;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.in .message {
    text-align: left;
    margin-left: 55px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .datetime,
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .name,
.quick-nav ul {
    text-align: right;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.in .message .arrow {
    display: block;
    position: absolute;
    top: 9px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right-width: 6px;
    border-right-style: solid;
    border-right-color: #36424c;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .message {
    margin-right: 55px;
    text-align: right;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .message .arrow {
    display: block;
    position: absolute;
    top: 9px;
    right: -6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left-width: 6px;
    border-left-style: solid;
    border-left-color: #36424c;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-form {
    padding: 20px 10px 15px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list {
    padding: 10px 0;
    position: relative;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a {
    color: #7e91a2;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a .label {
    margin-top: 5px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a .desc {
    text-decoration: underline;
    padding: 0;
    color: #788c9e;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a .date {
    color: #5d7081;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-settings .page-quick-sidebar-settings-list {
    padding: 10px 0;
    position: relative;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-settings .page-quick-sidebar-settings-list .list-items li .bootstrap-switch {
    margin-top: -3px;
    float: right;
    border: 0;
    min-width: 59px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-settings .page-quick-sidebar-settings-list .list-items li .form-control {
    width: 75px !important;
    padding: 4px !important;
    float: right;
    border: 0;
    margin-top: -4px;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-settings .page-quick-sidebar-settings-list .list-items li select.form-control {
    padding: 4px 0 !important;
}
.mobile-header {
    padding: 10px;
    font-size: 18px;
    color: white;
    font-weight: 700;
}
.sidechat-heading {
    font-family: Open Sans;
    font-style: normal;
    font-size: 14px;
    color: white;
    font-weight: 500;
    margin: 5px 0 0;
}