section#login
{
	background: url(../img/login-bg@2x.jpg);
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

section#login .login-panel
{
		box-shadow: 0px 13px 26px #24489A;
}

section#login .login-panel-container
{
	padding:0px 1.9em 0px 1.9em;
}

section#login .branding
{
	height: 85px;
	width: 135px;
}

section#login .btn
{
	width:100%;	
	height: calc(3.1em + .75rem + 2px);
	vertical-align: middle;
}

section#login .form-control
{
	border-width: 1px;
	height: calc(2.5em + .75rem + 2px);
    padding: .375rem .75rem;
}

section#login button[type="submit"]
{
	text-transform: uppercase !important;
	font-weight: 700;
}

.mobile-logo{
position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 5px;
}

/****SIDEBAR MENU ****/

.web-nav
{
	width: 70px;
	height: 100vh;
	/*position: absolute;*/
	top: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-brand
{
	padding: 10px;
	margin: 0px;	
}

.menu ul, 
.menu li,
.menu li i,
.menu li a
{
	text-align: center;
}

.menu ul li
{
	padding: 10px 0px 10px 0px;
}

.menu ul li a
{
	font-size: 0.7rem;
	color: #dedede;
}

.menu ul li a i
{
	display: block;
}


/******* HEADER *****/

.navbar{
		-moz-box-shadow:    0px 3px 6px #092B2814;
  -webkit-box-shadow: 0px 3px 6px #092B2814;
  box-shadow:         0px 3px 6px #092B2814;
opacity: 1;
}
.admin-menu
{
	width:100%;

}

.admin-menu ul li
{
	padding:15px 10px;
}

.admin-menu i
{
	color: #9FA8BF;
}

.admin-menu ul li.admin .dropdown-menu
{
	right:30px;
	left: auto;
}

.hide-arrow.dropdown-toggle::after
{
	display: none;
}

span.badge
{  
	    border-radius: 50px;
    color: #ffffff;
    right: -5px;
    font-size: 9px;
}

span.i-text
{
	 font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	padding-left: 5px;
}

.admin-menu ul li.message-notification .dropdown-menu
{
	right:110px;
	left: auto;
}

li.message-notification .dropdown-menu
{
	padding: 15px;
}

.fa-user-md:before {
    margin-right: 7px;
}

.animated 
{-webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
    animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
}

/***CONTENT**/

#page-content
{
	padding: 2rem 2rem;
}

/** Bread Crumb **/

.breadcrumb
{
	background-color:transparent;
	padding: 0px;
}

.breadcrumb a
{
	text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #333333;
    font-family: "Material Icons";
    content: "\e5cc";
	padding-top: 0.1rem;
}
.breadcrumb-item .active
{
	color:#30343C;
}

/****PAGE TITLE **/


.page-content-title h4
{
	font-size: 1.2rem;
}

.title-border
{
	border-bottom: 1px solid #EBEBEB;
}


/***** SETUP LINK **/

.setup-list ul
{
	background: #ffffff;
	border: 0.5px solid #EBEBEB;
}


.setup-list ul li a {
    color: #30343C;
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid #ebebeb;
}


.setup-list ul li a::before
{
	font-family: FontAwesome;
    content: "\f14b";
	padding-right:10px;
	color: #DEDEDE;
}

.setup-list .nav-link
{
	padding: 0.5rem 0.5rem;
}

.setup-list div a.active, .nav-pills .show>.nav-link,
.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
	background-color: transparent;
	border-left: 5px solid #1DC9B7;
	font-weight: bold;
	color: #30343C;
	border-radius: 0px;
}


/**** MODAL ***/

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

/****TABLE ****/

table th
{
	font-weight: 600;
	font-size: 1rem
}
