<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.asp"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add connectionString="Data Source=demo4_ebatch;Initial Catalog=MPOS;User ID=sa;Password=pass@123" name="ApplicationServices"/>
    <!--<add connectionString="Server=E6510\MDS;Database=MPOS;User ID=sa;Password=mamm0th" name="ApplicationServices" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>