<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":true, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        
  <!-- Begin page -->
      <div class="wrapper">
          <!-- ========== Left Sidebar Start ========== -->
          <app-sidenav></app-sidenav>
          <!-- Left Sidebar End -->

          <!-- ============================================================== -->
          <!-- Start Page Content here -->
          <!-- ============================================================== -->

          <div class="content-page">
              <div class="content">
                  <!-- Topbar Start -->
                  <header></header>
                  <!-- end Topbar -->

                  <!-- Start Content-->
                  <div class="container-fluid " id="main">
                     <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
              <div class="page-title-box">
                                  <div class="page-title">
                                      <ol class="breadcrumb m-0">
                                          <li class="breadcrumb-item"><a href="javascript: void(0);" class="pgheader">Admin</a></li>
                                          <li class="breadcrumb-item active" class="pghead">System Setup</li>
                                      </ol>
                                  </div>
                              </div>
                          </div>
                      </div>   
          
                      <!-- end page title -->
          <div class="portlet">
          <div class="portlet-title">
            <div class="caption bold"> System Setup </div>
          </div>
        <div class="row">
          <div class=" col-lg-2 col-md-3 col-sm-12 col-xs-12">
          <div class="ipadvisible">

            
            <div class="form-group">
                                                          <label class="col-form-label">Setup</label>
                                                          <select class="form-control">
                                                              <option>Basic</option>
                                                              <option>Product</option>
                                                              <option>Vendor</option>
                                                              <option>Membership</option>
                                                          </select>
                                                      </div>
          </div>
          <div class="nav flex-column nav-pills navi-tabs ipad" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active show" id="v-pills-basic-tab" data-toggle="pill" href="#v-pills-basic" role="tab" aria-controls="v-pills-basic" aria-selected="false">
            <i class="mdi mdi-pencil-circle ic-pencil"></i>
            <span class="nav-title">Basic</span>
            </a>
            <a class="nav-link" id="v-pills-Service-tab" data-toggle="pill" href="#v-pills-Service" role="tab" aria-controls="v-pills-Service" aria-selected="false">
            <i class="mdi mdi-pencil-circle ic-pencil"></i>
            <span class="nav-title">Service</span>
            </a>
            <a class="nav-link" id="v-pills-Product-tab" data-toggle="pill" href="#v-pills-Product" role="tab" aria-controls="v-pills-Product" aria-selected="true">
            <i class="mdi mdi-pencil-circle ic-pencil"></i>
            <span class="nav-title">Product</span>
            </a>
            <a class="nav-link" id="v-pills-vendor-tab" data-toggle="pill" href="#v-pills-vendor" role="tab" aria-controls="v-pills-vendor" aria-selected="true">
            <i class="mdi mdi-pencil-circle ic-pencil"></i>
            <span class="nav-title">Vendor</span>
            </a>
            <a class="nav-link" id="v-pills-Membership-tab" data-toggle="pill" href="#v-pills-Membership" role="tab" aria-controls="v-pills-Membership" aria-selected="true">
            <i class="mdi mdi-pencil-circle ic-pencil"></i>
            <span class="nav-title">Membership</span>
            </a>
          </div>
          </div>

          <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
          <h4 class="header-title">Basic Setup</h4>
          <div class="card m-t-10">
            <div class="card-body">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade active show" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
              <div class="portlet-title">
                <div class="caption bold">Location List</div>

                <div class="actions"></div>
              </div>
              <!-- end nav-->
              <div class="portlet-body">
                <div class="portlet-content">
                <span class="caption-header subheader">The Location List is empty</span>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#centermodal">Add New Location</button>
                                       <div class="modal fade" id="centermodal" tabindex="-1" role="dialog" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered modal-lg">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                              <h4 class="modal-title bold">Add New Location</h4>
                                                             
                                                          </div>
                                                          <div class="modal-body">
                                                      <div class="row">
                           <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Work Hour Threshold</label>
                                                          <input type="text" class="form-control"  placeholder="Hour Threshold">
                                                      </div>
                          </div>
                          
                                                         <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Location ID </label>
                                                          <input type="text" class="form-control"  placeholder="Location ID ">
                                                      </div>
                          </div>
                             <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Location Name</label>
                                                          <input type="text" class="form-control"  placeholder="Location Name">
                                                      </div>
                          </div>
                          
                             <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Zip Code</label>
                                                          <input type="text" class="form-control"  placeholder="Zip Code">
                                                      </div>
                          </div>
                                                  </div>
                            <div class="row">
                           <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">State</label>
                                                          <select  class="form-control">
                                                              <option>Choose</option>
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                          </select>
                                                      </div>
                          </div>
                             <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label  class="col-form-label">Country</label>
                                                          <select class="form-control">
                                                              <option>Choose</option>
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                          </select>
                                                      </div>
                          </div>
                          
                           <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Phone Number</label>
                                                          <input type="text" class="form-control"  placeholder="Phone Number">
                                                      </div>
                          </div>
                             <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Email</label>
                                                          <input type="text" class="form-control"  placeholder="Email">
                                                      </div>
                          </div>
                                                  </div>
                        
                        <div class="row">
                           <div class="col-lg-3 m-t-10">
                                                      <div class="form-group">
                                <div class="custom-control custom-checkbox m-t-10">
                                                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                              <label class="custom-control-label" for="customCheck1">Franchise</label>
                                                          </div>
                          </div>
                          </div>
                                              <div class="col-lg-9">
                            
                            <div class="pull-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success">Save</button>
            </div>
                            </div>
                          
                          </div>
                                                          </div>
                                                      </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                              </div><!-- /.modal -->
                      
    
                      
              
                </div>
              </div>
              </div>
              <div class="tab-pane fade" id="v-pills-Service" role="tabpanel" aria-labelledby="v-pills-Service-tab">
                          <div class="portlet-title">
                <div class="caption bold">Service List</div>

                <div class="actions"></div>
              </div>
              <!-- end nav-->
              <div class="portlet-body">
                <div class="portlet-content">
                <span class="caption-header subheader">The Service List is empty</span>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#centermodal">Add New Location</button>
                  </div>
              </div>
              </div>
              <div class="tab-pane fade" id="v-pills-Product" role="tabpanel" aria-labelledby="v-pills-Product-tab">
                        <div class="portlet-title border-0">
                <div class="caption bold">Location List  
                <button type="button" class="btn btn-success">Add New Location</button>
                </div>

                <div class="actions"></div>
              </div>
              <!-- end nav-->
              <div class="portlet-body">
              
              <div class="">
                                      <div class="tab-content">
                                          <div class="tab-pane show active" id="responsive-preview">
                                              <div class="table-responsive">
                                                  <table class="table mb-0">
                                                      <thead>
                                                          <tr>
                              <th scope="col">WorkHour Threshold</th>
                              <th scope="col">ID</th>
                              <th scope="col">Name</th>
                              <th scope="col">Franchise</th>
                              <th scope="col">Phone</th>
                              <th scope="col">Email</th>
                              <th scope="col">Action</th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr>
                                                              <td>40 Hour</td>
                                                              <td>1234</td>
                                                              <td>Kim</td>
                                                              <td>Silver street</td>
                                                              <td>861-0978-234</td>
                                                              <td>tellaint@email.com</td>
                                                              <td><i class="mdi mdi-pencil-circle ic-edit" title="Edit" aria-hidden="true" data-toggle="modal" href="#editmodal"></i>
                              <i class="mdi mdi-close-circle ic-delete" aria-hidden="true" data-toggle="modal" href="#deletemodal" title="Delete"></i>
                              </td>
                                                          </tr>
                                                          <tr>
                                                             <td>40 Hour</td> 
                                                              <td>1234</td>
                                                              <td>Kim</td>
                                                              <td>Silver street</td>
                                                              <td>861-0978-234</td>
                                                              <td>tellaint@email.com</td>
                                                                         <td><i class="mdi mdi-pencil-circle ic-edit" title="Edit" aria-hidden="true" data-toggle="modal" href="#editmodal"></i>
                              <i class="mdi mdi-close-circle ic-delete" aria-hidden="true" data-toggle="modal" href="#deletemodal" title="Delete"></i>
                              </td>
                                                          </tr>
                             <tr>
                                                             <td>40 Hour</td>
                                                              <td>1234</td>
                                                              <td>Kim</td>
                                                              <td>Silver street</td>
                                                              <td>861-0978-234</td>
                                                              <td>tellaint@email.com</td>
                                                                          <td><i class="mdi mdi-pencil-circle ic-edit" title="Edit" aria-hidden="true" data-toggle="modal" href="#editmodal"></i>
                              <i class="mdi mdi-close-circle ic-delete" aria-hidden="true" data-toggle="modal" href="#deletemodal" title="Delete"></i>
                              </td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                              </div> <!-- end table-responsive-->   
                      <div class="row">
                      <div class="col-md-6"></div>
                      <div class="col-md-1">  <!-- <label>Show</label> --></div>
                      <div class="col-md-2">
                        <!-- 			<select class="form-control" id="example-select">
                                                                  <option>1</option>
                                                                  <option>2</option>
                                                              </select> -->
                      </div>
                      <div class="col-md-3">
                      
                      
                      <div class="pull-right">
              
                      
                      <nav>
                                                  <ul class="pagination pagination-rounded mb-0">
                                                      <li class="page-item">
                                                          <a class="page-link" href="javascript: void(0);" aria-label="Previous" style="border: 1px solid #ddd;">
                                                              <span aria-hidden="true"><</span>
                                                              <span class="sr-only">Previous</span>
                                                          </a>
                                                      </li>
                                                      <li class="page-item"><a class="page-link" href="javascript: void(0);">1</a></li>
                                                      <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                                      <li class="page-item active"><a class="page-link" href="javascript: void(0);">3</a></li>
                                                      <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                                      <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                                      <li class="page-item">
                                                          <a class="page-link" href="javascript: void(0);" aria-label="Next" style="border: 1px solid #ddd;">
                                                              <span aria-hidden="true">></span>
                                                              <span class="sr-only">Next</span>
                                                          </a>
                                                      </li>
                                                  </ul>
                                              </nav>
                      </div>
                      </div>
                      </div>
                      


                      
                                          </div> <!-- end preview-->
                                      
          
                                      </div> <!-- end tab-content-->

                                  </div>
</div>							 
             </div>
              <div class="tab-pane fade" id="v-pills-vendor" role="tabpanel" aria-labelledby="v-pills-vendor-tab">
              vendor
              </div>
              <div class="tab-pane fade" id="v-pills-Membership" role="tabpanel" aria-labelledby="v-pills-Membership-tab">
              Membership
              </div>
            </div>
            </div>


          </div>
         
                  <div class="pull-right">
            <button type="button" class="btn btn-light">Save &amp; Close</button>
            <button type="button" class="btn btn-light">Save &amp; Continue Service Setup</button>
            </div>
         </div>
        
  
        </div>




    

                                              <!-- end row-->                                            
                                         

                      </div>
                  </div> <!-- container -->

              </div> <!-- content -->
      <!-- Edit Modal-->
                                       <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered modal-lg">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                              <h4 class="modal-title bold">Edit Location</h4>
                                                             
                                                          </div>
                                      <div class="modal-body">
                                                      <div class="row">
                           <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Work Hour Threshold</label>
                                                          <input type="text" class="form-control"  placeholder="Hour Threshold">
                                                      </div>
                          </div>
                          
                                                         <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Location ID </label>
                                                          <input type="text" class="form-control"  placeholder="Location ID ">
                                                      </div>
                          </div>
                             <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Location Name</label>
                                                          <input type="text" class="form-control"  placeholder="Location Name">
                                                      </div>
                          </div>
                          
                             <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Zip Code</label>
                                                          <input type="text" class="form-control"  placeholder="Zip Code">
                                                      </div>
                          </div>
                                                  </div>
                            <div class="row">
                           <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">State</label>
                                                          <select  class="form-control">
                                                              <option>Choose</option>
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                          </select>
                                                      </div>
                          </div>
                             <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label  class="col-form-label">Country</label>
                                                          <select class="form-control">
                                                              <option>Choose</option>
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                          </select>
                                                      </div>
                          </div>
                          
                           <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Phone Number</label>
                                                          <input type="text" class="form-control"  placeholder="Phone Number">
                                                      </div>
                          </div>
                             <div class="col-lg-3">
                                                      <div class="form-group">
                                                          <label class="col-form-label">Email</label>
                                                          <input type="text" class="form-control"  placeholder="Email">
                                                      </div>
                          </div>
                                                  </div>
                        
                        <div class="row">
                           <div class="col-lg-3 m-t-10">
                                                      <div class="form-group">
                                <div class="custom-control custom-checkbox m-t-10">
                                                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                              <label class="custom-control-label" for="customCheck1">Franchise</label>
                                                          </div>
                          </div>
                          </div>
                                              <div class="col-lg-9">
                            
                            <div class="pull-right">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success">Save</button>
            </div>
                            </div>
                          
                          </div>
                                                          </div>
                                                      </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                              </div><!-- /.modal -->
                      
      <!-- end edit modal -->
      
                                                      <div id="deletemodal" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                              <h4 class="modal-title bold">Delete Location</h4>
                                                             
                                                          </div>
                                                          <div class="modal-body semi-bold">
                                             Are you sure you want to delete this location? All related information will be deleted and the location cannot be retrieved?
                                                          </div>
                                                          <div class="modal-footer">
                                                              <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                                              <button type="button" class="btn btn-success">Save</button>
                                                          </div>
                                                      </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                              </div><!-- /.modal -->

          </div>

          <!-- ============================================================== -->
          <!-- End Page content -->
          <!-- ============================================================== -->

      </div>
      <!-- END wrapper -->
      <!-- Right Sidebar -->
  <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
    <div class="rightbar-title">
              <a href="javascript:void(0);" class="quick-sidebar-toggler float-right" style="margin-top:-9px;">
                  <i class="mdi mdi-close-circle icon-side"></i>
              </a>
          </div>

          <div class="rightbar-content h-100" data-simplebar>
      <div class="page-quick-sidebar">
        <div class="page-quick-sidebar-chat">

          <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">

            <ul class="media-list list-items">
              <li class="media"> <img class="media-object" src="assets/images/dashboard.svg" alt="...">
                <div class="media-body">
                  <h4 class="sidebar-heading">Dashboard</h4> </div>
              </li>
              <li class="media"> <img class="media-object" src="assets/images/details.svg" alt="...">
                <div class="media-body">
                  <h4 class="sidebar-heading">Details</h4> </div>
              </li>
              <li class="media"> <img class="media-object" src="assets/images/washes.svg" alt="...">
                <div class="media-body">
                  <h4 class="sidebar-heading">Washes</h4> </div>
              </li>
              <li class="media"> <img class="media-object" src="assets/images/sales.svg" alt="...">
                <div class="media-body">
                  <h4 class="sidebar-heading">Sales</h4> </div>
              </li>
              <li class="media"> <img class="media-object" src="assets/images/reports.svg" alt="..." style="width: 18px;margin-right: 12px;">
                <div class="media-body">
                  <h4 class="sidebar-heading">Reports</h4> </div>
              </li>
              <li class="media"> <img class="media-object" src="assets/images/admin.svg" alt="...">
                <div class="media-body">
                  <h4 class="sidebar-heading">Admin</h4> </div>
              </li>
              <li class="media"> <img class="media-object" src="assets/images/checkout.svg" alt="...">
                <div class="media-body">
                  <h4 class="sidebar-heading">Checkout</h4> </div>
              </li>
              <li class="media"> <img class="media-object" src="assets/images/payroll.svg" alt="..." style="width: 18px;margin-right: 12px;">
                <div class="media-body">
                  <h4 class="sidebar-heading">Payroll</h4> </div>
              </li>
            </ul>
          </div>
          <div class="page-quick-sidebar-item">
            <div class="page-quick-sidebar-chat-user">
              <div class="page-quick-sidebar-nav">
                <a href="javascript:;" class="page-quick-sidebar-back-to-list"> <i class="mdi mdi-arrow-left-box"></i>Back</a>
              </div>
              <div class="page-quick-sidebar-chat-user-messages m-t-20">
              <span class="mobile-header"> Admin </span>
                <ul class="media-list list-items">
                  <li class="media">
                    <h4 class="sidechat-heading">Cash Register Setup</h4> </li>
                  <li class="media">
                    <h4 class="sidechat-heading">Close Out Register</h4> </li>
                  <li class="media">
                    <h4 class="sidechat-heading">Time Clock Maintenance</h4> </li>
                  <li class="media">
                    <h4 class="sidechat-heading">Employees</h4> </li>
                  <li class="media">
                    <h4 class="sidechat-heading">Clients</h4> </li>
                  <li class="media">
                    <h4 class="sidechat-heading">Schedules</h4> </li>
                  <li class="media">
                    <h4 class="sidechat-heading">Vehicles</h4> </li>
                  <li class="media">
                    <h4 class="sidechat-heading"><i class="mdi mdi-checkbox-blank-circle" style="font-size:5px;margin-left: -7px;"></i><span style="color: #1dc9b7; text-decoration: underline;padding: 5px 19px 5px 5px;">System Setup</span></h4> 
              
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  </div>
  <!-- </div> -->
          </div>
  

    


      <!-- bundle -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/umd/popper.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
      <script src="assets/js/vendor.min.js"></script>
      <script src="assets/js/app.min.js"></script>
      <script src="assets/js/jquery.slimscroll.min.js" type="text/javascript"></script>
      <script src="assets/js/default.js" type="text/javascript"></script>
  <script src="assets/js/quick-sidebar.min.js" type="text/javascript"></script>
  
      <script>
function openNav() {
  document.getElementById("mySidebar").style.width = "200px";
  document.getElementById("main").style.marginLeft = "200px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}




</script>


  </body>