
    body .fc .fc-toolbar .fc-button {
        background-color: transparent ; 
        border: 1px solid #dddddd;
        font-size: .8rem !important;
       
    }
    body .fc .fc-toolbar .fc-button:enabled:hover {
        background-color: #dddd !important;
        color: #ffffff !important;
        border-color: #dddd;
    }
    .draggedEvent {
        background-color: lightpink;
        color: '#fffff';
        border: none !important;
        font-size: 12px;
        font-weight: 500;
    }
    .event {
        border: none !important;
        font-size: 12px;
        font-weight: 500;
    }