 <div id="page-content">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item"><span>Admin</span></li>
                    <li class="breadcrumb-item active" aria-current="page">Schedules</li>
                </ol>
            </nav>
            <!--bread crumb-->
            <div class="title-border col-12 p-b-10 m-b-15 p-l-0">
                <h3 class="d-inline-block">Schedules</h3> </div>
            <div class="col-lg-12 p-l-0 p-r-0">
                <ul class="nav  Schedules-tab  mb-2">
                    <li>
                        <a href="#all" data-toggle="tab" aria-expanded="false" class="nav-tab-link active"  (click)="getAll()"> <i class="mdi mdi-store Schedules-tab-icon"></i> <span class="text-center p-r-15 p-l-5" >All</span> </a>
                    </li>
                    <li *ngFor="let loc of location">
                        <a href="#all" data-toggle="tab" aria-expanded="false" class="nav-tab-link" (click)="getLocationId($event)"> <i class="mdi mdi-store Schedules-tab-icon"></i> <span class="text-center p-r-15 p-l-5" >{{loc.LocationName}}</span> &nbsp;&nbsp; <div class="badge Schedules-badge">{{loc.WashTimeMinutes}}&nbsp; mins</div></a>
                    </li>
           
                </ul>
                <div class="tab-content">
                    <div class="row no-gutter mob-goal">
                        <div class="col-lg-12">
                            <div class="list-group  m-b-10">
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i class="mdi mdi-car-multiple font-size-1-5 theme-optional-icon-color align-mid"></i>
                                             No. of Washes</h6> <span class="font-size-1 font-weight-bold">15</span> </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i class="mdi mdi-car-wash font-size-1-5 theme-light-yellow-color align-mid"></i> 
                                             No.of Details</h6> <span class="font-size-1 font-weight-bold">10</span> </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i class="mdi mdi-account-outline font-size-1-5 theme-primary-color align-mid"></i>
                                            Wash Employees </h6> <span class="font-size-1 font-weight-bold">15</span> </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i class="mdi mdi-weather-rainy font-size-1-5 theme-light-blue-color align-mid"></i>
                                            Score</h6> <span class="font-size-1 font-weight-bold">100</span> </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i class="mdi mdi-car-back font-size-1-5 theme-secondary-color align-mid"></i>
                                        Current /Forecasted Cars</h6> <span class="font-size-1 font-weight-bold">25/25</span> </div>
                                </a>
                                <a href="#" class="list-group-item weather-goal">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="font-weight-600">
                                            <i class="mdi mdi-car-back font-size-1-5 theme-voilet-color align-mid"></i>
                                        Average Car wash Time</h6> <span class="font-size-1 font-weight-bold">30min</span> </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutter web-goal">
                        <div class="col-lg-6 col-xl-2">
                            <app-no-of-washes></app-no-of-washes>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <app-no-of-details></app-no-of-details>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <app-wash-employees></app-wash-employees>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <app-score></app-score>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <app-forecasted-cars></app-forecasted-cars>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <app-average-wash-time></app-average-wash-time>
                        </div>
                    </div>
                    <div class="row no-gutter">
                        <div class="col-xl-3">
                            <div class="card">
                                <div class="card-body p-0">
                                    <!-- <div class="input-icon right p-10 d-flex"> <input type="search" class="form-control" [(ngModel)]="search" name="search" id="inputSearchbyName" (click)="search = ''; searchEmployee()"
                                        placeholder="Search Employee" (keyup)="searchEmployee()"> </div> -->
                                    <div class="input-icon right p-10"> <i class="mdi mdi-magnify search-icon" (click)="searchEmployee()"></i>
                                        <input type="text" class="form-control rounded-0" placeholder="Search Employee" [(ngModel)]="search" (focus)="searchFocus()" (keyup)="searchEmployee()"> </div>
                                      
                                    <div class="Search-box " #draggable_people>
                                        <div *ngFor="let emp of this.empList?.EmployeeList" >
                                            <!--  -->
                                        <div class="fc-event Search-item border-top " style=" display: flex;background-color: transparent; color:black !important;border-top: 1px solid #dddd!important;"> <img class="mr-3 rounded-circle" src="assets/img/male.png" width="40" alt="Search image">
                                            <div class="Search-item-body"> <span class="float-right"><div class="custom-control custom-checkbox">
                                                <input type="checkbox" [(ngModel)]="emp.selected">
                                            </div></span>
                                                <h6 class="theme-mid-gray">{{emp.FirstName + ' ' + emp.LastName }}</h6> <span class="theme-mid-gray font-size-7">{{emp.EmployeeId}}</span> </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!-- end card-body -->
                            </div>
                            <!-- end card-->
                        </div>
                        <div class="col-xl-9">
                            <div class="card">
                                <div class="card-body m-b-3">
                                    <div class="title-border p-b-5 m-b-14">
                                        <h4 class="d-inline-block align-middle m-r-10">Today Schedule </h4>
                                        <p class="theme-font-color border-right m-r-10 p-r-10 font-size--9 d-inline-block font-weight-700 align-middle m-t-4">Total: {{totalHours}}hrs</p>
                                        <p class="theme-font-color  m-r-10 p-r-10 d-inline-block font-size--9 font-weight-700 align-middle m-t-4">No. of employees: {{EmpCount}}</p>
                                    </div>
                                    <div  id='calendar-container'>
                                        <p-fullCalendar #fc *ngIf="options"[events]="events" [options]="options" ></p-fullCalendar>
                                        <!-- <div id='calendar'></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="all"> 
                    
                    </div>
                    <div class="tab-pane show" id="business-goal"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--page Content-->
<div class="modal fade show" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="deletedclientModal" aria-modal="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="name">{{empName}}</span>- <span id="empId">{{empId}}</span></h5>
                <button type="button" class="close" (click)="cancel()" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
            <div class="modal-body" id="modalBody">
                <!--modal body-->
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label >Start Time</label>
                            <ng-template #popTemplate>
                                <timepicker id="timeStart"  [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}" [showMeridian]="true" [showMinutes]="true" [showSeconds]="true"></timepicker>
                            </ng-template>
                            <input type="text"  id="startTime"  class="form-control"  [ngModel]="startTime | date:'hh:mm aa'" [ngModelOptions]="{standalone: true}" (ngModelChange)="startTime=$event" [popover]="popTemplate" [outsideClick]="true" placement="bottom" />
                        </div> 
                        <div class="form-group col-md-6">
                            <label>End Time</label>
                            <ng-template #popTemplateEnd>
                                <timepicker  id="timeEnd" [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}" [showMeridian]="true" [showMinutes]="true" [showSeconds]="true"></timepicker>
                            </ng-template>
                            <input id="endTime" type="text"  class="form-control" [ngModel]="endTime | date:'hh:mm aa'"  [ngModelOptions]="{standalone: true}" (ngModelChange)="endTime=$event" [popover]="popTemplateEnd" [outsideClick]="true" placement="bottom" [appMaxLength]/>
                         </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="checkbox" id="isleave" [(ngModel)]="isLeave" [ngModelOptions]="{standalone: true}" (change)="isAbsentChange($event)">&nbsp;
                            <label >Leave</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="Location">Location</label>
                            <select id ="location" class="form-control" [(ngModel)]="empLocation" [ngModelOptions]="{standalone: true}" (change)="getLocation($event)" (focus)="locationFlag = false"  [ngClass]="{ 'is-invalid': submitted && locationFlag}">
                                <option selected hidden>Select</option>
                                <option *ngFor="let location of location" value="{{location.LocationId}}">
                                    {{location.LocationName}}</option>
                            </select>
                            <div *ngIf="locationFlag && submitted" class="invalid-feedback"> Select the Location</div>
                        </div>
                    </div>
                </form>
            </div>
            <!--modal body-->
            <div class="modal-footer">
                <button type="button" class="btn theme-optional-button-color" (click)="cancel()">Cancel</button>
                <button type="button" class="btn theme-primary-button-color" (click)="addSchedule()">{{buttonText}}</button>
            </div>
        </div>
    </div>
</div>

