<div class="container-fluid">
    <form [formGroup]="serviceSetupForm">
    <div class="form-group">
        <div class="col-4">
            <label><b>Service Type : </b></label>
            <select class="form-control" formControlName="serviceType" [ngClass]="{ 'is-invalid': submitted || f.serviceType.touched && f.serviceType.errors }">
                <option value="">Select </option>
                <option *ngFor="let serviceType of serviceType" value="{{serviceType.id}}">{{serviceType.CodeValue}}</option>
            </select>
            <div *ngIf="submitted || f.serviceType.touched && f.serviceType.errors" class="invalid-feedback">
                <div *ngIf="f.serviceType.errors.required">Service Type is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label><b>Service ID : </b></label>
            <input type="text" class="form-control"  formControlName="serviceId">
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label><b>Name : </b></label>
            <input type="text" class="form-control"  formControlName="name" [ngClass]="{ 'is-invalid': submitted || f.name.touched && f.name.errors }">
            <div *ngIf="submitted || f.name.touched && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label><b>Cost : </b></label>
            <input type="text" class="form-control"  formControlName="cost" [ngClass]="{ 'is-invalid': submitted || f.cost.touched && f.cost.errors }">
            <div *ngIf="submitted || f.cost.touched && f.cost.errors" class="invalid-feedback">
                <div *ngIf="f.cost.errors.required">Cost is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">            
            <input type="checkbox"  formControlName="commission" (change)="change($event.target.checked)" >
            <label><b>Commission </b></label>
        </div>
    </div>
    <div class="form-group" *ngIf="isChecked === true">
        <div class="col-4">
            <label><b>Commission Type : </b></label>
            <select class="form-control" formControlName="commissionType">
                <option value="">Select </option>
                <option *ngFor="let commissionType of CommissionType">{{commissionType}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label><b>Upcharge : </b></label>
            <input type="text" class="form-control"  formControlName="upcharge">
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label><b>Parent Name : </b></label>
            <input type="text" class="form-control"  formControlName="parentName">
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label><b>Status : </b></label>
            <select class="form-control" formControlName="status">
                <option value="">Select </option>
                <option *ngFor="let status of Status">{{status}}</option>
            </select>
        </div>
    </div>

    <div class="formGroup float-right">
        <button type="button" class="btn btn-primary btn-sm " (click)="submit()">Save</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">Cancel</button>
    </div>
    </form>
</div>