<div id="page-content">
  <div class="container-fluid">
    <div class="row">
      <nav class="col-12 p-0" aria-label="breadcrumb">
        <ol class="breadcrumb font-size--9">
          <li class="breadcrumb-item"><span>Admin</span></li>
          <li class="breadcrumb-item active" aria-current="page">System Setup</li>
        </ol>
      </nav>
      <div class="title-border col-12 p-b-10 m-b-15 p-l-0">
        <h3>System Setup</h3>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 setup-list p-l-0">
            <div class="form-group mob-display">
              <label class="col-form-label sbold">Setup</label>
              <select class="form-control" (click) = "setupEvent($event)">
                <option value = "1">Basic</option>
                <option value = "2">Service</option>
                <option value = "3">Product</option>
                <option value = "4">Vendor</option>
                <option value ="5">Membership</option>
                <option value ="6">Check List</option>
                <option value ="7">Employee Handbook</option>
                <option value ="8" >Terms & Condition</option>
                <option value ="9">Bonus</option>
              </select>
            </div>
            <ul class="nav nav-pills flex-column web-display" id="myTab" role="tablist">
              <li class="nav-item"> <a class="nav-link active" id="v-pills-basic-tab" data-toggle="pill"
                  [routerLink]='["./location"]' [routerLinkActive]='["link-active"]' role="tab"
                  aria-controls="v-pills-basic" aria-selected="false">Basic</a> </li>
              <li class="nav-item"> <a class="nav-link" id="v-pills-service-tab" data-toggle="pill"
                  [routerLink]="'/admin/setup/service'" [routerLinkActive]='["link-active"]' role="tab"
                  aria-controls="v-pills-service" aria-selected="false">Service</a> </li>
              <li class="nav-item"> <a class="nav-link" id="v-pills-product-tab" data-toggle="pill"
                  [routerLink]="'/admin/setup/product'" [routerLinkActive]='["link-active"]' role="tab"
                  aria-controls="v-pills-product" aria-selected="false">Product</a> </li>
              <li class="nav-item"> <a class="nav-link" id="v-pills-vendor-tab" data-toggle="pill"
                  [routerLink]="'/admin/setup/vendor'" [routerLinkActive]='["link-active"]' role="tab"
                  aria-controls="v-pills-vendor" aria-selected="true">Vendor</a> </li>
              <li class="nav-item"> <a class="nav-link" id="v-pills-membership-tab" data-toggle="pill"
                  [routerLink]="'/admin/setup/membership'" [routerLinkActive]='["link-active"]' role="tab"
                  aria-controls="v-pills-membership" aria-selected="true">Membership</a>
              </li>
              <li class="nav-item"> <a class="nav-link" id="v-pills-checkList-tab" data-toggle="pill"
                [routerLink]="'/admin/setup/checkList'" [routerLinkActive]='["link-active"]' role="tab"
                aria-controls="v-pills-checkList" aria-selected="true">Check List</a>
            </li>
            <li class="nav-item"> <a class="nav-link" id="v-pills-empHandBook-tab" data-toggle="pill"
              [routerLink]="'/admin/setup/empHandBook'" [routerLinkActive]='["link-active"]' role="tab"
              aria-controls="v-pills-empHandBook" aria-selected="true">Employee Handbook</a>
          </li>
              <li class="nav-item"> <a class="nav-link" id="v-pills-terms-tab" data-toggle="pill"
                [routerLink]="'/admin/setup/terms&condition'" [routerLinkActive]='["link-active"]' role="tab"
                aria-controls="v-pills-terms" aria-selected="true">Terms & Condition</a>
            </li>
              <li class="nav-item"> <a class="nav-link" id="v-pills-bonus-tab" data-toggle="pill"
                [routerLink]="'/admin/setup/bonus'" [routerLinkActive]='["link-active"]' role="tab"
                aria-controls="v-pills-bonus" aria-selected="true">Bonus</a>
            </li>
            </ul>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 setup-content m-t-5 p-0">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>