<div id="page-content" *ngIf="!showDialog">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size-1">
                    <li class="breadcrumb-item"><a appNavigatePage>Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Employees</li>
                </ol>
            </nav>
            <!--bread crumb-->
            <!-- <div class="title-border col-12 p-b-10 m-b-15 p-l-0">
                <h3>Employees</h3>
            </div> -->
            <div class="col-12 p-l-0 p-r-0">
                <div class="card  m-b-10">
                    <div class="card-body">
                        <div class="row title-border p-b-10 m-b-15">
                            <div class="col-12">
                                <h5 class="d-inline-block">Employee List
                                    <span class="collision-btn">
                                    </span>
                                </h5>
                                <div class="pull-right m-t-4 pointer">
                                    <button type="button" class="btn theme-primary-button-color btn-md m-l-10"
                                        (click)="addEmployee('create', '')">Add New Employee</button>
                                    &nbsp;&nbsp;
                                    <a> <em class="font-size-1-4 fa"
                                            [ngClass]="{'fa-angle-up':!isCollapsed, 'fa-angle-down': isCollapsed  }"
                                            (click)="collapsed()"></em>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="setup-wrapper" [style.display]="isCollapsed ? 'none' : 'block'">
                            <div class="setup-content">
                                <div class="search-container  pull-right">
                                    <form>
                                        <div class="form-row">

                                            <div class="form-group d-flex"> <input type="search" class="form-control"
                                                    [(ngModel)]="search" name="search" id="inputSearchbyName"
                                                    placeholder="Search by Name"  (ngModelChange)="this.searchUpdate.next($event)"> 
                                                    &nbsp; &nbsp;
                                                    <div class="form-group d-flex" style="width: 60%;">
                                                        <select class="form-control" (change)="selectOption($event.target.value)" [ngModelOptions]="{standalone: true}" [(ngModel)]="statusGroup">
                                                            <option value="" selected disabled>Status</option>
                                                            <option value=null>All</option>
                                                            <option value=true>Active</option>
                                                            <option value=false>InActive</option>
                                                        </select>
                                                    </div>
                                                
                                                
                                                </div>
                                            <div class="form-group col-sm m-l-5">

                                                <button type="button"
                                                    class="btn theme-primary-button-color btn-sm m-l-10"
                                                    (click)="seachEmployee()">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="table-responsive">
                                    <table class="table border table-hover headerfix" aria-describedby="employee-list">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="pointer" (click)="changeSorting('FirstName')">
                                                    First
                                                    Name&nbsp;<i class="fa" [ngClass]="selectedCls('FirstName')"
                                                        aria-hidden="true"></i> </th>
                                                <th scope="col" class="pointer" (click)="changeSorting('LastName')">Last
                                                    Name&nbsp;<i class="fa" [ngClass]="selectedCls('LastName')"
                                                        aria-hidden="true"></i> </th>
                                                <th scope="col" class="pointer" (click)="changeSorting('MobileNo')">
                                                    Mobile #
                                                    &nbsp;<i class="fa" [ngClass]="selectedCls('MobileNo')"
                                                        aria-hidden="true"></i> </th>
                                                <th scope="col">Rate/Location</th>
                                                <th scope="col">Collision</th>
                                                <th scope="col">Documents</th>
                                                <th scope="col">Schedules</th>
                                                <th scope="col" class="pointer" (click)="changeSorting('Status')">
                                                    Status&nbsp;<i class="fa" [ngClass]="selectedCls('Status')"
                                                        aria-hidden="true"></i> </th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bodyfix">
                                            <tr *ngFor="let employee of employeeDetails">
                                                <td>{{employee.FirstName}}</td>
                                                <td>{{employee.LastName}}</td>
                                                <td>{{employee.MobileNo}}</td>
                                                <td><span (click)="openHourlyRateModal(employee)" class="text-underline theme-primary-color font-size--9"
                                                        style="cursor: pointer;"> View
                                                    </span></td>
                                                <td> <span (click)="openCollisionModal(employee)"
                                                        *ngIf="employee.Collisions === false"
                                                        class="text-underline theme-primary-color font-size--9"
                                                        style="cursor: pointer;"> Add
                                                    </span>
                                                    <span (click)="viewCollision(employee)"
                                                        *ngIf="employee.Collisions === true"
                                                        class="text-underline theme-primary-color font-size--9"
                                                        style="cursor: pointer;"> View
                                                    </span>
                                                </td>
                                                <td> <span class="text-underline theme-primary-color font-size--9"
                                                        *ngIf="employee.Documents === false" style="cursor: pointer;"
                                                        (click)="addDocument(employee)"> Add
                                                    </span>
                                                    <span class="text-underline theme-primary-color font-size--9"
                                                        *ngIf="employee.Documents === true" style="cursor: pointer;"
                                                        (click)="viewDocument(employee)"> View
                                                    </span>
                                                </td>
                                                <td> <span *ngIf="employee.Schedules === true"
                                                        class="text-underline theme-primary-color font-size--9"
                                                        style="cursor: pointer;" (click)="schedule()"> View
                                                        Schedule </span>
                                                    <span [hidden]="employee.Schedules === true"
                                                        class="text-underline theme-primary-color font-size--9"
                                                        style="cursor: pointer;" (click)="schedule()"> No
                                                        Schedule </span>
                                                </td>
                                                <td>{{employee.Status === true ? 'Active' : 'InActive'}}</td>
                                                <td> <em class="mdi mdi-eye-circle  pointer theme-primary-icon-color font-size-1-2"
                                                        (click)="addEmployee('view', employee)" pTooltip="View"
                                                        tooltipPosition="bottom"></em>
                                                    <em class="mdi mdi-pencil-circle edit-list pointer theme-secondary-icon-color font-size-1-2"
                                                        (click)="addEmployee('edit', employee)" pTooltip="Edit"
                                                        tooltipPosition="bottom"></em>
                                                    <em class="mdi mdi-close-circle pointer delete-list theme-optional-icon-color font-size-1-2"
                                                        (click)="deleteEmployee(employee)" pTooltip="Delete"
                                                        tooltipPosition="bottom"></em>
                                                </td>
                                            </tr>
                                            <tr *ngIf="employeeDetails.length === 0">
                                                <td colspan="9" class="text-center">
                                                    No Records Found
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row pull-right">
                                        <div class="col-6">
                                            <ngb-pagination *ngIf="employeeDetails.length > 0"
                                                [collectionSize]="collectionSize" (pageChange)="paginate($event)"
                                                [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                                [boundaryLinks]="true" class="d-flex justify-content-end">
                                            </ngb-pagination>
                                        </div>
                                        <select *ngIf="employeeDetails.length > 0" class="form-control col-4"
                                            name="paginate" [(ngModel)]="pageSize" (change)="paginatedropdown($event)">
                                            <option *ngFor="let size of pageSizeList" value="{{size}}">{{size}}</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showDialog && actionType === 'create'">
    <app-create-edit *ngIf="showDialog" [commissionType]="commissionType" [actionType]="actionType"
        [employeeId]="employeeId" (closeDialog)="closeDialog($event)"></app-create-edit>
</div>
<div *ngIf="showDialog && actionType !== 'create'">
    <app-edit-employee *ngIf="showDialog" [commissionType]="commissionType" [actionType]="actionType"
        [employeeId]="employeeId" (closeDialog)="closeDialog($event)"></app-edit-employee>
</div>