<div id="page-content" *ngIf="!showDialog">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item">Admin</li>
                    <li class="breadcrumb-item active" aria-current="page">Clients</li>
                </ol>
            </nav>
            <div class="border-bottom  col-12 p-b-10 m-b-15 p-l-0">
                <h3 class="d-inline-block">Clients</h3>
            </div>
            <div class="col-lg-12 p-l-0 p-r-0">
                <div class="row no-gutter mob-goal">
                    <div class="col-lg-12">
                        <div class="list-group  m-b-10">
                            <a href="#" class="list-group-item weather-goal">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="font-weight-600">
                                        <i
                                            class="mdi mdi-car-multiple font-size-1-5 theme-optional-icon-color align-mid"></i>
                                        No. of Washes</h6> <span class="font-size-1 font-weight-bold">15</span>
                                </div>
                            </a>
                            <a href="#" class="list-group-item weather-goal">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="font-weight-600">
                                        <i
                                            class="mdi mdi-car-wash font-size-1-5 theme-light-yellow-color align-mid"></i>
                                        No.of Details</h6> <span class="font-size-1 font-weight-bold">10</span>
                                </div>
                            </a>
                            <a href="#" class="list-group-item weather-goal">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="font-weight-600">
                                        <i
                                            class="mdi mdi-account-outline font-size-1-5 theme-primary-color align-mid"></i>
                                        Wash Employees </h6> <span class="font-size-1 font-weight-bold">15</span>
                                </div>
                            </a>
                            <a href="#" class="list-group-item weather-goal">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="font-weight-600">
                                        <i
                                            class="mdi mdi-weather-rainy font-size-1-5 theme-light-blue-color align-mid"></i>
                                        Score</h6> <span class="font-size-1 font-weight-bold">100</span>
                                </div>
                            </a>
                            <a href="#" class="list-group-item weather-goal">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="font-weight-600">
                                        <i class="mdi mdi-car-back font-size-1-5 theme-secondary-color align-mid"></i>
                                        Current /Forecasted Cars</h6> <span
                                        class="font-size-1 font-weight-bold">25/25</span>
                                </div>
                            </a>
                            <a href="#" class="list-group-item weather-goal">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="font-weight-600">
                                        <i class="mdi mdi-car-back font-size-1-5 theme-voilet-color align-mid"></i>
                                        Average Car wash Time</h6> <span
                                        class="font-size-1 font-weight-bold">30min</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter web-goal">
                    <div class="col-lg-6 col-xl-2">
                        <app-no-of-washes></app-no-of-washes>
                    </div>
                    <div class="col-lg-6 col-xl-2">
                        <app-no-of-details></app-no-of-details>
                    </div>
                    <div class="col-lg-6 col-xl-2">
                        <app-wash-employees></app-wash-employees>
                    </div>
                    <div class="col-lg-6 col-xl-2">
                        <app-score></app-score>
                    </div>
                    <div class="col-lg-6 col-xl-2">
                        <app-forecasted-cars></app-forecasted-cars>
                    </div>
                    <div class="col-lg-6 col-xl-2">
                        <app-average-wash-time></app-average-wash-time>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="title-border p-b-20 m-b-15">
                                    <h5 class="d-inline-block font-weight-600">Client List</h5>&nbsp;
                                    <div class="pull-right card-widgets">
                                        <button type="button" class="btn theme-primary-button-color btn-md"
                                            (click)="add('add',[])">Add New Client</button>&nbsp;&nbsp;
                                        <a data-toggle="collapse" href="#Clientlist" role="button" aria-expanded="false"
                                            aria-controls="Clientlist"><i
                                                class="theme-font-color font-size-1-5 mdi mdi-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div id="Clientlist" class="collapse show">
                                    <div class="setup-wrapper" id="clientlistform">
                                        <div class="setup-content">
                                            <div class="search-container  pull-right">
                                                <form>
                                                    <div class="form-row">
                                                        <div class="form-group d-flex"> <input type="search"
                                                                class="form-control" [(ngModel)]="search" name="search"
                                                                id="inputSearchbyName" placeholder="By Name"
                                                                (keyup)="$event.keyCode == 13 ? clientSearch() : null"> </div>
                                                        <div class="form-group col-sm m-l-5">
                                                            <button type="button"
                                                                class="btn theme-primary-button-color btn-sm m-l-10"
                                                                (click)="clientSearch()">Search</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="table-responsive" *ngIf="isTableEmpty === true"> <span
                                                    class="col-12 row d-block">No Records Found</span></div>
                                            <div class="table-responsive"
                                                *ngIf="isTableEmpty === false && isLoading === false">
                                                <table class="table  table-striped m-t-10">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">First Name</th>
                                                            <th scope="col">Last Name</th>
                                                            <th scope="col">Phone Number</th>
                                                            <th scope="col">Type</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr
                                                            *ngFor="let client of clientDetails | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                                            <th scope="row">{{client.FirstName}}</th>
                                                            <td>{{client.LastName}}</td>
                                                            <td>{{client.PhoneNumber}}</td>
                                                            <td>{{client.Type}}</td>
                                                            <td>{{client.IsActive === true ? "Active" : "InActive"}}
                                                            </td>
                                                            <td>
                                                                <em class="fa fa-eye view-list theme-primary-icon-color m-r-10"
                                                                    style="color:orange" pTooltip="view"
                                                                    tooltipPosition="bottom"
                                                                    (click)="add('view', client)"></em>&nbsp;&nbsp;
                                                                <em class="fa fa-pencil-square edit-list theme-secondary-icon-color m-r-10"
                                                                    style="color:green" pTooltip="edit"
                                                                    tooltipPosition="bottom"
                                                                    (click)="add('edit', client)"></em>&nbsp;&nbsp;
                                                                <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                                    style="color:red" pTooltip="delete"
                                                                    tooltipPosition="bottom"
                                                                    (click)="delete(client)"></em>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <ngb-pagination *ngIf="collectionSize > 10"
                                                    [collectionSize]="collectionSize" [(page)]="page" [maxSize]="3"
                                                    [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                                                    class="d-flex justify-content-end">
                                                </ngb-pagination>
                                            </div>
                                        </div>
                                        <div class="loadingDiv" *ngIf="isLoading">
                                            <em class="fa fa-spin fa-spinner" style="font-size:50px;"></em><br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showDialog">
    <app-client-create-edit *ngIf="showDialog" [selectedData]="selectedData" [isEdit]="isEdit" [isView]="isView"
        (closeDialog)="closePopupEmit($event)">
    </app-client-create-edit>
</div>