<div id="page-content" *ngIf="!showDialog">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <ol class="breadcrumb font-size-1">
                    <li class="breadcrumb-item" appNavigatePage>Admin</li>
                    <li class="breadcrumb-item active" aria-current="page">Clients</li>
                </ol>
            </nav>
            <div class="col-lg-12 p-l-0 p-r-0">
                <div class="row no-gutter">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="title-border p-b-20 m-b-15">
                                    <h5 class="d-inline-block font-weight-600">Client List</h5>&nbsp;
                                    <div class="pull-right card-widgets">
                                        <!-- <button type="button" class="btn theme-primary-button-color btn-md"
                                            (click)="sendClientMail()">Send Client Email</button>&nbsp;&nbsp; -->
                                        <button type="button" class="btn theme-primary-button-color btn-md"
                                            (click)="add('add',[])">Add New Client</button>&nbsp;&nbsp;
                                        <a data-toggle="collapse" href="#Clientlist" role="button" aria-expanded="false"
                                            aria-controls="Clientlist"><i
                                                class="theme-font-color font-size-1-5 mdi mdi-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div id="Clientlist" class="collapse show">
                                    <div class="setup-wrapper" id="clientlistform">
                                        <div class="setup-content">
                                            <div class="search-container  pull-right">
                                                <form>
                                                    <div class="form-row">
                                                        <div class="form-group d-flex"> <input type="search"
                                                                class="form-control" size="31" [(ngModel)]="search"
                                                                name="search" id="inputSearchbyName"
                                                                placeholder="Search by First name and Last name"
                                                                (ngModelChange)="this.searchUpdate.next($event)">
                                                        </div>
                                                        <div class="form-group col-sm m-l-5">
                                                            <button type="button"
                                                                class="btn theme-primary-button-color btn-sm m-l-10"
                                                                (click)="newgetAllClientDetails()">Search</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="table-responsive">
                                                <table class="table  table-striped m-t-10 headerfix">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" class="pointer"
                                                                (click)="changeSorting('FirstName')">First Name&nbsp;<i
                                                                    class="fa" [ngClass]="selectedCls('FirstName')"
                                                                    aria-hidden="true"></i> </th>
                                                            <th scope="col" class="pointer"
                                                                (click)="changeSorting('LastName')">Last Name&nbsp;<i
                                                                    class="fa" [ngClass]="selectedCls('LastName')"
                                                                    aria-hidden="true"></i> </th>
                                                            <th scope="col" class="pointer"
                                                                (click)="changeSorting('PhoneNumber')">Phone
                                                                Number&nbsp;<i class="fa"
                                                                    [ngClass]="selectedCls('PhoneNumber')"
                                                                    aria-hidden="true"></i> </th>
                                                            <th scope="col" class="pointer"
                                                                (click)="changeSorting('Type')">Type&nbsp;<i class="fa"
                                                                    [ngClass]="selectedCls('Type')"
                                                                    aria-hidden="true"></i> </th>
                                                            <th scope="col" class="pointer"
                                                                (click)="changeSorting('IsActive')">Status&nbsp;<i
                                                                    class="fa" [ngClass]="selectedCls('IsActive')"
                                                                    aria-hidden="true"></i> </th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="bodyfix">
                                                        <tr
                                                            *ngFor="let client of clientDetails">
                                                            <th>{{client.FirstName}}</th>
                                                            <td>{{client.LastName}}</td>
                                                            <td>{{client.PhoneNumber}}</td>
                                                            <td>{{client.Type}}</td>
                                                            <td>{{client.IsActive === true ? "Active" : "InActive"}}
                                                            </td>
                                                            <td>
                                                                <em class="fa fa-eye view-list theme-primary-icon-color m-r-10"
                                                                    style="color:orange; cursor: pointer;" pTooltip="View"
                                                                    tooltipPosition="bottom"
                                                                    (click)="add('view', client)"></em>&nbsp;&nbsp;
                                                                <em class="fa fa-pencil-square edit-list theme-secondary-icon-color m-r-10"
                                                                    style="color:green; cursor: pointer;" pTooltip="Edit"
                                                                    tooltipPosition="bottom"
                                                                    (click)="add('edit', client)"></em>&nbsp;&nbsp;
                                                                <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                                    style="color:red; cursor: pointer;" pTooltip="Delete"
                                                                    tooltipPosition="bottom"
                                                                    (click)="delete(client)"></em>
                                                            </td>
                                                        </tr>
                                                        <tr
                                                            *ngIf="clientDetails?.length === 0 || clientDetails == null">
                                                            <td colspan="12" class="text-center">
                                                                No Records Found
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="row pull-right">
                                                    <div class="col-6">
                                                        <ngb-pagination [collectionSize]="collectionSize"
                                                            (pageChange)="paginate($event)" [(page)]="page"
                                                            [maxSize]="3" [rotate]="true" [ellipses]="false"
                                                            [boundaryLinks]="true" class="d-flex justify-content-end">
                                                        </ngb-pagination>
                                                    </div>
                                                    <select class="form-control col-4" name="paginate"
                                                        [(ngModel)]="pageSize" (change)="paginatedropdown($event)">
                                                        <option *ngFor="let size of pageSizeList" value="{{size}}">
                                                            {{size}}</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showDialog">
    <app-client-create-edit *ngIf="showDialog" [selectedData]="selectedData" [isEdit]="isEdit" [isView]="isView"
        (closeDialog)="closePopupEmit($event)">
    </app-client-create-edit>
</div>




<style>
    .header {
        display: block;
        height: 500px;
        overflow-y: scroll;
    }

    .headerfix thead,
    .header tr {
        /* display: table; */
        width: 100%;
        table-layout: fixed;
    }

    .header tr {
        /* display: table; */
        width: 100%;
        table-layout: fixed;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .headerfix thead {
        width: calc(100% - 1.15em);
    }
</style>