<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MPOSLibrary.Properties.Settings.MPOS" connectionString="Data Source=mpos-prod.database.windows.net;Initial Catalog=MPOS;Persist Security Info=True;User ID=MPOSUser;Password=!Mp0s7u8i9o"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>