<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" *ngIf="mode === 'create'">Add New Collision</h5>
        <h5 class="modal-title" *ngIf="mode !== 'create'">Edit Collision</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                aria-hidden="true">&times;</span> </button>
    </div>
    <div class="modal-body">
        <!--modal body-->
        <form [formGroup]="collisionForm">
            <div class="form-row">
                <div class="form-group col-lg-4">
                    <label>Date of Collision<span class="required">*</span></label>
                    <div class="input-group" id="datepicker">
                        <input type="text" class="form-control" placeholder="Date of Collision" #dp="bsDatepicker"
                            bsDatepicker formControlName="dateOfCollision" [outsideClick]="true"
                            [bsConfig]="{ showWeekNumbers: false }" (focus)="dp.show()"
                            [ngClass]="{ 'is-invalid': submitted && f.dateOfCollision.errors }">
                        <div class="input-group-append">
                            <span class="input-group-text"><em
                                    class="font-size-1-0 theme-secondary-color mdi mdi-calendar-month"
                                    (click)="dp.show()"></em></span>
                        </div>
                        <div *ngIf="submitted && f.dateOfCollision.errors" class="invalid-feedback">
                            <div *ngIf="f.dateOfCollision.errors.required">Date Of Collision is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <label for="inputClient">Client Name<span class="required">*</span></label>
                    <div class="ui-fluid">
                        <div class="p-grid forms-grid">
                            <div class="p-col-3 p-md-6">
                                <p-autoComplete field="name" [suggestions]="clientList"
                                    (completeMethod)="filterClient($event)" [size]="10" formControlName="client"
                                    placeholder="Client Name" (onSelect)="selectedClient($event)" (onKeyUp)="onKeyUp($event)">
                                </p-autoComplete>
                                <div *ngIf="submitted && f.client.errors">
                                    <div *ngIf="f.client.errors.required" style="color: #dc3545;font-size: 80%;margin-top: .25rem;">Client Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <label for="inputVehicle">Vehicle<span class="required">*</span></label>
                    <select id="inputVehicle" class="form-control" formControlName="vehicle" [ngClass]="{ 'is-invalid': submitted && f.vehicle.errors }">
                        <option value="" hidden selected>Choose</option>
                        <option *ngFor="let v of vehicleList" value="{{v.VehicleId}}">
                            {{v.VehicleMfr}},{{v.VehicleModel}},{{v.VehicleColor}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.vehicle.errors" class="invalid-feedback">
                        <div *ngIf="f.vehicle.errors.required">Vehicle is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <label for="inputamount">Amount<span class="required">*</span></label>
                    <input type="text" class="form-control" appTwoDecimalNumber placeholder="$0.00" id="inputamount"
                        formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                    <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                        <div *ngIf="f.amount.errors.required">Amount is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-8">
                    <label>Note<span class="required">*</span></label>
                    <textarea maxlength="100" rows="4" class="form-control" formControlName="reason"
                        placeholder="Note"
                        [ngClass]="{ 'is-invalid': submitted  && f.reason.errors }"></textarea>
                    <div *ngIf="submitted  && f.reason.errors" class="invalid-feedback">
                        <div *ngIf="f.reason.errors.required">Note is required</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--modal body-->
    <div class="modal-footer">
        <button type="button" class="btn theme-optional-button-color" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn theme-primary-button-color" (click)="saveCollision()">Save</button>
    </div>
</div>