<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
        <div class="card m-b-10">
            <div class="card-body">
                <div class="tab-content">
                    <div class=" p-b-20 m-b-15">
                        <h5 class="d-inline-block">Check List</h5>&nbsp;
                        <button type="button" class="btn theme-primary-button-color btn-md float-right"
                            (click)="checlist()">Add New Item
                        </button>

                    </div>
                    <div class="setup-wrapper">
                        <div class="setup-content" id="open-collapse">
                            <div class="table-responsive">
                                <table class="table  table-striped m-t-10 headerfix" *ngIf="!isLoading">
                                    <thead>
                                        <tr>
                                            <th class="pointer" scope="col" (click)="changesort('Name')">Name&nbsp; <i
                                                    class="fa" [ngClass]="selectedCls('Name')"></i></th>
                                            <th class="pointer" scope="col" (click)="changesort('RoleName')">Role&nbsp;
                                                <i class="fa" [ngClass]="selectedCls('RoleName')"></i>
                                            </th>
                                            <th scope="col">
                                                Notification Time
                                            </th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bodyfix">
                                        <tr
                                            *ngFor="let checkList of checkListDetails | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                            <td>
                                                <span>
                                                    <span title="{{checkList.Name}}">
                                                        {{checkList.Name | slice:0:15}}
                                                        {{(checkList.Name!== null) ? checkList.Name.length <= 15 ? ''
                                                            : '...' :''}} </span>
                                                    </span>
                                            </td>
                                            <td>
                                                <span>
                                                    {{checkList.RoleName}}
                                                </span>
                                            </td>
                                            <td>
                                                <span title="{{checkList.NotificationTime}}">
                                                    {{checkList.NotificationTime | slice:0:20}}
                                                    {{(checkList.NotificationTime!== null) ?
                                                    checkList.NotificationTime.length <= 20 ? '' : '...' :''}} </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <em class="fa fa-pencil-square edit-list theme-secondary-icon-color m-r-10"
                                                        style="color:green" pTooltip="Edit" tooltipPosition="bottom"
                                                        (click)="add('edit', checkList)"></em>&nbsp;&nbsp;
                                                    <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                        style="color:red" pTooltip="Delete" tooltipPosition="bottom"
                                                        (click)="delete(checkList)"></em>
                                                </span>

                                            </td>
                                        </tr>
                                        <tr *ngIf="checkListDetails.length === 0">
                                            <td colspan="12" class="text-center"> No Records Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="loadingDiv" *ngIf="isLoading">
                                    <em class="fa fa-spin fa-spinner" style="font-size:50px;"></em><br />
                                </div>
                                <div class="row pull-right">
                                    <div class="col-6">
                                        <ngb-pagination *ngIf="checkListDetails.length > 0"
                                            [collectionSize]="collectionSize" (pageChange)="paginate($event)"
                                            [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                            [boundaryLinks]="true" class="d-flex justify-content-end">
                                        </ngb-pagination>
                                    </div>
                                    <select *ngIf="checkListDetails.length > 0" class="form-control col-4"
                                        name="paginate" [(ngModel)]="pageSize" (change)="paginatedropdown($event)">
                                        <option *ngFor="let size of pageSizeList" value="{{size}}">{{size}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>