<div class="modal-content">
    <div class="modal-body">
        <tabset #staticTabs>
            <tab heading="Payment Detail" id="tab1">
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-4 form-group">
                        Invoice Number
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-4 form-group">
                        Customer #
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-4 form-group">
                        Tip Amount<span class="required">*</span>
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-4 form-group">
                        Total Amount Due:
                    </div>
                    <div class="col-5">
                       <strong>{{totalAmount | currency}}</strong> 
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-4">
                        <strong>Payment Info</strong>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-4 form-group">
                        Card Number<span class="required">*</span>
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-4 form-group">
                        Expiration Date<span class="required">*</span>
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-4 form-group">
                        Security Code(CVV)<span class="required">*</span>
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </tab>
            <tab heading="Billing Detail">
                <br>
                <form [formGroup]="billingForm">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 form-group">
                            Company Name
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" formControlName="companyName">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 form-group">
                            First Name<span class="required">*</span>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" formControlName="firstName">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 form-group">
                            Last Name<span class="required">*</span>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" formControlName="lastName">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 form-group">
                            Address 1<span class="required">*</span>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" formControlName="address1">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 form-group">
                            Address 2
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" formControlName="address2">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 form-group">
                            State<span class="required">*</span>
                        </div>
                        <div class="col-5">
                            <!-- <input type="text" class="form-control" formControlName="state"> -->
                            <app-state-dropdown *ngIf="isStateLoaded" [selectedStateId]="selectedStateId"
                                (stateId)="getSelectedStateId($event)">
                            </app-state-dropdown>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 form-group">
                            City<span class="required">*</span>
                        </div>
                        <div class="col-5">
                            <!-- <input type="text" class="form-control" formControlName="city"> -->
                            <app-city [State]="State" *ngIf="isStateLoaded" (selectCity)="selectCity($event)"
                                [selectedCityId]="selectedCityId" [selectedStateId]="selectedStateId">
                            </app-city>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 form-group">
                            Zip/Postal Code<span class="required">*</span>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" formControlName="zip">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 form-group">
                            Country<span class="required">*</span>
                        </div>
                        <div class="col-5">
                            <!-- <input type="text" class="form-control" formControlName="country"> -->
                            <app-country-dropdown *ngIf="isStateLoaded" [selectedCountryId]="selectedCountryId">
                            </app-country-dropdown>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 form-group">
                            Email Address<span class="required">*</span>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" formControlName="email">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 form-group">
                            Phone#
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" formControlName="phone">
                        </div>
                    </div>
                </form>
            </tab>
        </tabset>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn theme-optional-button-color" (click)="process()">process</button>
    <button type="button" class="btn theme-optional-button-color" (click)="closeModal()">Cancel</button>
</div>