<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
        <div class="card m-b-10">
            <div class="card-body">
                <div class="tab-content">
                    <div class="title-border p-b-20 m-b-15">
                        <h5 class="d-inline-block">Service List</h5>&nbsp;
                        <button type="button" class="btn theme-primary-button-color btn-md float-right"
                            (click)="add('add',[])">Add
                            New Service</button>
                    </div>
                    <div class="setup-wrapper">
                        <div class="setup-content" id="open-collapse">
                            <div class="search-container  pull-right">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group d-flex">

                                            <input type="search" class="form-control" [(ngModel)]="search"
                                                (ngModelChange)="this.searchUpdate.next($event)" size="25" name="search"
                                                id="inputSearch" placeholder="Search by Name, Type">
                                        </div>&nbsp;
                                        <div class="form-group d-flex"> <select class="form-control"
                                                [(ngModel)]="searchStatus" name="searchStatus" id="inputSearchbyStatus">
                                                <option value="" selected hidden>Status</option>
                                                <option *ngFor="let status of Status" value="{{status.id}}">
                                                    {{status.Value}}</option>
                                            </select> </div>
                                        <div class="form-group col-sm m-l-5">
                                            <button type="button" (click)="searchService()"
                                                class="btn theme-primary-button-color btn-sm m-l-10">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="table-responsive">

                                <table class="table  table-striped m-t-10 headerfix" *ngIf="!isLoading">
                                    <thead>
                                        <tr>
                                            <th class="pointer" (click)="changeSorting('ServiceName')">Name&nbsp;
                                                <i class="fa" [ngClass]="selectedCls('ServiceName')"></i>
                                            </th>
                                            <th class="pointer" (click)="changeSorting('ServiceType')">Type&nbsp; <i
                                                    class="fa" [ngClass]="selectedCls('ServiceType')"></i></th>
                                            <th class="pointer" (click)="changeSorting('Price')">Price&nbsp; <i
                                                    class="fa" [ngClass]="selectedCls('Price')"></i></th>
                                            <th class="pointer" (click)="changeSorting('IsActive')">Status&nbsp; <i
                                                    class="fa" [ngClass]="selectedCls('IsActive')"></i></th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bodyfix">
                                        <tr *ngFor="let serviceSetup of serviceSetupDetails">
                                            <td scope="row">{{serviceSetup.ServiceName}}</td>
                                            <td>{{serviceSetup.ServiceType}}</td>
                                            <td>{{serviceSetup.Price | currency}}</td>
                                            <td>{{serviceSetup.IsActive === true ? "Active" : "InActive"}}</td>
                                            <td>
                                                <em class="fa fa-pencil-square edit-list theme-secondary-icon-color m-r-10"
                                                    style="color:green" pTooltip="Edit" tooltipPosition="bottom"
                                                    (click)="add('edit', serviceSetup)"></em>&nbsp;&nbsp;
                                                <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                    style="color:red" pTooltip="Delete" tooltipPosition="bottom"
                                                    (click)="delete(serviceSetup)"></em>
                                            </td>
                                        </tr>
                                        <tr *ngIf="serviceSetupDetails.length == 0">
                                            <td colspan="12" class="text-center"> No Records Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="loadingDiv" *ngIf="isLoading">
                                    <em class="fa fa-spin fa-spinner" style="font-size:50px;"></em><br />
                                </div>
                                <div class="row pull-right">
                                    <div class="col-6">
                                        <ngb-pagination *ngIf="serviceSetupDetails.length > 0"
                                            [collectionSize]="collectionSize" (pageChange)="paginate($event)"
                                            [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                            [boundaryLinks]="true" class="d-flex justify-content-end">
                                        </ngb-pagination>
                                    </div>
                                    <select *ngIf="serviceSetupDetails.length > 0" class="form-control col-4"
                                        name="paginate" [(ngModel)]="pageSize" (change)="paginatedropdown($event)">
                                        <option *ngFor="let size of pageSizeList" value="{{size}}">{{size}}</option>

                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-dialog styleClass="MyDialog" header="{{headerData}}" [(visible)]="showDialog" [blockScroll]="true" [modal]="true"
        [resizable]="true" appendTo="body" [focusOnShow]="false" [closable]="false">
        <app-service-create-edit *ngIf="showDialog" [selectedData]="selectedData" [isEdit]="isEdit"
            (closeDialog)="closePopupEmit($event)">
        </app-service-create-edit>
    </p-dialog>