<form [formGroup]="forgotPasswordForm" >
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <select class="form-control" (change)="selectOption($event)">
                    <option value=""></option>
                    <option value="email">E-mail id</option>
                    <option value="mobile">Mobile number</option>
                </select>
            </div>
            <div class="col-sm-6" *ngIf="isEmail">
                <input type="text" class="form-control" formControlName="email" placeholder="Enter Email-Id" maxlength="50" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email?.errors" class="invalid-feedback" >
                    <div *ngIf="f.email?.errors?.required">Please enter valid mail id</div>
                </div>
            </div>
            <div class="col-sm-6" *ngIf="isMobileNumber">
                <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile Number" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
                <div *ngIf="submitted && f.mobile?.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile?.errors?.required">Please enter valid mobile number</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-secondary" (click)="submit(forgotPasswordForm)">Submit</button>
        <button class="btn btn-secondary" (click)="backToLoginPage()">Cancel</button>
    </div>
</form>