<div id="page-content">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item"><a appNavigatePage>Admin</a></li>
                    <li class="breadcrumb-item"><a (click)="cancel()">Tenant Setup</a></li>
                    <li class="breadcrumb-item active" aria-current="page" *ngIf="!isEdit">Add Tenant
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" *ngIf="isEdit">Edit Tenant
                    </li>
                </ol>
            </nav>
            <div class="title-border col-12 p-b-10 m-b-15 p-l-0">
                <h3 *ngIf="!isEdit">Add New Tenant</h3>
                <h3 *ngIf="isEdit">Edit Tenant</h3>
            </div>
            <div class="col-12 p-l-0 p-r-0">
                <div class="card  m-b-10">
                    <div class="card-body">
                        <div class="title-border p-b-5 m-b-5">
                            <h6 class="d-inline-block font-weight-600">Personal Details</h6>
                            <div class="pull-right m-t-4 pointer">
                                <a> <em class="fa fa-angle-up font-size-1-4"></em> </a>
                            </div>
                        </div>
                        <form [formGroup]="personalform">
                            <div class="form-row">
                                <div class="col-md-3 form-group">
                                    <label>First Name <span class="required">*</span></label>
                                    <input type="text" class="form-control" formControlName="firstName"
                                        [appMaxLength]="50"
                                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Last Name <span class="required">*</span></label>
                                    <input type="text" class="form-control" formControlName="lastName"
                                        [appMaxLength]="50"
                                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Address<span class="required">*</span></label>
                                    <input type="text" class="form-control" formControlName="address"
                                        [appMaxLength]="200"
                                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                        <div *ngIf="f.address.errors.required">Address is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="inputState">State&nbsp;</label>
                                    <!-- <app-state-dropdown [isdisable]="true" (stateId)="getSelectedStateId($event)">
                                    </app-state-dropdown> -->
                                    <!-- <p-dropdown [options]="stateList" styleClass="col-12" name="state"
                                         [(ngModel)]="state" optionLabel="name" [filter]="true"
                                        placeholder="Choose" (onChange)="stateSelection($event)">
                                    </p-dropdown> -->
                                    <p-dropdown [options]="stateList" placeholder="Choose" optionLabel="StateName"
                                        styleClass="col-12" [filter]="true" formControlName="stateId"
                                        (onChange)="stateSelection($event)"></p-dropdown>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>City</label>
                                    <!-- <app-city [State]="State" (selectCity)="selectCity($event)"></app-city> -->
                                    <p-dropdown [options]="cityList" placeholder="Choose" optionLabel="CityName"
                                        styleClass="col-12" [filter]="true" formControlName="cityId"></p-dropdown>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>ZipCode</label>
                                    <input type="text" numbersOnly class="form-control" maxlength="5" minlength="5"
                                        formControlName="zipcode" [appMaxLength]="5">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Email<span class="required">*</span></label>
                                    <input type="text" class="form-control" formControlName="email"
                                        (change)="clientEmailExist()"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email Id is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Mobile No</label>
                                    <input type="text" class="form-control" numbersOnly [appMaxLength]="10"
                                        formControlName="mobile">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Phone No</label>
                                    <input type="text" class="form-control" appPhoneMask formControlName="phone">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card  m-b-10">
                    <div class="card-body">
                        <div class="title-border p-b-5 m-b-5 m-t-10">
                            <h6 class="d-inline-block font-weight-600">Company Details </h6>
                            <div class="pull-right m-t-4 pointer">
                                <a> <em class="fa fa-angle-up font-size-1-4"></em> </a>
                            </div>
                        </div>
                        <form [formGroup]="companyform">
                            <div class="form-row">
                                <div class="col-md-3 form-group">
                                    <label>Company Name<span class="required">*</span></label>
                                    <input type="text" class="form-control" formControlName="company"
                                        [appMaxLength]="50" [ngClass]="{ 'is-invalid': submitted && g.company.errors }">
                                    <div *ngIf="submitted && g.company.errors" class="invalid-feedback">
                                        <div *ngIf="g.company.errors.required">Company Name is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Date Of Subscription<span class="required">*</span></label>
                                    <input type="text" [bsConfig]="{ showWeekNumbers: false }" class="form-control"
                                        bsDatepicker #dp="bsDatepicker" (focus)="dp.show()"
                                        formControlName="dateOfSubscription"
                                        [ngClass]="{ 'is-invalid': submitted && g.dateOfSubscription.errors }">
                                    <div *ngIf="submitted && g.dateOfSubscription.errors" class="invalid-feedback">
                                        <div *ngIf="g.dateOfSubscription.errors.required">Date of subscription is
                                            required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>No. of Locations</label>
                                    <input type="text" class="form-control" numbersOnly [appMaxLength]="2"
                                        (focus)="dp.hide()" formControlName="noOfLocation">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Payment Date<span class="required">*</span></label>
                                    <input type="text" [bsConfig]="{ showWeekNumbers: false }"
                                        formControlName="paymentDate" class="form-control" bsDatepicker
                                        #pd="bsDatepicker" (focus)="pd.show()"
                                        [ngClass]="{ 'is-invalid': submitted && g.paymentDate.errors }">
                                    <div *ngIf="submitted && g.paymentDate.errors" class="invalid-feedback">
                                        <div *ngIf="g.paymentDate.errors.required">Payment date is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Deactivation Date</label>
                                    <input type="text" [bsConfig]="{ showWeekNumbers: false }"
                                        formControlName="deactivation" #dd="bsDatepicker" (focus)="dd.show()"
                                        (focus)="pd.hide()" class="form-control" bsDatepicker>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card  m-b-10">
                    <div class="card-body">
                        <div class="title-border p-b-5 m-b-5 m-t-10">
                            <h6 class="d-inline-block font-weight-600">Mobile Apps
                            </h6>
                            <div class="d-inline-block custom-control custom-checkbox m-l-40">
                                <input class="custom-control-input" type="checkbox" id="flexCheckDefault"
                                    [checked]="isMobileAppSelectAll" (change)="selectAllMobileApp($event)">
                                <label class="custom-control-label" for="flexCheckDefault">
                                    Select All
                                </label>
                            </div>
                            <div class="pull-right m-t-4 pointer">
                                <a> <em class="fa fa-angle-up font-size-1-4"></em> </a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b-20">
                        <div class="col-md-3" *ngFor="let app of mobileAppList">
                            <div class="custom-control custom-checkbox m-l-30 m-t-5 m-b-5">
                                <input class="custom-control-input" type="checkbox" id="{{app.MobileAppName}}"
                                    [checked]="app.IsChecked" (change)="selectMobileApp(app)">
                                <label class="custom-control-label" for="{{app.MobileAppName}}">
                                    {{app.MobileAppName}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card  m-b-10">
                    <div class="card-body">
                        <div class="title-border p-b-5 m-b-5 m-t-10">
                            <h6 class="d-inline-block font-weight-600">Web App - Modules
                            </h6>
                            <div class="d-inline-block custom-control custom-checkbox m-l-40">
                                <input class="custom-control-input" type="checkbox" id="flexCheckDefault"
                                    [checked]="isSelectAll" (change)="selectAll($event)">
                                <label class="custom-control-label" for="flexCheckDefault">
                                    Select All
                                </label>
                            </div>
                            <div class="pull-right m-t-4 pointer">
                                <a> <em class="fa fa-angle-up font-size-1-4"></em> </a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b-20">
                        <div class="col-md-3" *ngFor="let module of moduleList">
                            <div class="custom-control custom-checkbox m-l-30 m-t-5 m-b-5">
                                <input class="custom-control-input" type="checkbox" id="{{module.ModuleId}}"
                                    [checked]="module.IsChecked" (change)="selectModule(module)">
                                <label class="custom-control-label" for="{{module.ModuleId}}">
                                    {{module.ModuleName}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" *ngFor="let mod of moduleList">
                        <div class="title-border p-b-5  m-b-5 m-t-10">
                            <h6 class="d-inline-block font-weight-600">{{mod.ModuleName}} Screen
                            </h6>
                            <div class="pull-right m-t-4 pointer">
                                <a> <em class="fa fa-angle-up font-size-1-4"></em> </a>
                            </div>
                        </div>
                        <div class="row m-b-20">
                            <div class="col-md-3"
                                *ngFor="let screen of moduleScreenList | filter : { ModuleId : mod.ModuleId } ">
                                <div class="custom-control custom-checkbox m-l-30 m-t-5 m-b-5">
                                    <input class="custom-control-input" type="checkbox" id="{{screen.ViewName}}"
                                        [checked]="screen.IsChecked" (change)="selectModuleScreen(screen)">
                                    <label class="custom-control-label" for="{{screen.ViewName}}">
                                        {{screen.ViewName}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="m-t-12 pull-right mw-100">
                    <button type="button" class="btn theme-optional-button-color m-r-5"
                        (click)="cancel()">Cancel</button>
                    <button type="button" class="btn theme-primary-button-color" (click)="addTenant()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>