<div id="page-content">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item"><span>Admin</span></li>
                    <li class="breadcrumb-item active" aria-current="page">Vehicle</li>
                </ol>
            </nav>
            <div class="title-border col-12 p-b-10 m-b-15 p-l-0">
                <h3>Vehicle</h3>
            </div>
            <div class="col-12 card">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="title-border p-b-20 m-b-15">
                            <h5 class="d-inline-block">Vehicle List</h5>&nbsp;
                        </div>
                        <div class="setup-wrapper">
                            <div class="setup-content" id="open-collapse">
                                <div class="search-container  pull-right">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group d-flex"> <input type="search" class="form-control"
                                                    [(ngModel)]="search" name="search" id="inputSearchbyName"
                                                    placeholder="search"
                                                    (keyup)="$event.keyCode == 13 ? vehicleSearch() : null"> </div>
                                            <div class="form-group col-sm m-l-5">
                                                <button type="button"
                                                    class="btn theme-primary-button-color btn-sm m-l-10"
                                                    (click)="vehicleSearch()">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="table-responsive" *ngIf="isTableEmpty === true"> <span
                                        class="col-12 row d-block">No Vehicles Found</span></div>
                                <div class="table-responsive" *ngIf="isTableEmpty === false">
                                    <table class="table  table-striped m-t-10">
                                        <thead>
                                            <tr>
                                                <th scope="col">Client Name</th>
                                                <th scope="col">Vehicle #</th>
                                                <th scope="col">Color</th>
                                                <th scope="col">Make</th>
                                                <th scope="col">Model</th>
                                                <th scope="col">Upcharge</th>
                                                <th scope="col">Barcode</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let vehicle of vehicleDetails | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                                <th scope="row">{{vehicle.ClientName}}</th>
                                                <td>{{vehicle.VehicleNumber}}</td>
                                                <td>{{vehicle.Color}}</td>
                                                <td>{{vehicle.VehicleMake}}</td>
                                                <td>{{vehicle.ModelName}}</td>
                                                <td>{{vehicle.Upcharge}}</td>
                                                <td>{{vehicle.Barcode}}</td>
                                                <td>
                                                    <em class="fa fa-eye view-list theme-primary-icon-color m-r-10"
                                                        style="color:orange" pTooltip="view" tooltipPosition="bottom"
                                                        (click)="add('view', vehicle)"></em>&nbsp;&nbsp;
                                                    <em class="fa fa-pencil-square edit-list theme-secondary-icon-color m-r-10"
                                                        style="color:green" pTooltip="edit" tooltipPosition="bottom"
                                                        (click)="add('edit', vehicle)"></em>&nbsp;&nbsp;
                                                    <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                        style="color:red" pTooltip="delete" tooltipPosition="bottom"
                                                        (click)="delete(vehicle)"></em>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ngb-pagination *ngIf="collectionSize > 10" [collectionSize]="collectionSize"
                                        [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"
                                        [boundaryLinks]="true" class="d-flex justify-content-end">
                                    </ngb-pagination>
                                </div>
                            </div>
                            <p-dialog styleClass="MyDialog" header="{{headerData}}" [(visible)]="showDialog"
                                [blockScroll]="true" [modal]="true" [focusOnShow]="false" [closable]="false">
                                <app-vehicle-create-edit *ngIf="showDialog" [selectedData]="selectedData"
                                    [additionalService]="additionalService" [isEdit]="isEdit" [isView]="isView"
                                    (closeDialog)="closePopupEmit($event)">
                                </app-vehicle-create-edit>
                            </p-dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>