<div id="page-content">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item"><span>Admin</span></li>
                    <li class="breadcrumb-item active" aria-current="page">Vehicle</li>
                </ol>
            </nav>
            <div class="title-border col-12 p-b-10 m-b-15 p-l-0">
                <h3>Client</h3>
            </div>
            <div class="card m-t-10 m-b-10">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="title-border p-b-20 m-b-15">
                            <h5 class="d-inline-block">Vehicle List</h5>&nbsp;
                            <button type="button" class="btn theme-primary-button-color btn-md float-right"
                                (click)="add('add',[])">Add New Vehicle</button>
                        </div>
                        <div class="setup-wrapper">
                            <div class="setup-content" *ngIf="isTableEmpty === true"> <span
                                    class="col-12 row d-block">No Vehicles Found</span></div>
                            <div class="setup-content" id="open-collapse" *ngIf="isTableEmpty === false">
                                <p-table [value]="vehicleDetails"
                                    class="table table-responsive-xl table-striped table-hover" [paginator]="true"
                                    [rows]="5">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th scope="col">Client Name</th>
                                            <th scope="col">vehicle #</th>
                                            <th scope="col">Color</th>
                                            <th scope="col">Make</th>
                                            <th scope="col">Model</th>
                                            <th scope="col">Upcharge</th>
                                            <th scope="col">Barcode</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-vehicle>
                                        <tr>
                                            <td>{{clientName}}</td>
                                            <td>{{vehicle.VehicleNumber}}</td>
                                            <td>{{vehicle.VehicleColor}}</td>
                                            <td>{{vehicle.VehicleMake}}</td>
                                            <td>{{vehicle.VehicleModel}}</td>
                                            <td>{{vehicle.Upcharge}}</td>
                                            <td>{{vehicle.Barcode}}</td>
                                            <td>
                                                <em class="fa fa-eye view-list theme-primary-icon-color m-r-10"
                                                    style="color:orange" pTooltip="view" tooltipPosition="bottom"
                                                    (click)="add('view', vehicle)"></em>&nbsp;&nbsp;
                                                <em class="fa fa-pencil-square edit-list theme-secondary-icon-color m-r-10"
                                                    style="color:green" pTooltip="edit" tooltipPosition="bottom"
                                                    (click)="add('edit', vehicle)"></em>&nbsp;&nbsp;
                                                <em class="fa fa-times-circle delete-list theme-optional-icon-color"
                                                    style="color:red" pTooltip="delete" tooltipPosition="bottom"
                                                    (click)="delete(vehicle)"></em>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                            <p-dialog styleClass="MyDialog" header="{{headerData}}" [(visible)]="showDialog"
                                [blockScroll]="true" [modal]="true" [focusOnShow]="false" [closable]="false">
                                <app-vehicle-create-edit *ngIf="showDialog" [selectedData]="selectedData"
                                    [isEdit]="isEdit" [isView]="isView" (closeDialog)="closePopupEmit($event)">
                                </app-vehicle-create-edit>
                            </p-dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>