<form [formGroup]="signupForm">
  <p class="h4 mb-4">Sign up</p>

  <div>
    <input type="text" id="txtName" formControlName="userName" />
    <span *ngIf="!signupForm.get('userName').valid && signupForm.get('userName').touched" class="help-block">
      <span formControlName="unValidation" *ngIf="signupForm.get('userName').errors['required']">User Name is Required.</span>
      <span *ngIf="signupForm.get('userName').errors['nameIsForbidden']">User Name is not valid.</span>
    </span>
  </div>


  <div class="form-group" formArrayName="hobby">
    <label for="txtUserName">Hobby</label>
    <div *ngFor="let h of GetHobbyControls(); let i= index">
      <input type="text" id="txtHobby" [formControlName]="i" />
    </div>
  </div>

  <button class="btn btn-info btn-block my-4" (click)="AddHobby()">Add Hobby</button>
</form>
