<div class="wrapper">
<div class="content-page">
  <div class="content">
<div class="navbar-custom" style="z-index:2;">
  <ul class="list-unstyled topbar-right-menu float-right mb-0">
<li class="notification-list">
          <a class="nav-link" href="javascript: void(0);">
              <i class="dripicons-gear noti-icon"></i>
          </a>
      </li>
      <li class="dropdown notification-list">
          <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-message-processing-outline noti-icon" style="line-height: 76px;"></i>
              <span class="noti-icon-badge" style="background-color: #FD397A;"> 4 </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

              <!-- item-->
              <div class="dropdown-item noti-title">
                  <h5 class="m-0">
                      <span class="float-right">
                          <a href="javascript: void(0);" class="text-dark">
                              <small>Clear All</small>
                          </a>
                      </span>Notification
                  </h5>
              </div>
          </div>
      </li>




      <li class="dropdown notification-list">
          <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
              aria-expanded="false">
              <span class="account-user-avatar"> 
                  <img src="assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
              </span>
              <span>
                  <span class="account-user-name p-t-10">Admin</span>
<span class="account-position"></span>
              </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
            
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <i class="mdi mdi-account-circle mr-1"></i>
                  <span>My Account</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <i class="mdi mdi-account-edit mr-1"></i>
                  <span>Settings</span>
              </a>
<!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <i class="mdi mdi-logout mr-1"></i>
                  <span>Logout</span>
              </a>

          </div>
      </li>

  </ul>
  <button class="button-menu-mobile nav-link quick-sidebar-toggler disable-btn">
      <i class="mdi mdi-menu"></i>
  </button>
<!--                         <div class="app-search dropdown d-none d-lg-block">
      <form>
          <div class="input-group">
              <input type="text" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
              <span class="mdi mdi-magnify search-icon"></span>
              <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Search</button>
              </div>
          </div>

      </form>
  </div> -->
</div>
</div>
</div>
</div>