<div id="page-content">
    <!--page Content-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-12 p-0" aria-label="breadcrumb">
                <!--bread crumb-->
                <ol class="breadcrumb font-size--9">
                    <li class="breadcrumb-item"><a (click)="landing()">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </nav>
            <div class="col-lg-12 p-l-0 p-r-0">
                <div class="row no-gutter">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="d-inline-block m-b-5">Checkout</h4>
                                <div class="date d-inline-block datepicker-view p-l-10" data-date-format="dd/mm/yyyy">
                                    <input type="text" placeholder="Daterangepicker" name="dateRange" size="25"
                                        class="form-control" [(ngModel)]="daterangepickerModel" bsDaterangepicker
                                        (bsValueChange)="onValueChange($event)"
                                        [bsConfig]="{ maxDateRange: 7 , showWeekNumbers: false , displayMonths : 1 , selectFromOtherMonth : false}">


                                </div>
                                <div class="search-container  pull-right">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group d-flex">
                                                <input type="search" class="form-control" [(ngModel)]="query" size="45"
                                                    name="search" id="inputSearch" placeholder="Search by Ticket #, Client Name, Service..."
                                                    (ngModelChange)="this.searchUpdate.next($event)">
                                            </div>
                                            <div class="form-group d-flex col-sm m-l-5">
                                                <button type="button"
                                                    class="btn theme-primary-button-color btn-sm m-l-10"
                                                    (click)="checkOutSearch()">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="Checkoutlist" class="collapse show">
                                    <div class="table-responsive" style="overflow-x: scroll;">
                                        <table class="table border table-striped m-t-10 headerfix">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="pointer"
                                                        (click)="changeSorting('TicketNumber')">Ticket No&nbsp; <i
                                                            class="fa" [ngClass]="selectedCls('TicketNumber')"></i></th>
                                                    <th scope="col" class="pointer"
                                                        (click)="changeSorting('CustomerFirstName')">Cus. First
                                                        Name&nbsp; <i class="fa"
                                                            [ngClass]="selectedCls('CustomerFirstName')"></i></th>
                                                    <th scope="col" class="pointer"
                                                        (click)="changeSorting('CustomerLastName')">Cus. Last Name&nbsp;
                                                        <i class="fa" [ngClass]="selectedCls('CustomerLastName')"></i>
                                                    </th>
                                                    <th scope="col" class="pointer">Make/ Model/ Color&nbsp; <i
                                                            class="fa"></i></th>
                                                    <th scope="col" class="pointer" (click)="changeSorting('Checkin')">
                                                        CheckIn&nbsp; <i class="fa"
                                                            [ngClass]="selectedCls('Checkin')"></i></th>
                                                    <th scope="col" class="pointer" (click)="changeSorting('Checkout')">
                                                        Est. CheckOut&nbsp; <i class="fa"
                                                            [ngClass]="selectedCls('Checkout')"></i></th>
                                                    <th scope="col" class="pointer">Service&nbsp; <i class="fa"></i>
                                                    </th>
                                                    <th scope="col" class="pointer">Additional Services&nbsp; <i
                                                            class="fa"></i></th>

                                                    <th scope="col" class="pointer">Pay&nbsp; <i class="fa"></i></th>
                                                    <th scope="col" class="pointer"
                                                        (click)="changeSorting('MembershipName')">Membership<i
                                                            class="fa" [ngClass]="selectedCls('MembershipName')"></i>
                                                    </th>
                                                    <th scope="col" class="pointer">Status&nbsp; <i class="fa"></i></th>

                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="bodyfix">
                                                <tr *ngFor="let checkout of uncheckedVehicleDetails">
                                                    <th scope="row" style="border-left:5px solid"
                                                        [ngStyle]="{'color': checkout.ColorCode, 'border-right-color': checkout.ColorCode}">
                                                        {{checkout.TicketNumber}}</th>
                                                    <td>{{checkout.CustomerFirstName}}</td>
                                                    <td>{{checkout.CustomerLastName}}</td>

                                                    <td class="table-ellipsis"
                                                        pTooltip="{{checkout.VehicleDescription}}"
                                                        tooltipPosition="top">{{checkout.VehicleMake}},
                                                        {{checkout.VehicleModel}}, {{checkout.VehicleColor}}</td>
                                                    <td>{{checkout.Checkin}}</td>
                                                    <td>{{checkout.Checkout}}</td>
                                                    <td class="table-ellipsis" pTooltip="{{checkout.Services}}"
                                                        tooltipPosition="top">{{checkout.Services}}</td>
                                                    <td class="table-ellipsis"
                                                        pTooltip="{{checkout.AdditionalServices}}"
                                                        tooltipPosition="top">{{checkout.AdditionalServices | slice:0:20
                                                        }}{{checkout.AdditionalServices != null ?
                                                        checkout.AdditionalServices.length > 20 ? '...' : '' : ''}}
                                                    </td>
                                                    <td>{{checkout.Cost | currency}}</td>
                                                    <td class="table-ellipsis text-center"
                                                        pTooltip="{{checkout.MembershipName}}" tooltipPosition="top">
                                                        <em *ngIf="checkout.MembershipName !== ''"
                                                            class="mdi mdi-bookmark font-size-1-5 "
                                                            style="color: #FFA500;"></em>{{checkout.MembershipName}}
                                                    </td>
                                                    <td
                                                        [ngStyle]="{'color': checkout.MembershipNameOrPaymentStatus === 'Paid' ? 'Green' : 'none'}">
                                                        <span
                                                            *ngIf="checkout.MembershipNameOrPaymentStatus == 'Paid'">{{checkout.MembershipNameOrPaymentStatus}}</span>
                                                    </td>
                                                    <td><em class="mdi mdi-cart theme-secondary-icon-color font-size-1-5 pointer"
                                                            pTooltip="Checkout" tooltipPosition="top"
                                                            (click)="statusConfirmation('Check Out',checkout)"></em>
                                                        <em class="mdi mdi-file-clock font-size-1-5 pointer"
                                                            [ngClass]="{ 'theme-primary-color': checkout.MembershipNameOrPaymentStatus !== 'Hold', 'theme-disabled-icon-color':checkout.isHold == true }"
                                                            pTooltip="Hold" tooltipPosition="top"
                                                            (click)="statusConfirmation('Hold',checkout)"></em>
                                                        <em class="mdi mdi-checkbox-marked  font-size-1-5 pointer"
                                                            *ngIf="(checkout.MembershipNameOrPaymentStatus !== 'Completed' && checkout.valuedesc !== 'Completed') || (checkout.MembershipNameOrPaymentStatus !== 'PAID' && checkout.valuedesc !== 'Completed')"
                                                            pTooltip="Complete" tooltipPosition="top"
                                                            (click)="statusConfirmation('Complete',checkout)"></em>

                                                    </td>
                                                </tr>
                                                <tr *ngIf="uncheckedVehicleDetails.length === 0">
                                                    <td colspan="12" class="text-center">
                                                        No Record Found
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row pull-right" *ngIf="uncheckedVehicleDetails.length > 5">
                                            <div class="col-6">
                                                <ngb-pagination [collectionSize]="collectionSize"
                                                    (pageChange)="paginate($event)" [(page)]="page" [maxSize]="3"
                                                    [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                                                    class="d-flex justify-content-end">
                                                </ngb-pagination>
                                            </div>
                                            <select class="form-control col-4" name="paginate" [(ngModel)]="pageSize"
                                                (change)="paginatedropdown($event)">
                                                <option *ngFor="let size of pageSizeList" value="{{size}}">{{size}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--delete modal--->
</div>