<div class="card  m-b-10">
    <div class="card-body">
        <div class="title-border p-b-5 m-b-5 m-t-10">
            <h6 class="d-inline-block font-weight-600">Documents <em
                    class="mdi mdi-pencil-circle pointer theme-secondary-icon-color m-l-5 font-size-1-3"
                    id="doc-enable"></em>
                <span class="d-none btn-enable"><button type="button"
                        class="btn theme-primary-button-color btn-md m-l-10" href="#documentModal"
                        data-toggle="modal">Add New Document</button>
                </span> </h6>
            <div class="pull-right m-t-4 pointer">
                <a id="documenttoggle"> <em class="fa fa-angle-up font-size-1-4"></em> </a>
            </div>
        </div>
        <div class="table-responsive m-t-10" id="docform">
            <table class="table border table-striped">
                <thead>
                    <tr>
                        <th scope="col">Doc#</th>
                        <th scope="col">File Name</th>
                        <th scope="col">Date Created </th>
                        <th scope="col">Last Modified</th>
                        <th scope="col">Type</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>SSN.pdf</td>
                        <td> 20/7/2020 </td>
                        <td>26/7/2020 </td>
                        <td>-</td>
                        <td> <i class="mdi mdi-file-download-outline pointer theme-disabled-icon-color  md-doc m-r-2 font-size-1-1"
                                href="#uploadModal" data-toggle="modal"></i> <i
                                class="mdi mdi-close-circle pointer  theme-disabled-icon-color md-close font-size-1-1"
                                href="#deletedocModal" data-toggle="modal"></i> </td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Address-proof.pdf</td>
                        <td> 20/7/2020 </td>
                        <td>26/7/2020 </td>
                        <td>-</td>
                        <td> <i class="mdi mdi-file-download-outline pointer theme-disabled-icon-color m-r-2 md-doc font-size-1-1"
                                href="#uploadModal" data-toggle="modal"></i> <i
                                class="mdi mdi-close-circle pointer theme-disabled-icon-color md-close font-size-1-1"
                                href="#deletedocModal" data-toggle="modal"></i> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="display-none" id="doc-enable-btn">
            <div class="title-border"></div>
            <div class="pull-right mw-100 m-t-5">
                <button type="button" class="btn theme-optional-button-color" id="doc-disable">Cancel</button>
                <button type="button" class="btn theme-primary-button-color">Save</button>
            </div>
        </div>
    </div>
</div>