<div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
    <h4 class="header-title">Basic Setup</h4>
    <div class="card m-t-10">
        <div class="card-body">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade active show" id="v-pills-basic" role="tabpanel"
                    aria-labelledby="v-pills-basic-tab">
                    <div class="portlet-title">
                        <div class="caption bold">Location List</div>
                        <div class="actions"></div>
                    </div><!-- end nav-->
                    <div class="portlet-body">
                        <div class="">
                            <div class="tab-content">
                                <div class="tab-pane show active" id="responsive-preview">
                                    <div class="table-responsive">
                                        <p-table [value]="locationSetupDetails" class="table mb-0">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th scope="col">Location ID</th>
                                                    <th scope="col">Location Name</th>
                                                    <th scope="col">Franchise?</th>
                                                    <th scope="col">Phone Number</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-locationSetup>
                                                <tr>
                                                    <td>{{locationSetup.LocationId}}</td>
                                                    <td>{{locationSetup.LocationName}}</td>
                                                    <td>{{locationSetup.IsFranchise}}</td>
                                                    <td>{{locationSetup.PhoneNumber}}</td>
                                                    <td>{{locationSetup.Email}}</td>
                                                    <td>
                                                        <em class="mdi mdi-pencil-circle ic-edit" style="color:green"
                                                            pTooltip="edit" tooltipPosition="bottom"
                                                            (click)="add('edit', locationSetup)"></em>&nbsp;&nbsp;
                                                        <em class="mdi mdi-close-circle ic-delete" style="color:red"
                                                            pTooltip="delete" tooltipPosition="bottom"
                                                            (click)="delete(locationSetup)"></em>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <p-dialog header="{{headerData}}" [(visible)]="showDialog" [blockScroll]="true"
                                            [modal]="true" [responsive]="true" [focusOnShow]="false"
                                            [style]="{width: '1000px', height: '1000px'}">
                                            <app-location-create-edit *ngIf="showDialog" [selectedData]="selectedData"
                                                [isEdit]="isEdit" (closeDialog)="closePopupEmit($event)">
                                            </app-location-create-edit>
                                        </p-dialog>
                                    </div> <!-- end table-responsive-->
                                    <button type="button" class="btn btn-success" (click)="add('add',[])">Add New Location</button>
                                </div> <!-- end preview-->
                            </div> <!-- end tab-content-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <button type="button" class="btn btn-light">Save &amp; Close</button>
        <button type="button" class="btn btn-light">Save &amp; Continue Service Setup</button>
    </div>
</div>


<!-- <div class="col-4">
    <form [formGroup]="locationSetupForm">
        <div class="row">
            <div class="col-6">
                <label><b>Work Threshold Hour : </b></label>
                <input type="text" class="form-control"  formControlName="workHour">
            </div>
        </div>               
    </form>
</div>
<nbsp></nbsp>
<button type="button" class="" (click)="add('add',[])">Add</button>
<p-table [value]="locationSetupDetails">
    <ng-template pTemplate="header">
        <tr>
            <th>Location ID</th>
            <th>Location Name</th>
            <th>Franchise?</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-locationSetup>
        <tr>
            <td>{{locationSetup.LocationId}}</td>
            <td>{{locationSetup.LocationName}}</td>
            <td>{{locationSetup.IsFranchise}}</td>
            <td>{{locationSetup.PhoneNumber}}</td>
            <td>{{locationSetup.Email}}</td>
            <td>
                <em class="fa fa-pencil" style="color:orange" pTooltip="edit" tooltipPosition="bottom"
                                (click)="add('edit', locationSetup)"></em>&nbsp;&nbsp;
                            <em class="fa fa-close" style="color:orange" pTooltip="delete" tooltipPosition="bottom"
                                (click)="delete(locationSetup)"></em>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="{{headerData}}" [(visible)]="showDialog" [blockScroll]="true" [modal]="true" [responsive]="true"
    [focusOnShow]="false" [style]="{width: '700px', height: '1000px'}">
    <app-location-create-edit *ngIf="showDialog" [selectedData]="selectedData" [isEdit]= "isEdit" (closeDialog)="closePopupEmit($event)"></app-location-create-edit>
</p-dialog> -->